{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 19 of 21</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on expressive arts
          </h1>

          <img src="/public/images/home/collage.jpg" alt="A child making a collage">

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">Some children with increased exposure to technology will have developed new skills. Children with access to the outdoors, creative materials and imaginary play will have used their imagination and creativity.   </p>

          <p class="govuk-body">Children may have had extended opportunities to listen to music, take part in imaginative activities and explore with freedom resulting in increased opportunities to be creative and express themselves.  </p>

          <p class="govuk-body">Children may have had increased opportunities to listen to music, sing , dance or participate in other creative activities with parents and carers or siblings. As a result they may have developed new skills.    </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children will have had limited exposure to dance, music and art. Children with limited or no access to creative materials, role play items or musical activity may have limited skills and development in these areas.  </p>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-7">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-9">Save and continue</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

