{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Change your setting's information
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Your setting's postcode
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Your setting's Ofsted number
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>


        <a class="govuk-button " data-module="govuk-button" href="manage-account">Save</a> <br>
        <a href="manage-account" class="govuk-link">Cancel</a>

      </div>
    </div>

  </main>
</div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}