{% extends "layout.html" %}

{% set milestone = 'sprint-16' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}


{% block main %}
<div class="govuk-width-container">
 

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Page 10 of 18</span>
        <h1 class="govuk-heading-l">Learning check</h1>
        <div class="govuk-prompt govuk-prompt__grey">
          <div class="govuk-prompt__icon">
            <i style="color:white;"class="fa-solid fa-question icon fa-2x" ></i>
          </div>
          <h2 class="govuk-heading-m">
          Check your understanding
        </h2>

        <form class="form" action="1-2-1-6" method="post">

        
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                
                <p class="govuk-body">
                  Which of the following are benefits of child led play? <br> (Select all answers that apply)
                </p>
              </legend>
              <div class="govuk-checkboxes"  style="padding-left:45px;" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="play" name="play" type="checkbox" value="emotional" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="play" >
                    Increased social and emotional development
                  </label>
                </div>
                
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="play-1" name="play" type="checkbox" value="scaffolding">
                    <label class="govuk-label govuk-checkboxes__label" for="play-1">
                      Increased opportunities for scaffolding learning
                    </label>
                  </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="play-2" name="play" type="checkbox" value="concentration" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="play-2">
                    Increased concentration
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="play-3" name="play" type="checkbox" value="imagine"checked>
                  <label class="govuk-label govuk-checkboxes__label" for="play-3" >
                    Increased imagination and creativity
                  </label>
                </div>
              </div>
            </div>

            </fieldset>
          </div>
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              That's right.
            </h2>
          </div>
          <div class="govuk-notification-banner__content">


            <p class="govuk-body">Child led play can help children to increase their:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>imagination and creativity</li>
              <li>concentration</li>
              <li>confidence</li>
              <li>communication skills</li>
              <li>independence</li>
              <li>social and emotional development</li>
            </ul>
            <p class="govuk-body">However, children also need to take part in adult led activities. Including adult led activities in your practice gives more opportunities for you to ‘scaffold’ children’s learning, by giving them just enough help to achieve something they could not do independently.</p>
  

          </div>
        </div>
     
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="3-1-1-5">Previous</a>
          <button class="govuk-button align-right" data-module="govuk-button" type="submit">Save and continue</a>

        </form>
      </div>
    </div>
  </main>
</div>
</div>

{{super()}}
{% endblock %}