{% extends "layout.html" %}

{% set loggedIn = true %}
{% set milestone = 'sprint-16' %}
{% block main %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Page 12 of 18</span>
        <h1 class="govuk-heading-l">Balancing adult and child led activities</h1>
        <p class="govuk-body">This video explains the importance of balancing adult and child led activities and what makes them successful, as part of the early years foundation stage framework. The video demonstrates a planned adult led activity and the child led activity that follows. There are also some tips on how to support children in this area.</p>
        <div class="app-search-form-container govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Video: Balancing adult and child led activities</h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JQVWWjTFca8" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
          <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Transcript
              </span>
            </summary>
            <div class="govuk-details__text" style="background-color:white; border-left:none !important;">
              
            </div>
          </details>
        
        </div>
        <hr>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="a-healthy-diet">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="1-2-1-6b">Save and continue</a>



        </div>
        </div>
        </main>
        </div>
        {% endblock %}