{% extends "layout.html" %}

{% set loggedIn = true %}
{% set milestone = 'sprint-16' %}
{% block main %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Page 13 of 34</span>
        <h1 class="govuk-heading-l">Supporting children to build resilience</h1>
        <p class="govuk-body">This video explains the concept of self-efficacy and its importance for supporting children to build resilience, along with examples. There are also some tips on how to support children in this area.

        </p>
        <div class="app-search-form-container govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Video: Scaffolding children’s learning</h1>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/756702487?h=7b05b40d6b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Supporting children to build resilience"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Transcript
              </span>
            </summary>
            <div class="govuk-details__text" style="background-color:white; border-left:none !important;">
              
            </div>
          </details>
        
        </div>
        <hr>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="2-2-2-4">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="start-2b">Save and continue</a>



        </div>
        </div>
        </main>
        </div>
        {% endblock %}