{% extends "layout.html" %}

{% set loggedIn = true %}
{% set milestone = 'sprint-16' %}
{% block main %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Page 19 of 34</span>
        <h1 class="govuk-heading-l">Scaffolding children’s learning</h1>
        <p class="govuk-body">This video explains the importance of scaffolding children’s learning, as part of the early years foundation stage framework, and demonstrates a specific example of helping a group of 3 year olds to recognise their name by scaffolding their learning. There are also some tips on how to support children in this area.</p>
        <div class="app-search-form-container govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Video: Scaffolding children’s learning</h1>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/754787115?h=85347ffd92&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Scaffolding children&amp;rsquo;s learning"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Transcript
                </span>
              </summary>
              <div class="govuk-details__text" style="background-color:white; border-left:none !important; padding8:20px;">
                <h3 class="govuk-heading-s">Transcript</h3>
                <p class="govuk-body">Here, we understand how you’re able to help support a group of 3 year olds to learn to recognise their names by scaffolding their learning.</p>
                <p class="govuk-body">Firstly, the practitioner encourages the children to point out letters of the alphabet in books, games and displays. This allows the children to recognise and label the letters in their own name.</p>
                <p class="govuk-body">The practitioner then helps them to develop their fine motor skills using creative activities like drawing and painting.</p>
                <p class="govuk-body">The children are also given plasticine to help them shape certain letters of the alphabet, and sand trays to practice tracing letters, using paint brushes and their fingers.</p>
                <p class="govuk-body">During activities to teach them to recognise letters for their names, the practitioner introduces the children to describing words like curvy, flat and straight.</p>
                <p class="govuk-body">Sentences are then also made up to describe how to form the letters, like “top to bottom, bottom to top and around we go” for the letter P.</p>
                <p class="govuk-body">In addition to these learning exercises, the children take part in lots of other fun activities to build on their knowledge. This includes mark-making with paint, copying letters with pasta pieces and completing alphabet jigsaws.</p>
                <p class="govuk-body">In all activities, the children are encouraged to celebrate their progress, no matter how small.</p>
                <p class="govuk-body">This progress is also shared with their parents and carers, helping them to understand how to build on the children’s learning at home.</p>
              </div>
            </details>
        
        </div>
        <hr>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="2-2-2-7">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="start-3">Save and continue</a>



        </div>
        </div>
        </main>
        </div>
        {% endblock %}