{% extends "layout.html" %}

{% set milestone = 'sprint-16' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         
          <span class="govuk-caption-l">Page 12 of 34</span>
          <h1 class="govuk-heading-l">
            Theories of how children learn: Bandura

          </h1>
          <img src="/public/images/actions.jpg" alt="A practitioner smiling and holding a baby" class="govuk-!-margin-bottom-2">
          <p class="govuk-body">Albert Bandura developed the social cognitive theory. This theory suggests that children learn by observing those around them and then test what they have seen within their play and learning.</p>
          <p class="govuk-body">Bandura’s experiment, known as the Bobo doll experiment, tested the concept that children would copy the behaviour they had seen. The experiment involved groups of children witnessing an adult treating a doll well or badly. In each situation the children copied the behaviour they had seen.</p>
          <p class="govuk-body">Critics label Bandura’s theory and experiments as biased and unethical, suggesting that the nature and setting of the experiments were manipulating children to behave in a deliberate manner.</p>
          <p class="govuk-body">More recent research suggests that a child needs to meet these 4 conditions for successful social learning to take place:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>attention - the child needs to be able to pay attention to the behaviour being modelled with minimal distractions</li>
            <li>retrieving information - the child needs to be able to remember what they have seen</li>
            <li>opportunity to test observed behaviour - the child needs opportunities for spontaneous and child led play to explore the behaviour</li>
            <li>motivation - the child needs to see either similarities between themselves and the role model, or an opportunity for praise or reward</li>
          </ul>
          
          <h2 class="govuk-heading-m">Self-efficacy</h2>
          <p class="govuk-body">Bandura also developed the concept of self-efficacy. Bandura described this as an individual’s confidence in their ability to succeed.</p>
          <p class="govuk-body">If a child only ever experiences success, they will not develop resilience. They will always expect to achieve and will not know how to cope with failure. Bandura believed it was the process of overcoming obstacles and persevering and then eventually achieving that supported children to positively develop both self-efficacy and resilience.</p>
          <p class="govuk-body">More recent research suggests that a child needs to meet these 4 conditions for successful social learning to take place:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>mastery - opportunities to master tasks or skills and experience success</li>
            <li>vicarious experiences - opportunity to observe others who are similar to themselves succeeding</li>
            <li>persuasion - support from influential role models in the child’s life with praise and encouragement</li>
            <li>imagination - the ability for the child to imagine themselves succeeding</li>

            </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-1-5b-incorrect">Previous</a>

          <a class="govuk-button align-right" data-module="govuk-button" href="2-2-2-4-video">Save and continue</a>

        </div>
      </div>
    </main>
  </div>

  {{super()}}
{% endblock %}
