{% extends "layout.html" %}

{% set milestone = 'sprint-16' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 9 of 20</span>
          <h1 class="govuk-heading-l">
            The practitioner's role
          </h1>
          <img src="/public/images/two-practitioners.jpg" alt="A practitioner outdoors with a toddler, smiling as the toddler plays with an outdoor playset" class="govuk-!-margin-bottom-2">

          <p class="govuk-body">When children experience anything other than a secure attachment, they will need many of the same support strategies that all children need, but with more emphasis placed in certain areas.</p>


          <h2 class="govuk-heading-m">Maintain predictable routines</h2>
          <p class="govuk-body">Children without a secure attachment style may not instinctively rely on adults, and inconsistent routines or unpredictability will make the development of this reliance even more difficult.</p>
         
          <h2 class="govuk-heading-m">Emotional age</h2>
          <p class="govuk-body">You will need to offer the correct support and learning experiences for the child’s current stage of emotional development, rather than the level you might expect them to be at for their age.</p>
 
          <h2 class="govuk-heading-m">Name feelings</h2>
          <p class="govuk-body">You should support children to develop an ability to express how they feel and the reasons for their feelings.
          </p>

          <h2 class="govuk-heading-m">Timely support</h2>
          <p class="govuk-body">If you have had to put consequences in place as a result of challenging behaviour, be sure that relatively quickly afterwards the child knows that you are still there to support them. Where children have not been used to set expectations, consequences can be very unsettling and may impact on any progress made.</p>

          <div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-info icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">To support children, you can:</p>
            <ul style="padding-left:70px!important; padding-right:20px;"class="govuk-list govuk-list--bullet">
              <li>use stories, discussions, puppets, role play and questioning to help them name and manage their feelings and anxieties </li>
              <li>involve them in discussions about changes in routine </li>
              <li>use visual aids as regular reminders of the new routine</li>
              <li>offer regular reassurance and praise</li>
  
            </ul>

            <p class="govuk-body" style="padding-left:30px!important">You should also explain why you have set consequences for children’s actions as soon as they happen. This makes sure they know that you have dealt with the incident and they do not need to dwell on it.</p>
					</div>


          <h2 class="govuk-heading-m">Have realistic expectations</h2>
          <p class="govuk-body">Children may take small steps towards building trust, self-esteem and confidence. Celebrate each small step so the child’s progress can be acknowledged. This will help them to feel valued and important.</p>
        
          
          <h2 class="govuk-heading-m">Set boundaries</h2>
          <p class="govuk-body">When children are struggling in any area, it may be tempting to relax boundaries or expectations to show care and support. In fact, children need the opposite. They need their environment and significant adults to be predictable and reliable to help them build trust.</p>

          <h2 class="govuk-heading-m">Encourage peer relationships</h2>
          <p class="govuk-body">Positive peer relationships can support the development of self-esteem, which can also aid development of self-worth. Peer relationships can also help children to explore and understand their feelings and thoughts.</p>
        

          <div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-info icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">You can support children in your setting in several ways. You should make sure to discuss expected behaviour and rules with children. This will help them to understand your expectations and behave accordingly.</p>
            <p class="govuk-body" style="padding-left:30px!important">You should also model social skills that promote positive peer relationships. This includes things like being polite, taking turns and sharing resources.</p>
            <p class="govuk-body" style="padding-left:30px!important">As well as this, you can introduce paired and small group activities where children must work together to achieve a goal. This helps to encourage communication, co-operation and relationship building.</p>
            
					</div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="start-2">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="2-2-2-7-video">Next </a>
        </div>
      </div>
    </main>
  </div>

  {{ super() }}
{% endblock %}
