{% extends "layout.html" %}

{% set loggedIn = true %}
{% set milestone = 'sprint-16' %}
{% block main %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Page 5 of 18</span>
        <h1 class="govuk-heading-l">Strategies to support language development</h1>
        <p class="govuk-body">
          This video explains the different strategies to support language development. It includes examples of when, why and how to use expansion, narration, reasoning and positive feedback as part of the EYFS.</p>
        <div class="app-search-form-container govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Video: Strategies to support language development</h1>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/756356870?h=43e3c40768&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Strategies to support language development"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Transcript
              </span>
            </summary>
            <div class="govuk-details__text" style="background-color:white; border-left:none !important;">
              <p class="govuk-body">Today, we’re taking a look at language development and the strategies you can use to support children’s learning.</p>
              <p class="govuk-body">As a practitioner, there are 4 main strategies to consider.</p>
              <p class="govuk-body">First, let’s talk about expansion.</p>
              <h3 class="govuk-heading-s">Expansion</h3>
              <p class="govuk-body">Expansion is where you expand what a baby or child is saying and model their communication back to them.</p>
              <p class="govuk-body">For example, if a toddler gestures to a picture of a cow and says “cow”, you can expand on this.</p>
              <p class="govuk-body">Practitioner: A cow! A big cow. Is it a big brown cow? Look, and then he’s got big horns. And what’s this?</p>
              <p class="govuk-body">Child: Tongue!</p>
              <p class="govuk-body">Practitioner: His tongue!</p>
              <p class="govuk-body">As children attempt to put 2 words together, they may say phrases such as “drink cup”. You can model back a fuller response such as “Would you like a drink in a cup?”</p>
              <h3 class="govuk-heading-s">Narration</h3>
              <p class="govuk-body">Narration is when you add a running commentary to your everyday actions.</p>
              <p class="govuk-body">It allows children to hear new vocabulary and learn about the environment around them. For example, when changing a baby’s nappy, you could say, “Let’s find your wipes and a clean nappy.”</p>
              <p class="govuk-body">Practitioner: Do you want Magdalena to change your nappy? Yeah? You clever girl!</p>
              <p class="govuk-body">And with older children, you could add commentary such as “I’m going to put these books away now.”</p>
              <p class="govuk-body">Practitioner: I’m going to put this one back in here. Oh, ‘Some Dogs Do’!</p>
              <h3 class="govuk-heading-s">Reasoning</h3>
              <p class="govuk-body">Reasoning can encourage children to make sense of the things around them.</p>
              <p class="govuk-body">As a practitioner, you should use comments and questions to encourage children to think about actions and objects in more detail. For example, if children are playing in the sand tray, you could encourage them to consider if some buckets hold more sand than others and ask why that is.</p>
              <h3 class="govuk-heading-s">Positive feedback</h3>
              <p class="govuk-body">Finally, you can support language development through providing positive feedback when children communicate. Positive feedback can include making eye contact, smiling, or offering verbal praise.</p>
              <p class="govuk-body">Practitioner: Oh my goodness me, well done! That was really good, high five!</p>


            </div>
          </details>
        
        </div>
        <hr>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="4-3-1-2a-video">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="4-3-1-2a-video2">Save and continue</a>



        </div>
        </div>
        </main>
        </div>
        {% endblock %}