{% extends "layout.html" %}

{% set loggedIn = true %}
{% set milestone = 'sprint-16' %}
{% block main %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Page 6 of 18</span>
        <h1 class="govuk-heading-l">Communicating with children in your care</h1>
        <p class="govuk-body">This video shows examples of practitioners interacting and communicating with children during different activities within a setting, as part of the early years foundation stage framework. This video is intended to provide useful tips and ideas on different ways to communicate with children in your care.</p>
        <div class="app-search-form-container govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Video: Communicating with children in your care</h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JQVWWjTFca8" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
          <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Transcript
              </span>
            </summary>
            <div class="govuk-details__text" style="background-color:white; border-left:none !important;">
              
            </div>
          </details>
        
        </div>
        <hr>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="4-3-1-2a-video2">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="">Save and continue</a>



        </div>
        </div>
        </main>
        </div>
        {% endblock %}