{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">
				{{ govukBackLink({
					text: "Back",
					href: "/index"
				}) }}
				<h1 class="govuk-heading-l">Example 4</h1>

				<a class="govuk-button" href="4-3-1-2a">Continue</a>
			</div>

		</div>

	</main>
</div>
{% endblock %}