<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css">
  <script src="https://kit.fontawesome.com/c87b5c47e2.js" crossorigin="anonymous"></script>
{% endfor %}
