{% extends "layout.html" %}

{% set milestone = 'sprint-14' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Module 1",
        href: "#"
      },
      {
        text: "Development of personal, social and emotional skills",
        href: "#"
      },
      {
        text: "12 months to 2 years old",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         
          <span class="govuk-caption-l">Page 3 of 10</span>
          <h1 class="govuk-heading-l">
            12 months to 2 years old

          </h1>
          
          <img src="/public/images/babies-two.jpg" alt="A practitioner smiling and holding a baby" class="govuk-!-margin-bottom-2">
          <h2 class="govuk-heading-m">0 to 12 months</h2>
          <p class="govuk-body">In the first 12 months of life, you will notice that babies will remain shy or nervous with strangers and will still cry when their parent or carer leaves. They will already have favourite things. For example, they may show you a favourite book to read together. This is a great opportunity to engage in conversation and take an interest in things that are important to them.</p>

          
          <div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-info icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">Look out for babies attempts to communucate.</p>
            <p class="govuk-body" style="padding-left:30px!important">These may include simple gestures, such as shaking their head for no or waving goodbye. </p>
            <p class="govuk-body" style="padding-left:30px!important">You should acknowledge and respond to these communication attempts.</p>
            <p class="govuk-body" style="padding-left:30px!important">This will make babies feel valued and important. It will also encourage further communication development as they try to copy the words that you say.</p>
          
					
					</div>

          <p class="govuk-body">Babies will enjoy playing games such as “peek-a-boo” and “pat-a-cake”, as they will like the eye contact and adult interaction involved. This will also help them to repeatedly test the concept of object permanence.</p>

          <div class="govuk-inset-text quote govuk-!-padding-bottom-6">
            <p>“Around 7 months, does the baby respond to their name and respond to the emotions in your voice?”</p>
            <p><strong>Development Matters, 2021</p></strong>
          </div>
          
          <h2 class="govuk-heading-m">12 to 18 months</h2>
          <p class="govuk-body">Between 12 and 18 months, children will dislike sharing and will be happier playing alone. They will have a sense that items belong to them and may fight with others if they are expected to share. Children of this age will want to do things independently but will not always have the ability to do so. They may also become easily frustrated, which could quickly result in tantrum-like behaviour. At this age, children will be happy to separate for short periods and will enjoy being able to copy adult behaviours like cooking and driving.</p>
          <div class="govuk-inset-text quote govuk-!-padding-bottom-6">
            <p>“Around 12 months, does the baby start to be shy around strangers and show preferences for certain people and toys?”</p>
            <p><strong>Development Matters, 2021</p></strong>
          </div>

          <h2 class="govuk-heading-m">18 to 24 months</h2>
          <p class="govuk-body">Between 18 and 24 months old, children may still be afraid of strangers, which will leave them clinging to familiar caregivers in new situations. They will show affection to familiar people and be happy to explore alone if a parent or carer is nearby.
          </p>
          <p class="govuk-body">Communication will now include pointing to things they want and things they find interesting. Shaking their head might now be accompanied with the word no. Children’s frustrations may be shown as temper tantrums</p>
       
          <div class="govuk-inset-text quote govuk-!-padding-bottom-6">
            <p>“Around 18 months, is the toddler increasingly curious about their world and wanting to explore it and be noticed by you?”</p>
            <p><strong>Development Matters, 2021</p></strong>
          </div>
          

          <div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-info icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">By providing appropriate activities and opportunities, you can help toddlers develop important skills.
            </p>
            <h3 class="govuk-heading-s" style="padding-left:30px!important">Problem solving</h3>
            <p class="govuk-body" style="padding-left:30px!important">You can help toddlers become problem solvers by giving them enough time to try things themselves, without rushing.  </p>
            <p class="govuk-body" style="padding-left:30px!important">This could include activities, like puzzles, and routine tasks, like trying to put their foot in a shoe.</p>

            <h3 class="govuk-heading-s" style="padding-left:30px!important">Conflict resolution</h3>
            <p class="govuk-body" style="padding-left:30px!important">You can help toddlers learn to resolve conflict by explaining:</p>
            <ul style="padding-left:50px!important;"class="govuk-list govuk-list--bullet">
              <li>how their actions have made others feel</li>
              <li>the importance of saying sorry</li>
              </ul>

              <h3 class="govuk-heading-s" style="padding-left:30px!important">Joint play</h3>
              <p class="govuk-body" style="padding-left:30px!important">You can help toddlers play well together through adult-led paired and small group activities.</p>
					</div>
          
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="3-1-1-1">Previous</a>

          <a class="govuk-button align-right" data-module="govuk-button" href="3-1-1-3a">Save and continue</a>

        </div>
      </div>
    </main>
  </div>

  {{super()}}
{% endblock %}
