{% extends "layout.html" %}

{% set milestone = 'sprint-14' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}


{% block main %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Module 3",
        href: "#"
      },
      {
        text: "Development of personal, social and emotional skills",
        href: "#"
      },
      {
        text: "Learning check",
        href: "#"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Page 7 of 10</span>
        <h1 class="govuk-heading-l">Learning check</h1>
        <div class="govuk-prompt govuk-prompt__grey">
          <div class="govuk-prompt__icon">
            <i style="color:white;"class="fa-solid fa-question icon fa-2x" ></i>
          </div>
          <h2 class="govuk-heading-m">
          Check your understanding
        </h2>

        <form class="form" action="" method="post">

        
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <p class="govuk-body">
                  True or false? Around the age of 5, a child will begin to choose their friends based upon characteristics they would like for themselves.
                </p>
              </legend>
              <div class="govuk-radios" style="padding-left:45px;" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="four" name="answer" type="radio"
                    value="true">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  True
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="two" name="answer" type="radio"
                    value="false">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  False
                  </label>
                </div>
             
              </div>
            </div>

            </fieldset>
          </div>


        <div class="govuk-notification-banner govuk-notification-banner" role="alert"
        aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            That's not quite right.
          </h2>
        </div>
        <div class="govuk-notification-banner__content">


          <p class="govuk-body">At age 5 children will want to please others and are able to take part in activities and tasks that involve cooperation and direction. They will be choosing their own friends and will see characteristics in friends that they would like for themselves.</p>
        </div>
      </div>


          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="3-1-1-5a">Previous</a>
          <button class="govuk-button align-right" data-module="govuk-button" type="submit">Save and continue</a>

        </form>
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}