{% extends "layout.html" %}

{% set milestone = 'sprint-14' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Module 3",
        href: "#"
      },
      {
        text: "Development of personal, social and emotional skills",
        href: "#"
      },
      {
        text: "2 to 3 years old",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         
          <span class="govuk-caption-l">Page 4 of 10</span>
          <h1 class="govuk-heading-l">
           2 to 3 years old

          </h1>
          
          <img src="/public/images/toddlers-playing.jpg" alt="A practitioner smiling and holding a baby" class="govuk-!-margin-bottom-2">
          
          <p class="govuk-body">At 2 years old, children will be copying those around them. They will get excited to be with other children, even though they continue to mainly play alongside others and not with them. They will start to play imaginative games and become more independent, although this may also be accompanied by increased defiance.</p>
          <p class="govuk-body">Toddlers will have a better understanding of themselves as individuals, but with this will come a wider range of more complex feelings. </p>
          
          <div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-exclamation icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">You should name and discuss feelings to help toddlers process them.</p>
            <p class="govuk-body" style="padding-left:30px!important">Other activities to help 2 to 3 year olds explore feelings include:</p>
            <ul style="padding-left:50px!important;"class="govuk-list govuk-list--bullet">
            <li>sharing stories and asking questions about how the character is feeling</li>
            <li>using puppets or toys to role play different scenarios and discussing the feelings involved</li>
            <li>providing opportunities for children to spontaneously role play different scenarios and explore the feelings involved</li>
            <li>playing games which involve matching facial expressions with feelings</li>
            <li>using ‘feelings flashcards’ to help children identify their feelings</li>
            <li>discussing feelings as a group during ‘circle time’ </li>
            </ul>
					</div>

          <p class="govuk-body">At around 3 years old, children will be showing more affection for friends and will visibly show concern when friends are upset. </p>
          <p class="govuk-body">Children of this age will have a better understanding of the concept of ‘mine’ or ‘theirs’ and will be able to take turns in activities.</p>
  
         
       

          <div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-exclamation icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">You should provide activities that require children to share resources and take turns. This will help them to develop problem solving and cooperation skills.</p>
         </div>

         <p class="govuk-body">Children will now find it easier to separate from their parent or carer, but may still struggle with major changes to their routine. They will be becoming more independent with skills such as dressing and undressing and enjoy playing make believe.</p>
         <p class="govuk-body">By 3 years old, most children will be able to have a conversation using 2 to 3 sentences at a time. However, each child’s developmental levels will depend on the influences they have experienced up to that point. For example, if children are coming into a childcare setting for the first time, their current level of understanding will have been shaped in the home environment. Children will have been dependent on their early social experiences and environments to support their understanding.</p>
          
         <div class="govuk-inset-text quote govuk-!-padding-bottom-6">
          <p>“Around the age of 2, does the child start to see themselves as a separate person? For example, do they decide what to play with, what to eat, what to wear? <br>
            Between the ages of 2 and 3, does the child start to enjoy the company of other children and want to play with them?”
          </p>
          <p><strong>Development Matters, 2021</p></strong>
        </div>
        <div class="govuk-prompt">
          <div class="govuk-prompt__icon">
            <i style="color:white;"class="fa-solid fa-brain icon fa-2x" ></i>
          </div>
        
          <h2 class="govuk-heading-m">Reflection point</h2>
          <p class="govuk-body">Reflect on what you have read about the social and emotional development of children aged 2 to 3.</p>
          <p class="govuk-body">Think about your work with 2 to 3 year olds (where applicable). </p>
          <p class="govuk-body">Consider the following questions:</p>
          <ul style="padding-left:70px!important; padding-right:20px;"class="govuk-list govuk-list--bullet">
            <li>What activities, resources and opportunities do you offer to help 2 to 3 year olds discuss and process their feelings? </li>
            <li>What impact do they have on the children and their development? </li>
            <li>How could you extend or improve on these activities, resources and opportunities? </li>

          </ul>
          </div>
          <form action="3-1-1-3b" method="post">
          <div class="govuk-prompt govuk-prompt__grey">
            <div class="govuk-prompt__icon">
              <i style="color:white;"class="fa-solid fa-pencil icon fa-2x" ></i>
            </div>
            <h2 class="govuk-heading-m">Add to your learning log</h2>
        
             
              
                <p class="govuk-body" >Use this space to make notes on the reflection point. Do not enter any personal or sensitive information like children's names.</p>
                <p class="govuk-body" >All your notes will be added to your personal <a href="/sprint-11/learning-log">learning log.</a></p>
    
           
                  <div class="govuk-form-group govuk-log-text">
                    <label class="govuk-label" for="label-as-page-heading">
                      Your notes
                    </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="log-reflect-1" rows="5" aria-describedby="label-as-page-heading-info">{{ data['log-reflect-1'] }}</textarea>
                  </div>
                
              
            
            </div>
          
         
         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="3-1-1-2">Previous</a>

          <button class="govuk-button align-right" data-module="govuk-button" type="submit">Save and continue</a>
          </form>
        </div>
      </div>
    </main>
  </div>

  {{super()}}
{% endblock %}
