{% extends "layout.html" %}

{% set milestone = 'sprint-14' %}
{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        </div>
      </div>

      <h2 class="govuk-heading-l">My modules</h2>

      <h2 class="govuk-heading-m">Modules in progress</h2>
      <p class="govuk-body">You have not started any modules. To begin the training course, start an available module.</p>
      <h2 class="govuk-heading-m">Available modules</h2>

      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-card__flex-container">
            <div class="govuk-card__flex-item">
              <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="module-overview"></a>
                <div class="govuk-card__hero govuk-!-margin-bottom-2">
                  <img src="../../public/images/dancing.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Module 1: Supporting children's personal, social and emotional development</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>


      <div class="govuk-grid-row  govuk-!-margin-top-4">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Future modules in this course  </h2>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-card__flex-container">
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Module 2: Brain development in the early years</h3>
                <p class="govuk-body">
                  This module will reinforce your understanding of how a child's brain develops and how to consider factors affecting brain development when planning for your setting. You can start it once you’ve completed module 1.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="course-overview">View more information about this module</a>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">

              <div class="govuk-card__content">
                
                <h3 class="govuk-heading-s">Module 3: Child development and the EYFS</h3>
                <p class="govuk-body">
                  This module will help you consider how the development of personal, social and emotional skills impact on a child's overall development. You can start it once you’ve completed modules 1 and 2.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="course-overview">View more information about this module</a>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Module 4: Supporting language development in the early years</h3>
                <p class="govuk-body">
                  This module explains how children learn language, and how you can support their development in your setting. You can start it once you’ve completed modules 1, 2 and 3.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="course-overview">View more information about this module</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-card__flex-container">
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">

              <div class="govuk-card__content">
                
                <h3 class="govuk-heading-s">Module 5: Physical development</h3>
                <p class="govuk-body">
                  This module explores the stages of children’s physical development and how you can support them to progress. You can start it once you’ve completed modules 1, 2 and 3.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="course-overview">View more information about this module</a>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Coming soon - Module 6: Encouraging holistic development</h3>
                <p class="govuk-body">
                  This module explores what holistic development is,why it’s important and how you can promote it in your setting. It will be available to start in autumn 2022.
                </p>
              </div>

            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Coming soon - Module 7: Meeting the needs of all children</h3>
                <p class="govuk-body">
                  This module explores the importance of supporting children’s individual needs, including strategies to do this in your practice. It will be available to start in autumn 2022. 
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row  govuk-!-margin-top-4">
        <div class="govuk-grid-column-full">
         
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-card__flex-container">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Coming soon - Module 8: Planning inclusive learning</h3>
                <p class="govuk-body">
                  This module explores strategies to create a diverse and inclusive learning environment for all children in your care. It will be available to start in winter 2022.

                </p>
              </div>

            </div>
          </div>
           <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Coming soon - Module 9: Effective observation and assessment</h3>
                <p class="govuk-body">
                  This module explores how to observe and assess children in your care, and use the findings to help them progress. It will be available to start in winter 2022.
                </p>
              </div>
             
            </div>
          </div>
      
          <div class="govuk-grid-column-one-third">
            <div class="govuk-card govuk-card__height">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Coming soon - Module 10: Mathematics</h3>
                <p class="govuk-body">
                  This module explores how to support children to develop their numeracy and counting skills. It will be available to start in winter 2022. 
                </p>
              </div>

            </div>
          </div>

        
        </div>
      </div>

  


    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}