.prompt.prompt-home {
    background: #ebf2f6;
    border-top: #347ca9 solid 10px;
  }

  .prompt.prompt-home .svg-inline--fa {
    background-color: #347ca9 !important;
  }

  .govuk-details__text.key-concept {
    border-left: 5px solid #28a197;
}

@media (min-width: 30em) {
  .prompt.prompt-home .govuk-grid-column-one-quarter {
    margin-right: -120px;
  }
}
@media (min-width: 80em) {
  .prompt.prompt-home .govuk-grid-column-one-quarter {
    margin-right: -220px;
  }
}