.card-progress-bar {
    color: $govuk-secondary-text-colour;
    margin-top: auto;
}

.bar-settings {
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
    position: relative;
}

.bar-bg {
    width: 100%;
    background-color: $govuk-border-colour;
    height: 8px;
    border-radius: 4px;
}

.bar-progress {
    height: 8px;
    background-color: $govuk-success-colour;
    border-radius: 4px;
    position: absolute;
    top: 10px;
}

.bar-ball {
    width: 17px;
    height: 17px;
    background-color: $govuk-success-colour;
    border-radius: 9px;
    position: absolute;
    top: -4px;
    right: 0;
}

.card:hover .card-progress-bar {
    color: govuk-colour("white");
}
.card:hover .card-progress-bar .bar-bg {
    background-color: govuk-colour("black");
}

.card:hover .card-progress-bar .bar-progress, .card:hover .card-progress-bar .bar-ball {
    background-color: govuk-colour("yellow");
}

.card-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
}
