.nhsuk-card {
    margin-bottom:
        40px;
    background: #E5E5E5;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%
}

@media (min-width: 40.0625em) {
    .nhsuk-card {
        margin-bottom: 48px
    }
}

.nhsuk-card__img {
    border-bottom: 1px solid #f0f4f5;
    display: block;
    width: 100%
}

@media print {
    .nhsuk-card__img {
        display: none
    }
}

.nhsuk-card__content {
    padding: 24px;
    position: relative
}

.nhsuk-card__content>*:first-child {
    margin-top: 0
}

.nhsuk-card__content>*:last-child {
    margin-bottom: 0
}

@media (min-width: 40.0625em) {
    .nhsuk-card__content {
        padding: 32px
    }
}
  .nhsuk-card--clickable > a:focus {
    background-color: initial !important;
  }
  

.nhsuk-card__heading,
.nhsuk-card__metadata,
.nhsuk-card__description {
    margin-bottom: 16px
}

.nhsuk-card--clickable {
    border-bottom-width: 4px
}

.nhsuk-card--clickable:hover,
.nhsuk-card--clickable:active {
    cursor: pointer
}

.nhsuk-card--clickable:hover .nhsuk-card__heading a,
.nhsuk-card--clickable:hover .nhsuk-card__link,
.nhsuk-card--clickable:active .nhsuk-card__heading a,
.nhsuk-card--clickable:active .nhsuk-card__link {
    color: #7C2855;
    text-decoration: none
}

.nhsuk-card--clickable:hover .nhsuk-card__heading a:focus,
.nhsuk-card--clickable:hover .nhsuk-card__link:focus,
.nhsuk-card--clickable:active .nhsuk-card__heading a:focus,
.nhsuk-card--clickable:active .nhsuk-card__link:focus {
    color: #212b32
}

.nhsuk-card--clickable:hover {
    border-color: #1D70B8
}

.nhsuk-card--clickable:active {
    border-color: #aeb7bd;
    bottom: -1px
}

.nhsuk-card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 0
}

@media (max-width: 48.0525em) {
    .nhsuk-card-group {
        margin-bottom: 40px
    }
}

.nhsuk-card-group+h2,
.nhsuk-card-group+.nhsuk-heading-l,
.nhsuk-card-group+h3,
.nhsuk-card-group+.nhsuk-heading-m {
    padding-top: 0
}

.nhsuk-card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0
}

@media (max-width: 48.0525em) {
    .nhsuk-card-group__item {
        flex: 0 0 100%
    }
}

.nhsuk-card-group__item .nhsuk-card {
    margin-bottom: 32px
}

@media (max-width: 48.0525em) {
    .nhsuk-card-group__item .nhsuk-card {
        margin-bottom: 16px
    }

    .nhsuk-card-group__item:last-child .nhsuk-card {
        margin-bottom: 0
    }
}



