.wrapper--grey {
    background-color: $govuk-grey-3;
    padding: $govuk-spacing-scale-4;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
  }
  
  section {
    @include govuk-responsive-margin($govuk-spacing-responsive-9, "bottom");
  }
  
  $govuk-card-border : $govuk-blue;
  $govuk-card-selected-background-colour : $govuk-blue;
  $govuk-card-selected-foreground-colour : $govuk-white;
  
  .govuk-card__flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .govuk-card__flex-item {
    display: flex;
    overflow: hidden;
  }
  
  .govuk-card {
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
    @include govuk-responsive-padding($govuk-spacing-responsive-6, "bottom");
    border-bottom: 3px solid $govuk-card-border;
    box-sizing: border-box;
  }
  
  .govuk-card--contained {
    background-color: $govuk-grey-4;
  }
  
  .govuk-card--contained--on-background {
    background-color: $govuk-white;
  }
  
  .govuk-card--borderless {
    border: 0;
    padding-bottom: 0;
  }
  
  .govuk-card--selectable {
    position: relative;
  }
  
  .govuk-card--selectable h3 {
    color: $govuk-blue;
  }
  
  .govuk-card--selectable a {
    position: relative;
    z-index: 1;
  }
  
  .govuk-card--selectable:hover {
    background-color: $govuk-card-selected-background-colour;
  }
  
  .govuk-card--selectable:hover > .govuk-card__content > h3,
  .govuk-card--selectable:hover > .govuk-card__content > p,
  .govuk-card--selectable:hover > .govuk-card__content > h3 > a,
  .govuk-card--selectable:hover > .govuk-card__actions > ul > li > a {
    color: $govuk-card-selected-foreground-colour !important;
  }
  
  .govuk-card--selectable:hover > .govuk-card__content > h3 > a:hover,
  .govuk-card--selectable:hover > .govuk-card__actions > ul > li > a:hover {
    color: lighten($govuk-light-blue, 30%) !important;
  }
  
  .govuk-card--selectable > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  
  .govuk-card--selectable > a:focus {
    background-color: initial !important;
  }
  
  
  .govuk-card__hero {
    line-height: 0;
  }
  
  .govuk-card__hero img {
    max-width: 100%;
  }
  
  .govuk-card__content {
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
    padding-bottom: 0;
  }
  
  .govuk-card__content p {
    margin-bottom: 0;
  }
  
  .govuk-card__content p + p {
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "top");
  }
  
  .govuk-card--contained .govuk-card__content {
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "left");
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "right");
  }
  
  .govuk-card__actions {
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
    padding-bottom: 0;
  }
  
  .govuk-card--contained  .govuk-card__actions {
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "left");
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "right");
  }
  
  .govuk-card__actions > .govuk-c-button {
    margin-bottom: 0;
  }
  