h3.govuk-heading-s {
    font-size: 19px;
}

section.completed {
    background-color: govuk-colour("light-grey");
    border-radius: 6px;
    padding: govuk-spacing(7);
}


@media (max-width: 40em) {
    section.completed {
        padding: govuk-spacing(4);
    }

    section.completed td, section.completed th {
        font-size: 14px;
    }
}