

/* ==========================================================================
   #PROGRESS BAR
   ========================================================================== */
   .hmcts-progress-bar {
    margin-bottom: 40px;
  }
  
  .hmcts-progress-bar__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: justify;
    vertical-align: top;
  }
  .hmcts-progress-bar__list::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .hmcts-progress-bar__list::before {
    border-top: 6px solid #CECECE;
    content: "";
    left: 0;
    position: absolute;
    top: 13px;
    width: 100%;
  }
  
  .hmcts-progress-bar__list-item {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: inline-block;
    max-width: 20%;
    position: relative;
    text-align: center;
    vertical-align: top;
  }
  @media print {
    .hmcts-progress-bar__list-item {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .hmcts-progress-bar__list-item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .hmcts-progress-bar__list-item {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  .hmcts-progress-bar__list-item:first-child::before, .hmcts-progress-bar__list-item:last-child::before {
    border-top: 6px solid #ffffff;
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 50%;
  }
  .hmcts-progress-bar__list-item:first-child::before {
    left: 0;
  }
  .hmcts-progress-bar__list-item:last-child::before {
    left: auto;
    right: 0;
  }
  .hmcts-progress-bar__list-item[aria-current=step] {
    font-weight: 700;
  }
  
  .hmcts-progress-bar__icon {
    position: relative;
    background-color: #ffffff;
    border: 6px solid #CECECE;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
  }
  
  .hmcts-progress-bar__icon--complete {
    background-color: #00703c;
    background-image: url(/public/images/icon-progress-tick.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-color:#00703c;
  }
  
  .hmcts-progress-bar__label {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    display: block;
    font-weight: inherit;
    margin-top: 10px;
    position: relative;
    word-wrap: break-word;
  }
  @media print {
    .hmcts-progress-bar__label {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .hmcts-progress-bar__label {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .hmcts-progress-bar__label {
      font-size: 14pt;
      line-height: 1.2;
    }
  }

.hmcts-progress-bar-vertical .hmcts-progress-bar__icon {
    height: 45px;
    width: 45px
    ;
}
.hmcts-progress-bar-vertical  {

  width: 107%;
  margin-left:-21px;
}

.hmcts-progress-bar-vertical .hmcts-progress-bar__list::before {

    margin-top: 7px;
}
.hmcts-progress-bar__list-item:first-child::before, .hmcts-progress-bar__list-item:last-child::before  { border-top: 4px solid #fff; margin-top: 7px }

