.icon-svg{
    color:white;
    height: 60px;
    width:60px;
}

.govuk-icon__list{
    list-style: none;
    margin-top: 0;
    padding-left: 40px;
    position: relative;
    font-family: 'GDS Transport';
    margin-bottom:40px;
 
}

.govuk-icon__list-item > i {
    left:0;
    margin-top:-5px;
    position: absolute;
    color:white;
    background-color: #28A197;
    padding: 10px 10px 10px 10px;
}

.govuk-icon__list-item > p {
    position: relative;
    padding-left: 40px;
}
    



.govuk-prompt{
margin-bottom: 40px;
    margin-top: 40px;
   
    background-color: #BFE3E0;
    color: #212b32;
    border-top: 10px solid #28A197;

    padding-top: 0!important;
    padding-left:20px;
    padding-bottom:10px;


}

.govuk-prompt__grey{
    margin-bottom: 40px;
        margin-top: 40px;
       
        background-color: #f3f2f1;
        color: #212b32;
        border-top: 10px solid #28A197;
    
        padding-top: 0!important;
        padding-left:20px;
        padding-bottom:10px;
    
    }
    


.govuk-prompt__icon{
    background-color: #28A197;
    color: #212b32;
    display: inline-block;
    margin: 0 0 8px -33px;
    padding: 8px 20px;
    position: relative;
    top: -16px;
}


.govuk-prompt h2{
    text-align: left;
    display: block;
    padding-left:45px;
    margin-top:-55px;
}

.govuk-prompt h1{
    text-align: left;
    display: block;
    padding-left:45px;
    margin-top:-55px;
}
.govuk-prompt p{
    padding-left:45px;
    padding-right:30px;
    
}

.gov-uk-prompt ul{
    padding-left:50px!important;
}