.dfe-cust-image-box {display: flex; flex-direction: column;}
.ib-left-pane {order: 2}
.ib-right-pane {order: 1}
.dfe-cust-image-box-inner {flex: 100%; padding: 1.5em; background-size: cover; background-position: center;}
.dfe-light-bg {background: #ebf2f6;}

@media (min-width: 40.0625em) {
    .ib-left-pane {order: 1}
    .ib-right-pane {order: 2}
    .dfe-cust-image-box-inner {flex: 50%; padding: 3em;}
    .dfe-cust-image-box {flex-direction: row;}
}