$icon-diameter: 36px;
$progress-bar-container-width: 81px;

.module-overview-section-break {
  margin-left: $progress-bar-container-width;
}

.module-overview--section {
  display: grid;
  grid-template-columns: $progress-bar-container-width auto;
  
  .icon {
    border-radius: 50%;
    width: $icon-diameter;
    height: $icon-diameter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 2;
    position:absolute;
  
    &.completed {
      background-color: govuk-colour('blue');
      color: govuk-colour('white');
    }
    
    &.started {
      background-color: govuk-colour('white');
      color: govuk-colour('blue');
      outline: 4px solid govuk-colour('blue');
      outline-offset: -4px;
    }
    
    &.not_started {
      background-color: govuk-colour('white');
      color: govuk-colour('black');
      outline: 1px solid govuk-colour('mid-grey');
      outline-offset: -1px;
    }
  }
  
  .line {
    height: 100%;
    border-left: 1px solid govuk-colour('mid-grey');
    position: relative;
    z-index: 1;
    right: -18px;
    
    @include govuk-media-query($from: tablet) {
      right: -18px;
    }
  }

  .module-section--container {

      display: grid;
      grid-template-columns: auto 139px;
      gap: 7px;
      margin-left: 10px;
      margin-right: 10px;
  
    
    .progress-indicator {
      margin-left: auto;
    }
  }
}

.module-section--item li {list-style: square;}