.print-link {
    display: none
}

.print-link.print-link--show-without-js {
    display: block
}

.js-enabled .print-link {
    display: block
}

.print-link__link,
.print-link__button {
    background: url(/public/images/print-icon.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .print-link__link,
    .print-link__button {
        background-image: url(/public/images/print-icon.png)
    }
}

.print-link__link:hover,
.print-link__button:hover {
    background-color: #f3f2f1
}

.print-link__link {
    box-shadow: inset 0 0 0 1px #b1b4b6
}

.print-link__link:focus {
    border: 0;
    box-shadow: 0 3px #0b0c0c
}

.print-link__button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0
}

.print-link__button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    background-color: #fd0;
    border-color: transparent
}