.app-subnav {
    margin-bottom: 100px;
    padding: 0 15px 0 0;
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429
}

@media print {
    .app-subnav {
        font-family: sans-serif
    }
}

@media(min-width:40.0625em) {
    .app-subnav {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .app-subnav {
        font-size: 14pt;
        line-height: 1.2
    }
}

@media(max-width:40.0525em) {
    .app-subnav {
        display: none
    }
}

.app-subnav--mobile {
    display: block
}

@media(min-width:40.0625em) {
    .app-subnav--mobile {
        display: none
    }
}

.js-enabled .app-subnav--mobile {
    display: none
}

.js-enabled .app-mobile-nav--active.app-subnav--mobile {
    display: block
}

@media(min-width:40.0625em) {
    .js-enabled .app-mobile-nav--active.app-subnav--mobile {
        display: none
    }
}

.app-subnav--mobile .app-subnav__section {
    display: none
}

.app-subnav--mobile .app-subnav__link.is-active+.app-subnav__section {
    display: block
}

.js-app-mobile-nav-toggler.is-active:after {
    display: inline-block;
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border-color: transparent transparent currentcolor;
    border-style: solid;
    border-width: 0 5px 8.66px
}

.app-subnav__section {
    margin: 10px 0 20px;
    padding: 0;
    list-style-type: none
}

.app-subnav__link {
    padding: 2px 0;
    text-decoration: none;
    display: block
}

.app-subnav__link:not(:focus):hover {
    color: #1d70b8;
    text-decoration: underline
}

.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff
}

.app-subnav__section-item--current .app-subnav__link {
    font-weight: 700
}

.app-subnav__section--nested {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px
}

.app-subnav__section--nested .app-subnav__section-item:before {
    content: "â€”";
    margin-left: -20px;
    color: #505a5f
}

.app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: 400
}

.app-subnav__theme {
    margin: 0;
    font-size: 1.1875rem;
    font-weight: 700;
    display: inline
}

.app-subnav__theme:first-of-type {
    padding-top: 0
}

@media(min-width:50.0625em) {

    .app-mobile-nav,
    .app-subnav--mobile,
    .js-enabled .govuk-header__menu-button {
        display: none
    }
}

