{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
The importance of language skills
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 20 of 21</span>
          <h1 class="govuk-heading-l">
            The importance of language skills
          </h1>

          <p class="govuk-body">As one of the 3 prime areas of the EYFS, communication and language development provides the essential foundations for all areas of learning. </p>

          <p class="govuk-body">If a child is not currently at the expected level of communication development, but is expected to participate at that level, the consequences will be seen across all areas of development.   </p>

          <p class="govuk-body">Throughout all the modules within this course you will continually consider how a child’s ability to understand information, express themselves and communicate their needs will impact on their overall holistic development and interactions.    </p>

          <p class="govuk-body">You must remember that communication is not just verbal. Children will also be supported and influenced by non verbal communication including eye contact, facial expressions, body language, gestures and written forms of communication.    </p>

          <p class="govuk-body">Effective communication skills will support children to: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>create and maintain relationships</li>
            <li>feel valued and important </li>
            <li>express their individual needs and preferences </li>
            <li>increase resilience and self efficacy </li>
            <li>manage their behaviour </li>
          </ul>

          <p class="govuk-body">Research demonstrates proven links between positive early childhood language experiences and outcomes in later life. </p>

          <p class="govuk-body">You can support children’s communication and language skills in a number of ways including: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>creating a language rich environment</li>
            <li>modelling positive behaviour </li>
            <li>providing learning opportunities </li>
          </ul>

          <img src="/public/images/reading-fox.jpg" alt="">

          <h2 class="govuk-heading-m">
            Language rich environments
          </h2>

          <p class="govuk-body">A  successful language rich environment will provide children with opportunities to hear language, see language and test their language skills without fear. </p>

          <p class="govuk-body">Examples of successful language rich environments include opportunities to: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>be quiet and process information, for example by reading alone or carrying out individual tasks</li>
            <li>read and comprehend, using labelled display boards and resources, story corners, activity instructions or cookery recipes </li>
            <li>interact, talk, or read books with others </li>
            <li>engage in imaginative play, like role play </li>
            <li>be musical, including listening to music and singing </li>
          </ul>

          <p class="govuk-body">Your knowledge of children’s language and communication development will help you provide an environment that contains experiences, resources and activities that can challenge every child. </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">When was the last time you were able to evaluate your environment and curriculum? </p>
            <p class="govuk-body">Do you know which areas are most used?  </p>
            <p class="govuk-body">Are there areas the children do not use?  </p>
            <p class="govuk-body">Does the environment strike the right balance between social interaction and quiet areas? </p>
            <p class="govuk-body">How do practitioners in your setting make sure children hear and experience a range of conversation, including new and repeated vocabulary? </p>
            <p class="govuk-body">How do you create opportunities to extend children's language?</p>
            <p class="govuk-body">Are children who need help developing their communication skills receiving targeted, adult led interactions to help them develop their language? </p>
            <p class="govuk-body">What could you do differently?  </p>

          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-8">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-10">Next</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}

