{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Factors affecting children’s development
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 11 of 21</span>
          <h1 class="govuk-heading-l">
            Factors affecting children’s development
          </h1>

          <p class="govuk-body">Children will potentially experience a range of challenges and experiences that may impact on their development. However, this should not impact on their ability to succeed. Understanding these factors will help you to develop appropriate strategies and support mechanisms to guide children to reach their full potential.  </p>

          <p class="govuk-body">This topic includes:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>nature versus nurture </li>
            <li>the impact of the COVID-19 pandemic on:

            <ul class="govuk-list govuk-list--bullet">
                <li>communication, language and literacy</li>
                <li>mathematics</li>
                <li>physical development</li>
                <li>knowledge and undertanding of the world</li>
                <li>personal, social and emotional development</li>
                <li>expressive arts</li>
              </ul>
            <li>the importance of language skills</li>
            <li>being a role model for communication </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1-7">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-1">Next</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}

