.ss-signin {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.849);

  a.govuk-link {
    color: #000 !important;
  }
  
  .govuk-button {
    color: #fff;
  }
}

.brain-development-BGstrip-blue {
  .start-search {
    * {
      color: #fff;
    }
  }
}

.brain-development-BGstrip-grey {
  .start-search {
    * {
      color: #141212;
    }
  }
}

.brain-development-BGstrip-blue {
  background-color:#1d70b8;
}

.brain-development-BGstrip-grey {
  background-color:#e0dfdf;
}

.course-creator-image {
  width: 90px;
  height: 90px;
}
