.ss-signin {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.849);

  a {
    color: #000000 !important;
  }
}

.start-search {
  * {
    color: #fff;
  }
}

.brain-development-BGstrip-blue {
  background-color:#1d70b8;
}

.brain-development-BGstrip-grey {
  background-color:#e0dfdf;
}
