/* ==========================================================================
#SIDE NAVIGATION
========================================================================== */

.moj-side-navigation {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

@media (min-width: 40.0625em) {
  .moj-side-navigation {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media (min-width: 40.0625em) {
  .moj-side-navigation {
    display: block;
    padding: 20px 0 0;
  }
}

.moj-side-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__list {
    margin-bottom: 20px;
  }
}

.moj-side-navigation__item a,
.moj-side-navigation__item a:link,
.moj-side-navigation__item a:visited {
  background-color: inherit;
  color: #1d70b8;
  display: block;
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__item a,
  .moj-side-navigation__item a:link,
  .moj-side-navigation__item a:visited {
    background-color: inherit;
    border-left: 4px solid transparent;
    padding: 10px;
  }
}

.moj-side-navigation__item--active a:link,
.moj-side-navigation__item--active a:visited {
  border-color: #1d70b8;
  color: #1d70b8;
  font-weight: bold;
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__item--active a:link,
  .moj-side-navigation__item--active a:visited {
    background-color: #f3f2f1;
  }
}
