/* ==========================================================================
#PAGE WIDTH
========================================================================== */

@supports (margin: max(calc(0px))) {
  .govuk-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 40.0625em) {
  .govuk-width-container {
    margin-right: 30px;
    margin-left: 30px;
  }

  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

@media (min-width: 1020px) {
  .govuk-width-container {
    margin-right: auto;
    margin-left: auto;
  }

  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (min-width: 48.0625em) {
  body .govuk-width-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 90%;
  }
}

/* ==========================================================================
 #PRIMARY NAVIGATION (Grey bar with blue links)
========================================================================== */
.primary-navigation {
  background-color: #f3f2f1;
}

.primary-navigation__container {
  margin: 0 15px;
  font-size: 0;
  text-align: justify;
}

@media (min-width: 40.0625em) {
  .primary-navigation__container {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .primary-navigation__container {
    margin: 0 auto;
  }
}

.primary-navigation__container:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.primary-navigation__nav {
  text-align: left;
}

@media (min-width: 48.0625em) {
  .primary-navigation__nav {
    display: inline-block;
    vertical-align: middle;
  }
}

.primary-navigation__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation__item {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  margin-right: 20px;
  margin-top: 0;
}

@media (min-width: 40.0625em) {
  .primary-navigation__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

.primary-navigation__item:last-child {
  margin-right: 0;
}

.primary-navigation__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
  font-weight: bold;
}

.primary-navigation__link:link {
  color: #1d70b8;
}

.primary-navigation__link:visited {
  color: #4c2c92;
}

.primary-navigation__link:link,
.primary-navigation__link:visited {
  color: #1d70b8;
}

.primary-navigation__link[aria-current] {
  color: #1d70b8;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

.primary-navigation__link[aria-current]:before {
  background-color: #1d70b8;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
