/* TRAINING OVERVIEW */

@media (min-width: 50em) {
  .app-card-container {
    display: flex;
  }
  .app-card-container > div {
    width: 25%;
    padding: 0 15px;
  }
  .app-card-container > div:first-child {
    padding-left: 0;
  }
  .app-card-container > div:last-child {
    padding-right: 0;
  }
}

.app-image-card {
  margin-bottom: 20px;
}

.app-image-card h3 {
  color: inherit;
}

.app-image-card .govuk-hint {
  display: block;
  margin: 0;
  text-decoration: none;
}

.app-image-card a {
  display: block;
  text-decoration: none;
}

.app-image-card a h3 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

.app-image-card img {
  margin-bottom: 5px;
}

img { 
  width: 100%;
}


.app-search-form-container {
  padding: 20px;
  color: #fff;
  background: #f3f2f1;
}

.app-search-form-container .govuk-label,
.app-search-form-container .govuk-hint,
.app-search-form-container .govuk-link,
.app-search-form-container h1 {
  color: #141414;
}

.app-search-form-container h1 {
  padding-right: 100px;
}

@media (min-width: 50em) {
  .app-search-form-container {
    padding: 30px;
    background: #f3f2f1;
  }
  .app-search-form-container h1 {
    padding-right: 150px;
  }
  .app-search-form-container .govuk-button,
  .app-search-form-container .govuk-form-group {
    margin: 0;
  }
}

.app-search-form-inner > div:last-child {
  display: flex;
  align-items: center;
}

@media (min-width: 50em) {
  .app-search-form-inner {
    display: flex;
    align-items: end;
  }
  .app-search-form-inner > div {
    width: 33.33%;
    padding-right: 30px;
  }
}