// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* ==========================================================================
#SIDE NAVIGATION
========================================================================== */

.moj-side-navigation {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

@media print {
  .moj-side-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .moj-side-navigation {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .moj-side-navigation {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (max-width: 40.0525em) {
  .moj-side-navigation {
    display: flex;
    overflow-x: scroll;
  }
}

@media (min-width: 40.0625em) {
  .moj-side-navigation {
    display: block;
    padding: 20px 0 0;
  }
}

.moj-side-navigation__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #505a5f;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  padding-left: 14px;
}

@media print {
  .moj-side-navigation__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .moj-side-navigation__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (max-width: 40.0525em) {
  .moj-side-navigation__title {
    display: none;
  }
}

.moj-side-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 40.0525em) {
  .moj-side-navigation__list {
    display: flex;
    margin: 0;
    white-space: nowrap;
  }
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__list {
    margin-bottom: 20px;
  }
}

@media (max-width: 40.0525em) {
  .moj-side-navigation__item {
    display: flex;
  }
}

.moj-side-navigation__item a,
.moj-side-navigation__item a:link,
.moj-side-navigation__item a:visited {
  background-color: inherit;
  color: #1d70b8;
  display: block;
  text-decoration: none;
}

@media (max-width: 40.0525em) {
  .moj-side-navigation__item a,
  .moj-side-navigation__item a:link,
  .moj-side-navigation__item a:visited {
    border-bottom: 4px solid transparent;
    padding: 15px;
    padding-bottom: 11px;
  }
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__item a,
  .moj-side-navigation__item a:link,
  .moj-side-navigation__item a:visited {
    background-color: inherit;
    border-left: 4px solid transparent;
    padding: 10px;
  }
}

.moj-side-navigation__item a:hover {
  border-color: #5694ca;
}

.moj-side-navigation__item a:focus {
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  border-color: #0b0c0c;
  border-left-color: transparent;
  position: relative;
}

.moj-side-navigation__item--active a:link,
.moj-side-navigation__item--active a:visited {
  border-color: #1d70b8;
  color: #1d70b8;
  font-weight: bold;
}

.moj-side-navigation__item--active a:focus {
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  border-color: #0b0c0c;
  border-left-color: transparent;
}

@media (min-width: 40.0625em) {
  .moj-side-navigation__item--active a:link,
  .moj-side-navigation__item--active a:visited {
    background-color: #f3f2f1;
  }
  .moj-side-navigation__item--active a:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
    border-color: transparent;
  }
}

// ----------------------------------------------------
// ----------------------------------------------------

@media (min-width: 50em) {
  .app-card-container {
    display: flex;
  }
  .app-card-container > div {
    width: 25%;
    padding: 0 15px;
  }
  .app-card-container > div:first-child {
    padding-left: 0;
  }
  .app-card-container > div:last-child {
    padding-right: 0;
  }
}

.app-image-card {
  margin-bottom: 20px;
}

.app-image-card h3 {
  color: inherit;
}

.app-image-card .govuk-hint {
  display: block;
  margin: 0;
  text-decoration: none;
}

.app-image-card a {
  display: block;
  text-decoration: none;
}

.app-image-card a h3 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

.app-image-card a:focus {
  background-color: transparent;
  box-shadow: none;
}

.app-image-card a:focus h3 {
  background-color: #ffdd00;
  color: #0b0c0c;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.app-image-card img {
  margin-bottom: 5px;
}

@media (max-width: 49.9375em) {
  .app-image-card {
    margin-bottom: 20px;
  }
}

@media (min-width: 25em) and (max-width: 50em) {
  .app-image-card a {
    display: flex;
    align-items: flex-start;
  }
  .app-image-card img {
    margin-right: 15px;
    width: 35%;
  }
  .app-image-card .app-image-card__content {
    flex: 1;
  }
}

img { 
  width: 100%;
}
