{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Supporting physical development in the early years overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Get your certificate</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
 



      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Get your certificate</h2>
        <p class="govuk-body">Congratulations. You have now completed this course. </p>

        <p class="govuk-body">You can now <a class="govuk-link" href="sign-up">download a PDF certificate</a>  to share or print yourself. </p>

        <p class="govuk-body">If the name or setting on your certificate is not what you expect, you can update them in your profile settings. </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <img src="/public/images/certificate.jpg" alt="">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="test-1-q3">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="home">Finish</a>

      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}
