{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

	<!-- START MAST -->
	<div class="full-BGstrip">
			<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
              </div>
            </div>

            <h1 class="govuk-heading-l">My learning</h1>

            <p>You have not started any modules.</p>
            
            <h2 class="govuk-heading-m">Enrolled courses</h3>


             <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-full">
                  <div class="app-card-container">
                    <div>
                      <div class="app-image-card">
                        
                          <img src="/public/images/home/image2.jpg" alt="a practitioner and some children in a nursery setting">

                          <div class="app-image-card__content">

                            <h3 class="govuk-heading-s">Child development training for early years providers</h3>

                   


                            {{ govukButton({
                              "text": "Start course",
                              href: "brain-development-start"
                            }) }}

                          </div>
                        </a>
                      </div>
                    </div>


                  </div>

                  

            </div>


        </main>
			</div>
	</div>
	<!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}
