{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

	<!-- START MAST -->
	<div class="full-BGstrip">
			<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
              </div>
            </div>

            <h2 class="govuk-heading-l">My learning</h2>

            <h2 class="govuk-heading-m">In progress</h2>


             <div class="govuk-grid-row govuk-!-margin-bottom-6">
                  <div class="govuk-grid-column-one-quarter">
                    <div class="govuk-card__flex-container">
                      <div class="govuk-card__flex-item">
                    <div class="govuk-card govuk-card--contained govuk-card--selectable"><a>
                      
                        </a><a href="#"></a>
                        <div class="govuk-card__content">
                        <h3 class="govuk-heading-m">Brain development and how children learn</h3>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                  

            </div>

            </div>
     

            <div class="govuk-grid-row govuk-!-margin-bottom-6">
              <div class="govuk-grid-column-full">
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m">Completed modules</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Module name</th>
                      <th scope="col" class="govuk-table__header">Date completed</th>
                      <th scope="col" class="govuk-table__header">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#">Introduction to brain development in young children</a></td>
                      <td class="govuk-table__cell">05 May 2022</td>
                      <td class="govuk-table__cell "><div class="govuk-visually-hidden"><p>None</p></div></td>
                    </tr>
                    
    
                  </tbody>
                </table>
                </div>
                </div>


            <div class="govuk-grid-row govuk-!-margin-bottom-6">
              <div class="govuk-card__flex-container">
              <div class="govuk-grid-column-one-third">
                
                  <h2 class="govuk-heading-m">Upcoming modules</h2>
                  <div class="govuk-card">
						
                    <div class="govuk-card__content">
                      <h3 class="govuk-heading-s">Supporting childrens' personal, social and emotional development</h3>
                      <p class="govuk-body">
                        In your everyday practice you’ll be helping children to learn, develop and rehearse their key personal, social and emotional skills. This module is available once you have completed module 2.
                      
                      </p>
                    </div>
                    <div class="govuk-card__actions">
                      <a class="govuk-body govuk-link" href="">View more information about this module</a>
                    </div>
                    </div>
                </div>
           


          

                <div class="govuk-grid-column-one-third">
                  <div class="govuk-card govuk-!-margin-top-8">
						
                    <div class="govuk-card__content">
                      <h3 class="govuk-heading-s">Supporting childrens' personal, social and emotional development</h3>
                      <p class="govuk-body">
                        In your everyday practice you’ll be helping children to learn, develop and rehearse their key personal, social and emotional skills. This module is available once you have completed module 2.
                      
                      </p>
                    </div>
                    <div class="govuk-card__actions">
                      <a class="govuk-body govuk-link" href="">View more information about this module</a>
                    </div>
                    </div>
                </div>

                <div class="govuk-grid-column-one-third">
                  <div class="govuk-card govuk-!-margin-top-8">
						
                    <div class="govuk-card__content">
                      <h3 class="govuk-heading-s">Supporting childrens' personal, social and emotional development</h3>
                      <p class="govuk-body">
                        In your everyday practice you’ll be helping children to learn, develop and rehearse their key personal, social and emotional skills. This module is available once you have completed module 2.
                      
                      </p>
                    </div>
                    <div class="govuk-card__actions">
                      <a class="govuk-body govuk-link" href="">View more information about this module</a>
                    </div>
                    </div>
                </div>
</div>
        </main>
			</div>
	</div>
	<!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}
