{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        </div>
      </div>

      <h2 class="govuk-heading-l">My learning</h2>

      <h2 class="govuk-heading-m">In progress</h2>


      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-card__flex-container">
            <div class="govuk-card__flex-item">
              <div class="govuk-card govuk-card--contained govuk-card--selectable">
                <a href="brain-development-start"></a>
                <div class="govuk-card__hero govuk-!-margin-bottom-2">
                  <img src="../../public/images/image1.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Child development and the EYFS</h3>


                </div>

              </div>

            </div>
          </div>


        </div>

      </div>
      <hr>



      <div class="govuk-grid-row  govuk-!-margin-top-4">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Upcoming modules</h2>


        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-card__flex-container">
          <div class="govuk-grid-column-one-third">


            <div class="govuk-card">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Brain development and how children learn</h3>
                <p class="govuk-body">
                  This module will reinforce your understanding of how a child's brain develops and how to consider factors affecting brain development when planning for your setting. This module is available once you have completed module 1.

                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="course-overview">View more information about this module</a>
              </div>
            </div>
          </div>





          <div class="govuk-grid-column-one-third">
            <div class="govuk-card">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Supporting childrens' personal, social and emotional development</h3>
                <p class="govuk-body govuk-!-margin-bottom-9">
                This module will help you consider how the development of personal, social and emotional skills impact on a child's overall development. This module is available once you have completed module 2.

                </p>
              </div>
             
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-card">

              <div class="govuk-card__content">
                <h3 class="govuk-heading-s">Learning through play</h3>
                <p class="govuk-body" style="margin-bottom:185px;">
                  This module will be added to the course soon.

                </p>
              </div>
             
            </div>
          </div>
        </div>

      </div>
  

 
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}