{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service1" %}
{% set primaryNavActive = "service start1" %}
{% set loggedIn = true %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

	<!-- START MAST -->
	<div class="full-BGstrip">
			<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
              </div>
            </div>
  
            <h2 class="govuk-heading-l">My learning</h2>

             <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-full">
                  <div class="app-card-container">
                    <div>
                      <div class="app-image-card">
                        <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                          <img src="/public/images/home/image4.jpg" alt="">
                          
                          <div class="app-image-card__content">
                            
                            
                    

                            <h3 class="govuk-heading-s govuk-link">Why it is important to understand child development</h3>

                   
                            {{ govukButton({
                              "text": "Continue module",
                              href: "topic-intro-existing"
                            }) }}

                          </div>
                        </a>
                      </div>
                    </div>

               
                  </div>
      
                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
                  <h2 class="govuk-heading-l">Explore more courses</h2>

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                 

                       <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Understanding child development</a>
                        </li>
                      </ul>
                     
                    </div>
    
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
             

                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Brain development in the early years</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Supporting language development in the early years </a>
                        </li>
                      </ul>
                   
                    </div>
    
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

    
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Supporting holistic development</a>
                        </li>
                      </ul>

                    </div>
                  </div>
                  </div>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Planning inclusive learning</a>
                        </li>
                      </ul>
             
                    </div>
    
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                    
    
                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Effective observation and assessment </a>
                        </li>
                      </ul>

                    </div>
                  </div>
                  </div>
                  
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                   
                      

                      <ul class="govuk-list">
                        <li>
                          <a class="govuk-link" href="#">Effective observation and assessment </a>
                        </li>
                      </ul>
    
                    </div>
            
                      
                </div>
                
            </div>

            
        </main>
			</div>
	</div>
	<!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}