{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="brain-development-start">Brain development in the early years</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Topic 7 of 11</span>
          <h1 class="govuk-heading-l">
            Jean Piaget and the sensorimotor stage
          </h1>

            <img src="/public/images/home/piaget.jpg" width="200" height="300" alt="">
        </br>
    </br>



          <p class="govuk-body">Jean Piaget was a Swiss psychologist who carried out research into how children develop. Piaget’s research showed that babies' development started with a set of reflexes and travelled through a series of stages until children had developed more advanced skills.</p>

          <p class="govuk-body">Piaget labelled the 0 to 2 year stage of development as the sensorimotor stage. In this stage, babies use their senses to explore and grow.</p>

          <p class="govuk-body">Piaget did not believe that babies were born with a fixed intellectual ability. Instead, he said that a child’s interaction with their environment, combined with their growing brain would shape their cognitive development. Piaget believed that babies and young children need time and positive experiences to encourage the use of senses and to practise actions. This then supports the development of thinking and skills.</p>

          <p class="govuk-body">Piaget’s thoughts also included the idea that babies in the sensorimotor stage lacked the skill of object permanence. Object permanence is the ability to mentally picture an item even when it was no longer there.</p>

          <p class="govuk-body">Piaget made connections between object permanence and separation anxiety which babies generally experience until around 9 to 10 months. During this time, babies don’t understand that their carer still exists, even though they can no longer see them.</p>

          <p class="govuk-body">Jean Piaget also believed that children:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>could learn just as effectively on their own without the influence of an adult </li>
            <li>have an internal motivation to learn</li>
            <li>do not always follow the same predictable development path </li>
          </ul>

          <p class="govuk-body">Piaget’s work resulted in a number of early years approaches including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the importance of a supportive environment </li>
            <li>the promotion of social interaction and peer teaching </li>
            <li>that children need opportunities to test inconsistencies in their thoughts </li>
          </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="development-birth-two">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="piaget-current-research">Next</a>

    


        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
