{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Supporting physical development in the early years overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Course start</a>
      </li>
    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukAccordion({
                    id: "accordion-with-summary-sections",
                    items: [
                      {
                        heading: {
                          text: "Introduction"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Intro</a>
                              </li>

                          </ul>'
                        }
                      },
                          {
                        heading: {
                          text: "Module 1:  Body systems and physical development"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Respiratory system</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Nervous system</a>
                              </li>

                              <li>
                                <a class="govuk-link" href="#">Circulatory system </a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Musculoskeletal system</a>
                              </li>

                          </ul>'
                        }
                      },
                              {
                        heading: {
                          text: "Module 2: Movement and learning"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>

                          </ul>'
                        }
                      },
                      {
                        heading: {
                          text: "Module 3: Developing movement"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>

                          </ul>'
                        }
                      },
                      {
                        heading: {
                          text: "Module 4: The role of the practitioner in supporting physical development"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>

                          </ul>'
                        }
                      },
                                  {
                        heading: {
                          text: "Summary and next steps"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Course recap</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Course feedback</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Download your certificate</a>
                              </li>

                          </ul>'
                        }
                      }


                    ]
                  }) }}


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

            <img src="/public/images/home/image4.jpg" width="200" height="300" alt="">
        </br>
    </br>

          <h2 class="govuk-heading-m">Jean Piaget and the sensorimotor stage</h2>

          <p class="govuk-body">Jean Piaget was a Swiss psychologist who carried out research into how children develop. Piaget’s research showed that babies' development started with a set of reflexes and travelled through a series of stages until children had developed more advanced skills.</p>

          <p class="govuk-body">Piaget labelled the 0 to 2 year stage of development as the sensorimotor stage. In this stage, babies use their senses to explore and grow.</p>

          <p class="govuk-body">Piaget did not believe that babies were born with a fixed intellectual ability. Instead, he said that a child’s interaction with their environment, combined with their growing brain would shape their cognitive development. Piaget believed that babies and young children need time and positive experiences to encourage the use of senses and to practise actions. This then supports the development of thinking and skills.</p>

          <p class="govuk-body">Piaget’s thoughts also included the idea that babies in the sensorimotor stage lacked the skill of object permanence. Object permanence is the ability to mentally picture an item even when it was no longer there.</p>

          <p class="govuk-body">Piaget made connections between object permanence and separation anxiety which babies generally experience until around 9 to 10 months. During this time, babies don’t understand that their carer still exists, even though they can no longer see them.</p>

          <p class="govuk-body">Jean Piaget also believed that children:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>could learn just as effectively on their own without the influence of an adult </li>
            <li>have an internal motivation to learn</li>
            <li>do not always follow the same predictable development path </li>
          </ul>

          <p class="govuk-body">Piaget’s work resulted in a number of early years approaches including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the importance of a supportive environment </li>
            <li>the promotion of social interaction and peer teaching </li>
            <li>that children need opportunities to test inconsistencies in their thoughts </li>
          </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="piaget-current-research">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="quiz-2">Next</a>

    


        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
