{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
    
          <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Brain development and how children learn</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">The developing brain</a>
              </li> 
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Check your learning</a>
              </li> 
    
            </ol>
          </div>
          
    
        </ol>
      </div>
      

    </ol>
  </div>

  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Page 5 of 11</span>
          <h1 class="govuk-heading-l">
            Check your learning
          </h1>



        <div class="govuk-form-group">
            <form class="form" action="../quiz-1-answer" method="post">

              {{ govukRadios({
                idPrefix: "part-of-brain",
                name: "part-of-brain",
                fieldset: {
                  legend: {
                    text: "Which part of the brain makes sense of the information that comes from our eyes?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "Occipital lobes",
                    text: "Occipital lobes"
                  },
                  {
                    value: "Parietal lobes",
                    text: "Parietal lobes"
                  },
                  {
                    value: "Cerebellum",
                    text: "Cerebellum"
                  },
                  {
                    value: "Brain stem",
                    text: "Brain stem"
                  }
                ]
              }) }}
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

              <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="brain-parts">Previous</a>
              <a class="govuk-button align-right" data-module="govuk-button" href="quiz-1-right">Submit answer</a>


            </form>
          </div>
        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
