{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="brain-development-start">Brain development in the early years</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 5 of 10</span>
          <h1 class="govuk-heading-l">
            Check your understanding
          </h1>



          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <p class="govuk-body govuk-!-font-weight-bold">True or false?</p>

                  <p class="govuk-body">
                    Piaget believed that giving children positive experiences, the opportunity to interact with their environment and time would benefit their brain development in the sensorimotor stage.
                  </p>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england" checked>
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                     True
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                      False
                    </label>
                  </div>

                </div>

              </fieldset>
            </div>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                That's right.
              </h2>
            </div>
            <div class="govuk-notification-banner__content">


              <p class="govuk-body">Piaget believed that positive experiences and interactions help children’s brain development in the sensorimotor stage from birth to 2 years old.</p>

              <div class="govuk-inset-text">
                In your setting, you can put this into practice by providing a supportive environment with interactive activities.
              </div>



            </div>
          </div>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">


              <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="quiz-2">Previous</a>
              <a class="govuk-button align-right" data-module="govuk-button" href="test-1-q1">Next</a>
        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
