{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="brain-development-start">Brain development in the early years</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
         


        </div>

          

      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Topic 3 of 13</span>
        <h1 class="govuk-heading-l">
          Brain development before birth
        </h1>
  

<p class="govuk-body">Over the following pages we will identify and explain the expected patterns of brain and early language development and then consider the influences that may impact on a child’s brain development even before they are born.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="submodule-intro">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="brain-parts">Next</a>
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}
