{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Brain development in the early years</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">The developing brains</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Parts of the brain</a>
      </li>
    </ol>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">


            </div>



        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Page 4 of 10</span>
          <h1 class="govuk-heading-l">
            Parts of the brain
          </h1>


            <img src="/public/images/home/brain-diagram.jpg"  alt="Parts of the brain">
        </br>
    </br>


<h3 class="govuk-heading-s">Brain stem</h3/>

          <p class="govuk-body">The brain stem at the top of your spinal cord where your head joins your neck. This is the most developed section of your brain at birth. This vital part of the brain controls your breathing, heart rate and blood pressure.</p>
<p class="govuk-body">It also supports newborn reflexes such as crying, startling and sucking.</p>

<h3 class="govuk-heading-s">Cerebellum</h3/>

        <p class="govuk-body">The cerebellum is at the back of your head. This is the area in charge of motor development. It controls balance and coordinates movements. The cerebellum combines the signals from the eyes, ears and muscles with motor commands.</p>
  <p class="govuk-body">This is the area of the brain that supports babies to progress with motor skills such as the progression from rolling to crawling to walking. Repeating challenging activities helps this area of the brain to develop.</p>

  <h3 class="govuk-heading-s">Frontal lobes</h3/>

          <p class="govuk-body">The frontal lobes are located behind your forehead and are the largest part of your brain. They are involved in:</p>
<ul class = "govuk-list govuk-list--bullet">
<li>moral reasoning</li>
<li>critical thinking</li>
<li>planning ahead</li>
<li>decision making</li>
<li>impulse control</li>
</ul>

<p class="govuk-body">The frontal lobes continue to develop until you are in your twenties or thirties- shaped by your experiences and environment.
</p>

<h3 class="govuk-heading-s">Occipital lobes</h3/>

        <p class="govuk-body">The occipital lobes are the back part of the brain. They allow us to make sense of information that comes from our eyes.</p>
  <p class="govuk-body">At birth, the neural pathways used to carry the information from the eyes to the brain are not fully developed. Babies can only see 20 to 30 cm in front of them. To develop these neural pathways babies needs to use them,and they can do this by looking at a variety of objects. Babies’ vision improves steadily, and by 8 months they will see almost as well as an adult.
  </p>

  <h3 class="govuk-heading-s">Temporal lobes</h3/>

          <p class="govuk-body">The temporal lobes are at the side of your brain, just above your ears. One of their important functions is to help us understand and process sounds.</p>
          <p class="govuk-body">Other functions include recognising faces and objects, as well as memory acquisition.</p>
<p class="govuk-body">It’s essential that a child is exposed to a wide variety of visual, auditory and practical tasks that enable them to test concepts and build memory skills.</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="topic-intro">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="brain-parts">Save and continue</a>


        </div>
      </div>

    </main>
  </div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}
