{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
      <div class="govuk-grid-row">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Email verified</h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">Thank you. Your email address is now verified. You can now finish setting up your early years training account.  </p>
            <p class="govuk-body">We will ask you some questions about your setting and your experience. 
              This is so we can make sure we are providing training that is useful to everyone working in early years.</p>
            <p class="govuk-body">Your information will not be shared without your permission. </p>
          </div>
        </div>

        <!-- Text when user is signing in for the first time // -->
        <h1 class="govuk-heading-l">Sign in to early years training</h1>
        <p class="govuk-body">Enter the email address and password you chose when you registered for your early years training account. </p>

        <p class="govuk-body">These details are different to any other GOV.UK accounts you may use.</p>
        {{ govukInput({
          id: "email-address",
          name: "_email-address",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Email address",
            classes: "govuk-!-font-weight-bold"
          }
        }) }}

        {{ govukInput({
          id: "password",
          name: "_password",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Password",
            classes: "govuk-!-font-weight-bold"
          }
        }) }}

        <p class="govuk-body">
          <a href="../../registration/sign-in-errors/forgot-password" class="govuk-link">Forgotten your password?</a>
        </p>

        {{ govukButton({
          "text": "Sign in",
          href: "../../registration/sign-up1"
        }) }}
      </div>
    </main>
  </div>
  </div>
  </div>
{% endblock %}
