{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Understanding child development and the EYFS : Nature versus nurture
{% endblock %}


{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/july-23/my-modules/module-1/">Back to Module 1 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">An informed approach to care and education</span></p>
          <p class="govuk-!-font-weight-bold">Page 15 of 29</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 51.7%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="old-dfe-heading">Nature versus nurture</h1>
        <div class="gem-c-govspeak"><p><img src="/public/images/1-1-2-1.jpg" alt="Children and practitioners enjoying parachute play"></p>

            <p>The long standing debate of nature versus nurture questions whether aspects of children’s development and behaviour are influenced more by biological (nature) or environmental (nurture) influences.</p>
            
            <p>The debate raises questions including:</p>
            
            <ul>
              <li>how do we become the person we are?</li>
              <li>are we born pre programmed to develop in a certain way despite environmental influences?</li>
              <li>to what extent will our experiences and opportunities shape us?</li>
            </ul>
            
            <p>The children in your care will experience a broad range of influences that could potentially shape their learning and development. Some examples could include:</p>
            
            <ul>
              <li>adverse experiences including violence and abuse</li>
              <li>physical factors including housing conditions</li>
              <li>financial factors - determining access to resources, activities and experiences</li>
              <li>exposure and access to physical activity, adequate sleep and a healthy diet</li>
              <li>family beliefs and culture</li>
              <li>exposure to social interaction and communication</li>
              <li>specialised knowledge - for example some children will know about dinosaurs because their parents or carers have shared this with them</li>
              <li>having English as a second language</li>
              <li>medical conditions or illnesses resulting in prolonged periods of missed learning</li>
              <li>the impact of stereotypical views and discrimination</li>
              <li>the impact of the coronavirus (COVID-19) pandemic</li>
            </ul>
            
            <p>Your role is to ensure that any potential influences don’t become barriers and to ensure that every child has access to all learning and development opportunities.</p>
            
            <p>A robust understanding of children’s expected development will further support you to ensure that the choices you make as a practitioner, and the quality of the curriculum and environment that children experience, will support children to progress and succeed.</p>
        </div>

    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group"><a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="page-1-1-2">Previous</a><a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="page-1-1-2-2">Next</a></div>
</div></div>
    
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}