{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Understanding child development and the EYFS : Factors affecting children’s development
{% endblock %}


{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/july-23/my-modules/module-1/">Back to Module 1 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">An informed approach to care and education</span></p>
          <p class="govuk-!-font-weight-bold">Page 14 of 29</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 48.2%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="old-dfe-heading">Factors affecting children’s development</h1>
        <div class="gem-c-govspeak">
            <p>Children will potentially experience a range of challenges and experiences that may impact on their development. However, this should not impact on their ability to succeed.</p>

            <p>Understanding these factors will help you to develop appropriate strategies and support mechanisms to guide children to reach their full potential.</p>
            
            <h3>This topic includes:</h3>
            
            <ul class="old-dfe-ul">
            <li>nature versus nurture</li>
            <li>the impact of the COVID-19 pandemic on:
                <ul class="old-dfe-ul">
                <li>communication, language and literacy</li>
                <li>personal, social and emotional development</li>
                <li>mathematics</li>
                <li>physical development</li>
                <li>knowledge and understanding of the world</li>
                <li>expressive arts</li>
                </ul>
            </li>
            <li>the importance of language skills</li>
            <li>being a role model for communication</li>
            </ul>
        </div>

    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group"><a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/july-23/my-modules/module-1/">Previous</a><a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="page-1-1-2-1">Next</a></div>
</div></div>
    
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}