{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Understanding child development and the EYFS : The impact of the COVID-19 pandemic
{% endblock %}


{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/july-23/my-modules/module-1/">Back to Module 1 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">An informed approach to care and education</span></p>
          <p class="govuk-!-font-weight-bold">Page 16 of 29</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 55.17%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="old-dfe-heading">The impact of the COVID-19 pandemic</h1>
        <div class="gem-c-govspeak">

            <p>Every child’s experience of the COVID-19 pandemic will have been different. It is likely that different areas of a child’s development may have been impacted positively or negatively during this time..</p>
            
            <p>You will also need to consider how characteristics of a child’s environment may have further magnified this impact. For example, some children will have had limited access to technology, books, outdoor space and a varied diet.</p>
            
        </div>

    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group"><a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="page-1-1-2-1">Previous</a><a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="#">Next</a></div>
</div></div>
    
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}