{% extends "layout.html" %}
{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">


				{{ govukBackLink({
				text: "Back",
				href: "sign-in"
				}) }}
				<h1>Bespoke components for EYFS</h1>
				<p>Components unique to EYFS training courses</p>
				<h2>Practioner prompt</h2>

				<div class="govuk-inset-text prompt govuk-!-padding-bottom-6">
					<h3>Practioner prompt</h3>
					<p>Do you do this in your setting?</p>
				</div>
			</div>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				<div class="govuk-card__flex-container">
					<div class="govuk-card__flex-item">
						<div class="govuk-card govuk-card--contained govuk-card--selectable"><a>

							</a><a href="#"></a>
							<div class="govuk-card__content">
								<h3 class="govuk-heading-m">Card heading of intermediate length</h3>
								<p class="govuk-body">A short overview of the content that exists behind this card. For
									example a full page detailing what goes inside the body of a card.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="govuk-card govuk-card--contained govuk-!-margin-top-7 govuk-card--selectable">
					<a href="#"></a>
					<div class="govuk-card__hero govuk-!-margin-bottom-2">
					  <img src="../../public/images/image1.jpg">
					</div>
					<div class="govuk-card__content">
					  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
					  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
					  </p>
					</div>

				  </div>


				<div class="govuk-card govuk-!-margin-top-7">

					<div class="govuk-card__content">
						<h3 class="govuk-heading-m">Card heading of intermediate length</h3>
						<p class="govuk-body">A short overview of the content that exists behind this card. For example
							a full page detailing what goes inside the body of a card.
						</p>
					</div>
					<div class="govuk-card__actions">
						<a class="govuk-body govuk-link" href="">Perform this action</a>
					</div>
				</div>

				<a href="#">
					<div class="nhsuk-card nhsuk-card--clickable govuk-!-margin-top-7">
						<img class="nhsuk-card__img"
							src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
						<div class="nhsuk-card__content">
							<h2 class="nhsuk-card__heading nhsuk-heading-m">
								<a class="nhsuk-card__link" href="#">Exercise</a>
							</h2>
							<p class="nhsuk-card__description">Programmes, workouts and tips to get you moving and
								improve your fitness and wellbeing</p>
						</div>
					</div>
				</a>


			</div>

	</main>
</div>
{% endblock %} 