{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  {% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Breadcrumbs",
        href: "#"
      },
      {
        text: "Breadcrumbs",
        href: "#"
      },
      {
        text: "Breadcrumbs",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Caption - used for pagination</span>
          <h1 class="govuk-heading-l">
            H1 heading
          </h1>

          <h2 class="govuk-heading-m">
            H2 heading
          </h2>

          <h3 class="govuk-heading-s">
            H3 heading
          </h3>

          <h4 class="govuk-heading-xs">
            H4 heading
          </h4>

          <p class="govuk-body">Here is a body paragraph. Most of our content will be in this kind of format. We will of course use short sentences and plain English so it's easy for everyone to understand. </p>

          <p class="govuk-body">There could be lots of body paragraphs on the page. We'll try to break them up as much as possible with: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>bullet points</li>
            <li>bullet points</li>
            <li>bullet points</li>
            <li>nested bullet points (a set of bullet points within a bullet point point - Ife can you show us how to do those please?</li>
          </ul>

          <p class="govuk-body">We might also break content up with ordered lists. We don't expect to need nested ordered lists.</p>

          <ol class="govuk-list govuk-list--number">
            <li>Here is the first item on the list </li>
            <li>Here is the second item on the list</li>
            <li>Here is the third item on the list</li>
          </ol>

          <p class="govuk-body">We need to be able to embed video from YouTube and for it to be responsive which I don't think this one is </p>

          <p class="govuk-body">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dmnr9jjhjds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </p>

          <p class="govuk-body">We need to be able to add a picture at any point in the content. The picture needs to have alt text. Pictures might be quite deep like this one is or maybe thinner like a banner. </p>

          <img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdk1CIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--03a0c1ceed0ec9f3db46bc1c563a6b8a1ad7f38d/psed_emotions_activity1.jpg" alt="Laminated faces showing different emotions
" title="Laminated faces showing different emotions">

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">This is the Inset text component</h2>

            <p class="govuk-body">Inset text can have a heading and then other text formatting inside it.</p>

            <p class="govuk-body">We're using it for practitioner prompts at the moment but we might use it for quotes or a different type of content in the built version.</p>

            <p class="govuk-body">Either way it's a useful format. </p>

          </div>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  Please can we also have the details component
                </span>
            </summary>
            <div class="govuk-details__text">
                We're currently using it on the module overview pages.
              </div>
          </details>

          <p class="govuk-body">There may be instances where we want to have line breaks without the normal spacing in between <br/>
            For example for a poem, song or quote <br/>
            As these can look a bit weird if there is normal paragraph spacing.

            <p class="govuk-body">
              <a href="#">And we will want links, including potentially the ability to link out in a new tab</a>
            </p>

            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Notification banner - success
                  </h2>
              </div>
              <div class="govuk-notification-banner__content">

                <p class="govuk-body">We might need the green notification banner. </p>

              </div>
            </div>

            <div class="govuk-notification-banner govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Notification banner
                    </h2>
              </div>
              <div class="govuk-notification-banner__content">

                <p class="govuk-body">And the blue one which is a standard notification banner.  </p>

              </div>
            </div>

            <h2 class="govuk-heading-m">Examples we still need the code for </h2>

            <h3 class="govuk-heading-s">block quote</h3>

            <h3 class="govuk-heading-s">quote</h3>

            <h3 class="govuk-heading-s">grey box CTA styling</h3>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/brain-development/piaget-current-research">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="/brain-development/recap">Save and continue</a>

          </div>
        </div>

      </main>
    </div>

    {{super()}}
  {% endblock %}