
{% extends "layout.html" %}
{% set removePrototypeBanner = false %}
{% set removeAllLinks = true %}


{% block main %}

<div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Support articles",
          href: "#"
        },
        {
          text: "Understanding the world",
          href: "#"
        }
      
      ]
    }) }}
  </div>
<div class="govuk-width-container">
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third">
        <nav role="navigation" class="app-subnav">
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/communication-and-language">
              <p class="app-subnav__theme">Communication and language</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/communication-and-language/interactions">Interactions</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/communication-and-language/exploring-language">Exploring language</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/communication-and-language/listening-and-understanding">Listening and understanding</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/physical-development">
              <p class="app-subnav__theme">Physical development</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/physical-development/core-strength-and-co-ordination">Core strength and co-ordination</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/physical-development/gross-motor-skills">Gross motor skills</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/physical-development/fine-motor-skills">Fine motor skills</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/personal-social-and-emotional-development">
              <p class="app-subnav__theme">Personal, social and emotional development</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/personal-social-and-emotional-development/emotions">Emotions</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/personal-social-and-emotional-development/sense-of-self">Sense of self</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/personal-social-and-emotional-development/relationships">Relationships</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/literacy">
              <p class="app-subnav__theme">Literacy</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/literacy/reading-comprehension">Reading comprehension</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/literacy/exploring-words">Exploring words</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/literacy/writing">Writing</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/mathematics">
              <p class="app-subnav__theme">Mathematics</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/mathematics/numbers">Numbers</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/mathematics/patterns-and-connections">Patterns and connections</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/mathematics/spatial-reasoning">Spatial reasoning</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/understanding-the-world">
              <p class="app-subnav__theme">Understanding the world</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/understanding-the-world/personal-experiences">Personal experiences</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/understanding-the-world/diverse-world">Diverse world</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/understanding-the-world/widening-vocabulary">Widening vocabulary</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/expressive-arts-and-design">
              <p class="app-subnav__theme">Expressive arts and design</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/expressive-arts-and-design/imagination-and-creativity">Imagination and creativity</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/expressive-arts-and-design/self-expression">Self-expression</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/expressive-arts-and-design/communicating-through-arts">Communicating through arts</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/get-help-to-improve-your-practice">
              <p class="app-subnav__theme">Get help to improve your practice</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/get-help-to-improve-your-practice/curriculum-planning">Curriculum planning</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/get-help-to-improve-your-practice/reducing-paperwork">Reducing paperwork</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/get-help-to-improve-your-practice/working-in-partnership-with-parents-and-carers">Working in partnership with parents and carers</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/get-help-to-improve-your-practice/english-as-an-additional-language-eal">English as an additional language (EAL)</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/get-help-to-improve-your-practice/meeting-the-needs-of-all-children">Meeting the needs of all children</a>
                </li>
            </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__section-item--current " href="/personal-social-and-emotional-development">
                <p class="app-subnav__theme">Support articles</p>
              </a>
              <ul class="app-subnav__section  ">
                  <li class=" app-subnav__section-item ">
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="#">Understanding the world</a>
                  </li>
                  
              </ul>
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/safeguarding-and-welfare">
              <p class="app-subnav__theme">Safeguarding and welfare</p>
            </a>
            <ul class="app-subnav__section ">
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/safeguarding-and-welfare/oral-health">Oral health</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/safeguarding-and-welfare/food-safety">Food safety</a>
                </li>
                <li class=" app-subnav__section-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="/safeguarding-and-welfare/internet-safety">Internet safety</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Support articles</span>
        <h1 class="govuk-heading-l">Understanding the world</h1>
        <h2 class="govuk-heading-m">Introduction</h2>
        <p>The ‘Understanding of the World’ area of learning supports children through their personal experiences, helping them to explore the diverse world and widen their vocabulary. </p>
        <p>This article looks at the importance of children developing an understanding of ‘People, Culture and Communities’, as well as of concepts like ‘Past and Present’. It considers a range of underpinning theoretical perspectives, along with examples of academic research from the past century.</p>
        
        <p>It will help you to understand the: </p>
      
            <ul class="govuk-list govuk-list--bullet">
                <li>recent key changes to the EYFS </li>
                <li>impact of children’s personal experiences on their understanding of the world </li>
                <li>ways in which children develop an understanding of key concepts like the natural world, time and personal identity</li>
                <li>importance of widening vocabulary to support children’s understanding</li>
                <li>strategies we can use to help children build their vocabulary</li>
              </ul>

              <h2 class="govuk-heading-m">What it says in the Early Years Foundation Stage framework </h2>
              <p>Understanding the World involves guiding children to make sense of their physical world and their community. The frequency and range of children’s personal experiences increases their knowledge and sense of the world around them – from visiting parks, libraries and museums to meeting important members of society like police officers, nurses and firefighters. In addition, listening to a broad selection of stories, non-fiction books, rhymes, and poems will build children’s understanding of our culturally, socially, technologically and ecologically diverse world. As well as building important knowledge, this extends their familiarity with words that support understanding across domains. Enriching and widening their vocabulary will in turn support children’s later reading comprehension. </p>
            
              <h2 class="govuk-heading-m">What is new in the Early Years Foundation Stage framework 2021</h2>
              <p>The reforms to the Early Years Foundation Stage have included wider experiences for children within Understanding the World that will build their understanding of our diverse world. There are also stronger links to widening children’s vocabulary through the use of stories and reading.</p>
              <p>The Understanding the World Early Learning Goals include a change in relation to the Past and Present Early Learning Goal. This change further clarifies the expectation of children understanding the concept of ‘past’.</p>

              <h2 class="govuk-heading-m">Personal experiences</h2>

              <p>Research shows that children’s personal experiences will directly impact their understanding of the world. </p>
              <p>Music explains how even in the womb a developing baby is receptive to the culture they will grow up in;</p>
              <p>‘From birth onwards an infant responds to a bath of culturally influenced movements, rhythms, and ways of being’ <sup id="reference-1-label"><a href="#reference-1">[reference 1]</a></sup>.</p>
              <p>Trevarthen makes mention of the importance of cultural learning and shared meanings, and believes cultures are human communities that are shaped by those within them <sup id="reference-2-label"><a href="#">[reference 2]</a></sup>. To grow into a society and be able to function well, a baby needs to learn the social aspects of their ‘cultural context.’ A passion and drive to understand new experiences alongside someone you are confident with is what Trevarthen claims to be ‘the instinct that makes ‘cultural learning’ happen’ <sup id="reference-3-label"><a href="#">[reference 3]</a></sup>. </p>
              <p>Recognising how children’s personal experiences impact on this area of learning means that we as practitioners need to be aware of the diversity of children’s prior experiences. We also must consider how we can provide further experiences in our settings. </p>
              <p>For example, during transitions, practitioners can find out about the child and family during home visits and discussions with previous settings. This information can then be used to inform planning. Ongoing communication with families will also ensure your knowledge of the child is current and relevant. </p>
              
              <h2 class="govuk-heading-m">Understanding time  </h2>
              <p>Piaget suggests that children’s individual experiences will directly influence their awareness of time <sup id="reference-4-label"><a href="#">[reference 4]</a></sup>. Children will start in our settings with different previous experiences, and as practitioners we can build upon what they already know. </p>
              <p>Cartwright and others highlight that role-play and imaginative play often help children to develop a sense of time, through re-enacting their own experiences and using the language of time <sup id="reference-5-label"><a href="#">[reference 5]</a></sup>.</p>
              <p>According to Louis, young children reinforce connections through people, places, and objects <sup id="reference-6-label"><a href="#">[reference 6]</a></sup>. By speaking to adults about their own families, interests and experiences, they can gain a further understanding of past and present events like:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>special occasions and celebrations </li>
                <li>days of the week </li>
                <li>life cycles</li>
              </ul>

              <p>These experiences help children to understand their own context, as well as the diversity of the world in which they live. In practice, significant events in the child’s and family’s life can be acknowledged and shared as part of the class culture, like celebrations, special occasions, holidays and visits.</p>

              <h2 class="govuk-heading-m">Developing personal identity</h2>
              <p>Linden states ‘Young children of every cultural or ethnic background need to develop a secure and positive sense of their own identity’ <sup id="reference-7-label"><a href="#">[reference 7]</a></sup>. She goes on to discuss that practitioners can support this through carefully selecting resources and books that children can explore, and that consideration should be made in reflecting the community in which they live. Whitburn suggests that ‘learning to live together is one of the most difficult tasks ahead’ <sup id="reference-8-label"><a href="#">[reference 8]</a></sup>.  
            </p>
            <p>Derman-Sparkes and Taus suggested that: </p>
           
           <div class="blockquote-wrap"> <blockquote><p>Between the ages of two and five years old, children are forming self-identifies and building social interactions skills. At the same time, they are becoming aware of and curious about gender, race, ethnicity, and disabilities. Gradually young children begin to figure out how they are alike and how they are different from other people, and how they feel about these differences <sup id="reference-9-label"><a href="#">[reference 9]</a></sup>.</p> </blockquote></div>
            <p>Practitioners can support this through linked opportunties with Personal, Social and Emotional Development, including: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>sharing stories and circle times relevant to the diverse cultures within the setting </li>
                <li>modelling respectful relationships amongst adults and peers at all times </li>
                <li>engaging in dialogue and celebrating everyone as unique individuals</li>
              </ul>

              <p>Adams (2005) considers that the key to teaching citizenship is practical involvement of children. Additionally, Anderson (2005) promotes the use of fictional texts to explore thinking about citizenship and responsibility with children. supported by teachers facilitating the enquiry, through commenting and questioning. This thinking can be further supported by teachers through commenting and questioning.  Practitioners can arrange to have visitors to the setting to develop children’s understanding of citizenship and community. This could include health-care and emergency services workers, as well as visitors that relevantly reflect the diversity within their communities.</p>

              <h2 class="govuk-heading-m">Diverse world</h2>
              <p>Phenice and Griffore (2003) claim that the quality of young children’s environmental education determines how they see themselves in relation to the natural world. However, they also recognise that children are now spending more time on electronic devices, and less time experiencing nature. </p>
              <p>Many experts believe that children are born with an inbuilt connection to nature (Roszak, 1992, 1995; Barrows 1995; Clinebell, 1996). Previous research has shown that we should adopt three key principles when teaching children about the natural world and their place within it: </p>

              <ol class="govuk-list govuk-list--number">
                <li>Active learning rather than passive learning (Cohen, 1989) </li>
                <li>Direct experiences as opposed to abstract experiences (Chawla, 1988, Chawla & Hart,1998) </li>
                <li>Teachers modelling and scaffolding positive engagement with nature (Peterson & Hungerford, 1981) </li>
            
              </ol>
              <p>As practitioners, we can support children by consistently providing rich experiences in their setting. For example, we can provide areas in which pupils can explore natural habitats and resources, grow things, and explore a range of weather types (Cartwright and others, 2008).</p>
              <p>Additionally, practitioners can support children to observe, feel and experience the weather throughout the seasons. </p>
              
               <h2 class="govuk-heading-m">Widening vocabulary to support understanding</h2> 
               <p>Widening vocabulary can directly support children in developing a deep understanding of our diverse world.</p>
               <p>Miller recognises the importance of vocabulary in learning about the world in which we live <sup id="reference-10-label"><a href="#">[reference 10]</a></sup>. As well as this, Tickell argues that children gain a deeper understanding through opportunities to:</p>
               <ul class="govuk-list govuk-list--bullet">
                <li>play </li>
                <li>talk </li>
                <li>observe</li>
                <li>question</li>
                <li>take time to reflect, repeat and respond <sup id="reference-11-label"><a href="#">[reference 11]</a></sup></li>
              </ul>

              <p>Stephan suggests that when speaking with children, it is important not to overwhelm them with too many open questions. Instead, we should be alongside them and offer comments to develop vocabulary <sup id="reference-12-label"><a href="#">[reference 12]</a></sup>. </p>
              <p>Practitioners can widen vocabulary by commenting and labelling, using words to describe: </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>changes within the natural world </li>
                <li>animals </li>
                <li>birds</li>
                <li>plants, flowers and trees</li>
                
              </ul>

              <p>ICAN discusses that a good vocabulary is not simply knowing words but understanding what they mean. They suggest the meaning of words can be developed by giving children hands on experience, helping them to relate words to objects <sup id="reference-13-label"><a href="#">[reference 13]</a></sup>. </p>
              <p>Neuman considers words and their meaning to be paramount to children’s development. She describes how words are used by children as a way of understanding concepts and explains that by using ambitious vocabulary with children it supports them to build on what they already know. Furthermore, Neuman advocates that the importance of developing vocabulary should not be underestimated. She suggests the key to this is being responsive to what children say, answering their questions and extending it further <sup id="reference-14-label"><a href="#">[reference 14]</a></sup>.  </p>
              <p>Practitioners can support children by ensuring they use words correctly, for example, when describing religions, languages spoken and correctly pronouncing names and special events.</p>

              <h2 class="govuk-heading-m">Strategies to widen vocabulary</h2>
              <p>
                The DfE acknowledges the importance of building children’s knowledge in order to extend their familiarity with words that support their understanding across domains. Furthermore, they consider that  ‘enriching and widening children’s vocabulary will support later reading comprehension’ <sup id="reference-15-label"><a href="#">[reference 15]</a></sup>. </p>

                <p>As practitioners, we can incorporate a variety of strategies to help build this knowledge and help children to develop their vocabulary.</p>
                
                <h2 class="govuk-heading-m">Interactions with adults, practitioners and peers</h2>
                <p>Christ, Wang, & Chiu recognise that the opportunities children have to speak with practitioners and peers help them to learn and understand the meaning of new words <sup id="reference-16-label"><a href="#">[reference 16]</a></sup>. This view is shared by the National Association for the Education of Young Children, who discuss the value of rich and meaningful conversations between practitioners and peers in settings <sup id="reference-17-label"><a href="#">[reference 17]</a></sup>.  As well as this, Weizman & Snow describe these conversations as critical to effective Early language development <sup id="reference-18-label"><a href="#">[reference 18]</a></sup>. </p>
                <p>Cartwright and others emphasise the importance of practitioners introducing and using specific vocabulary in supporting children’s understanding of the world. They advocate the use of language of time when conversing with children, such as, yesterday, last week etc., as well as the use of open questions to support children in using new language <sup id="reference-19-label"><a href="#">[reference 19]</a></sup>. </p>
                <p>Relationships between adults and children are also fundamental <sup id="reference-20-label"><a href="#">[reference 20]</a></sup>, with adults needing to know children well and be aware of what they already know in order to facilitate and extend learning effectively. </p>
                
                <h2 class="govuk-heading-m">Technology</h2>
                <p>The National Literacy Trust recognises that technology can support early language by offering new learning opportunities, through using eBooks and apps for example. They advise that technology is not a replacement for positive interactions with practitioners but is used as a means of learning through play <sup id="reference-21-label"><a href="#">[reference 21]</a></sup>. </p>
                
                <h2 class="govuk-heading-m">Rich text</h2>
                <p>Both rich texts, like stories and information books, and images, like posters and photographs, can support children in widening their vocabulary in relation to Understanding the World. For example, the book Handa’s surprise, which introduces a variety of ways to describe fruit, can help children develop a sense of place. Providing sensory experiences alongside the story, like a bowl of fruit for children to explore, can further enhance meaning <sup id="reference-22-label"><a href="#">[reference 22]</a></sup>. </p>
            
                <h2 class="govuk-heading-m">Conclusion</h2>
                <p>This article has explored a range of research and theory to highlight how we as practitioners can ensure that children are supported to develop a good understanding of the world around them. This can be achieved through paying careful consideration to our relationships with children, as well as to the environment in which children learn. By doing this, we can both positively impact our own personal practice, and at the same time improve outcomes for the children in our care. </p>


                <hr>
                <h2 class="govuk-heading-m">References</h2>
                <ol class="govuk-list govuk-list--number">
                    <div class="govuk-visually-hidden">Reference</div> <li id="reference-1"> Music, G. (2011) ‘Nurturing Natures’ Psychology Press, East Sussex, p.72 <a aria-label="go to where this is referenced" href="#reference-1-label">&#8617;</a> </li>
                    <li>Direct experiences as opposed to abstract experiences (Chawla, 1988, Chawla & Hart,1998) </li>
                    <li>Teachers modelling and scaffolding positive engagement with nature (Peterson & Hungerford, 1981) </li>
                
                  </ol>

              </div>      
</div>
</div>
</div>
{% endblock %}

