{% extends "layouts/main.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training
{% endblock %}

{% block header %}
{% include "includes/fixed-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"> <a class="govuk-back-link" href="javascript:void(0)">Back to My modules</a></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Module 8: Supporting individual differences and needs</h1>
          <p>Identifying children’s developmental differences and specific needs is crucial to ensuring children can learn and develop. As an early years practitioner, you play a significant role in supporting inclusive environments where children can thrive and develop important life skills. Adapting your practice to meet the needs of all children is essential.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-5">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}



{% block content %}

    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">This module covers:</h2>
                <ul class="old-dfe-ul">
                <li>an understanding of how to identify developmental differences and needs </li>
                <li>the factors affecting children’s development when they access the learning and curriculum on offer in the setting</li>
                </ul>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Your module progress</h2>
    <p class="govuk-body">You can continue your learning, look at your module progress, or revisit pages of the training.</p>
    <h3 class="govuk-heading-s">Module contents</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible module-overview-section-break">
            <section class="module-overview--section">
                <div class="progress-bar">
                    <span class="icon completed"><span class="number">1</span></span>
                    <div class="line"></div>
                </div>
                <div class="module-section--content" id="section-content-1">
                    <h4 class="govuk-heading-s">Introducing special educational needs and disabilities (SEND)</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container">
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">What is SEND?</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">Legislation and guidance</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">Why is it important to identify differences and needs in a child’s learning and development?</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">Developmental differences and needs</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
            <section class="module-overview--section">
                <div class="progress-bar"><span class="icon completed"><span class="number">2</span></span>
                    <div class="line"></div>
                </div>
                <div class="module-section--content" id="section-content-2">
                    <h4 class="govuk-heading-s">The impact of knowledge and learning gaps on children’s development</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container">
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">The holistic impact of any delays on child’s learning, development and behaviour</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">How to identify and support gaps in learning and development</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">What to do once a referral is made</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
            <section class="module-overview--section">
                <div class="progress-bar"><span class="icon started"><span class="number">3</span></span>
                    <div class="line"></div>
                </div>
                <div class="module-section--content" id="section-content-3">
                    <h4 class="govuk-heading-s">Supporting children’s individual differences and needs</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container">
                        <span class="module-section--item"><ul><li><a href="javascript:void(0)">Your role in supporting children’s individual differences and needs</a></li></ul></span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                        <span class="module-section--item"><ul><li>Importance of (ongoing) assessment and professional curiosity</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--yellow">in progress</strong></span>
                        <span class="module-section--item"><ul><li>Creating inclusive environments</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                        <span class="module-section--item"><ul><li>Maintaining effective partnerships with other professionals involved</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
            <section class="module-overview--section">
                <div class="progress-bar"><span class="icon not_started"><span class="number">4</span></span></div>
                <div class="module-section--content" id="section-content-4">
                    <h4 class="govuk-heading-s">Summary and next steps</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container">
                        <span class="module-section--item"><ul><li>Recap and further reading</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                        <span class="module-section--item"><ul><li>End of module test</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                        <span class="module-section--item"><ul><li>Reflect on your learning</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                        <span class="module-section--item"><ul><li>Download your certificate</li></ul></span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-!-margin-top-8">
                <a draggable="false" data-module="govuk-button" role="button" id="module-call-to-action" class="govuk-button govuk-button--start" href="/jan-24/page-8-1">Resume module <svg aria-hidden="true" class="govuk-button__start-icon" focusable="false" height="19" viewBox="0 0 33 40" width="17.5" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h13l20 20-20 20H0l20-20z" fill="currentColor"></path></svg></a>
            </div> 
        </div>
    </div>
{% endblock %}


{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}
