{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Introducing special educational needs and disabilities (SEND) : Legislation and guidance
{% endblock %}

{% block header %}
{% include "includes/fixed-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/jan-24">Back to Module 8 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">Introducing special educational needs and disabilities (SEND)</span></p>
          <p class="govuk-!-font-weight-bold">Page 17 of 20</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 85%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="old-dfe-heading">Understanding neurodiversity</h1>
            <div class="gem-c-govspeak">
                <p><img src="/public/images/8-5.jpg" alt="A child and practitioner playing with bricks"></p>
        
                <p>In recent years, there has been a growing awareness of the term ‘neurodiversity’ and its implications for early childhood education. Neurodiversity refers simply to human differences as a biological fact. Neurodiversity is a neutral term that encompasses all of humanity and is about recognising that different children will need different things to thrive. Think of the following analogy:</p>

                <p>Imagine deciding to create a planting and sensory garden with your children. You pick out different plants and flowers. When it comes to planting them, you realise that:</p>
                <ul>
                    <li>some need regular watering </li>
                    <li>others do well in dryer conditions </li>
                </ul>
                <p>The plants and flowers require different types of soil, and some can be placed in direct sunlight, others benefit from shaded areas.</p>
                <p>This analogy can be applied to human brains and bodies. Rather than all children responding to the same care and nurturing, they actually rely on different things to thrive. Neurodiversity, like biodiversity, recognises this. There is limitless variability in minds and bodies. Development generally takes different pathways and can be understood through the language of neurodiversity (adapted from Walker, 2014). In an early childhood context, it is important to recognise that you must support all children, including those who may present with lifelong differences, such as being autistic.</p>
                <p>Neurodiversity comes with its own set of terminologies, which can help you to understand the landscape of human differences.</p>

                <h2 class="govuk-!-margin-top-3 govuk-!-margin-bottom-4">The language of neurodiversity </h2>

                <h3>Neurodiversity</h3>

                <p>A biological fact that refers to the limitless variability of human nervous systems on the planet, in which no two can ever be exactly alike due to the influence of environmental factors.</p>

                <h3>Neurodiverse</h3>

                <p>A group of people is neurodiverse if one or more members of the group differ substantially from other members, in terms of their neurocognitive functioning.</p>

                <p>Or, to phrase it another way, a neurodiverse group is a group in which multiple neurocognitive styles are represented (Walker, 2014).</p>

                <h3>Neurotypical</h3> 

                <p>Neurotypical refers to those children whose brain conforms to typically developing expectations. They represent the neuro majority of people whose development follows a similar pathway. We live in a society that favours this neurotypical pathway, which is often seen as the "ideal" or "normal" way of developing.</p> 

                <h3>Neurodivergent</h3> 

                <p>Neurodivergent refers to those children whose development diverges from the typically developing expectations. This is often a lifelong difference, such as being autistic. We live in a society that views these differences as something that needs to be fixed or reduced. However, neurodivergence is its own way of being and should be respected.</p> 

                <h3>Neurotype</h3> 

                <p>Neurotype refers to the type of neurodivergence you are referring to. For example, you may talk about the autistic neurotype or dyslexic neurotype.</p>
 
                <h3>Emergent neurodivergent </h3>

                <p>For those working in the early years, you will support children at the beginning of their developmental journey. They may not be diagnosed and so will be emerging into their neurodivergence. Remember it is not our role to diagnose children, but we should be alert to their possible development pathways.</p>

                <p>A common misconception of neurodiversity is that those who advocate for it only view neurodivergence and disability as a positive or set of strengths. This is not true. Neurodiversity instead advocates and recognises that all humans have a range of strengths, differences and needs.</p>

                <p>If you want to find out more about neurodiversity, please see further reading.</p>

                <div class="prompt">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter"><svg aria-describedby="info icon" class="svg-inline--fa fa-info fa-2x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg=""><path fill="currentColor" d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z"></path></svg><!-- <i aria-describedby="info icon" class="fa-2x fa-solid fa-info"></i> Font Awesome fontawesome.com -->
                        </div>
                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="govuk-heading-m">In your setting</h2>
                            <div class="gem-c-govspeak">
                            <p>Neurodiversity provides us with an opportunity to challenge some of the outdated beliefs about children with developmental differences and needs. There can be a tendency to take a deficit approach when a child is identified as having SEN, meaning we might only focus on the concerns and problems rather than taking a holistic view of their development. Some ways to support neurodiversity include:</p>
                    
                            <ul>
                            <li>adopting a strengths-led approach so that we always consider a child’s strengths, differences and needs and have the same ambitious goals for all children</li>
                            <li>being mindful that some children within our settings will have lifelong differences, and so we need to consider their developmental and learning milestones as unique as opposed to simply being a delay</li>
                            <li>cultivating a positive and accepting attitude towards neurodiversity among staff, children, and parents, creating a culture where differences are seen as valuable contributions to the learning community</li>
                            <li>establishing open and collaborative communication with parents and carers to understand each child's individual needs, preferences and any specific support they may require</li>
                            <li>routinely interacting with children, communicating with them and understanding what they know and can do, recognising that developmental pathways vary and embracing the diverse ways in which children make progress</li>
                            <li>ensuring that support is put in place at the right time so that a child can reach their full potential</li>
                            </ul>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/jan-24/page-8-4">Previous</a>
            <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="javascript:void(0)">Next</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}