{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Introducing special educational needs and disabilities (SEND) : Legislation and guidance
{% endblock %}

{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/jan-24">Back to Module 8 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">Introducing special educational needs and disabilities (SEND)</span></p>
          <p class="govuk-!-font-weight-bold">Page 10 of 20</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 50%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="old-dfe-heading">Legislation and guidance</h1>
            <div class="gem-c-govspeak">
                <p><img src="/public/images/8-1.jpg" alt="A child wearing a rainbow patterned cardigan"></p>
        
                <p>In this section you will be introduced to the main legislation and guidance about special educational needs and diversity (SEND), and learn about what you ‘must’ do and ‘should’ do.</p>
    
                <p>However, it is important to highlight that 'should' is still expected, unless inappropriate to do so. You will also have an opportunity to explore how different legislation and guidance overlap to ensure children with learning differences, needs and disabilities receive the appropriate support.</p>
    
                <p>This topic includes an outline of the main legislation and guidance.</p>
                
                <p>There are several pieces of legislation and guidance that you need to be aware of when you support children’s developmental differences and needs in your setting. We will not go into full details of every single one of them, but they are all will be available for you to read in full in the ‘Further reading’ section.</p>

                <p>When exploring the main messages, where the text uses the word ‘must’, it refers to a statutory requirement under primary legislation, regulations or case law. Where the text uses the word ‘should’, it means that the guidance must be considered and that those who must have regard and will be expected to explain any departure from it (SEND code of practice: 0 to 25 years, DfE 2015). This helps to ensure children’s needs are adequately supported and your practice is of high quality.</p>

                <p>Legislation includes, but is not limited to:</p>

                <h3>The Children and Families Act 2014 (Part 3)</h3>

                <p>This sets out principles that underpin part 3 of the Children and Families Act, including:</p>

                <ul>
                    <li>recognising the importance of wishes, views and feelings of children, young people and their parents</li> 
                    <li>their participation in decision making </li> 
                    <li>recognising the importance of information and support</li>
                    <li>focussing on the best possible outcomes for children and young people with SEND</li>
                </ul>

                <p>The Act requires:</p>

                <ul>
                    <li>a joint approach across education, health and social care to commission services and co-operate at a local level to meet children and young people’s needs</li> 
                    <li>local authorities to publicise these services as a local offer so that parents and young people are clear on what support is available locally </li> 
                    <li>establishing a framework from birth to 25 years, education, health and care plans replacing statements of SEN</li>
                    <li>setting out a new framework for SEN and a new SEND code of practice</li>
                </ul>

                <p>All early years settings must have regard to the SEND Code of Practice - this means they must take it into account whenever they make decisions about young children. They must co-operate with local authorities in meeting their duties to children with SEN.</p>
                <p>More information can be found in further reading.</p>
                <h3>The Equality Act 2010</h3>

                <p>According to the Equality Act 2010, early years settings must:</p>
                <ul>
                    <li>promote equality of opportunity</li> 
                    <li>not discriminate against disabled children</li> 
                </ul>
                <p>The Act identifies 9 ‘protected characteristics’ that are protected by law against any direct or indirect discrimination, including:</p>
                <ul>
                    <li>age</li> 
                    <li>disability</li>
                    <li>gender reassignment</li> 
                    <li>marriage and civil partnership </li> 
                    <li>pregnancy and maternity</li> 
                    <li>race </li> 
                    <li>religion or belief </li> 
                    <li>sex </li> 
                    <li>sexual orientation </li> 
                </ul>
                <p>The Equality Act 2010 prohibits direct and indirect discrimination, harassment, and victimisation in various contexts including education. An important aspect of the Equality Act 2010 is the requirement to make ‘reasonable adjustments’. You will learn more about reasonable adjustments in a later section.</p>

                <h3>The SEND code of practice: 0 to 25 years (2015)</h3>

                <p>The SEND code of practice: 0 to 25 years (2015) is statutory guidance for organisations which work with and support children and young people who have special educational needs or disabilities. It provides detailed information and instructions on how local authorities, early years settings, schools and post-16, health professionals and others should support children and young people with special educational needs and disabilities from birth to the age of 25.</p>
                <p>Chapter 5 of this document is particularly important for your early years setting as it describes the provision that must be in place for children with SEND. In particular, you will find the steps you need to take to ‘assess’, ‘plan’, ‘do’ and ‘review’ provision for the child in your setting. This process is referred to as the ‘graduated approach’ cycle.</p>
                <p>You will also find a link to ‘Early years: guide to the 0 to 25 SEND code of practice’ in the ‘Further reading’ section.</p>

                <h3>EYFS statutory framework for childminders (2024) and EYFS statutory framework for group and school-based providers (2024)</h3>

                <p>It is a requirement for every early years provider in England to adhere to the relevant EYFS framework. The fundamental principles of the frameworks apply to all children, including those with special educational needs or disabilities.</p>

                <h3>EYFS statutory framework for childminders (2024)</h3>

                <p>The EYFS statutory framework for childminders (para 3.60) states the importance of identifying a SENCO who is responsible for the coordination of the support for children with SEND. The responsibilities are stated as follows:</p>

                <div class="blockquote-container govuk-!-margin-top-9 govuk-!-margin-bottom-8"><blockquote class="quote"><p class="govuk-body-m">Childminders must have arrangements in place to support children with Special Educational Needs and Disabilities (SEND). Childminders are encouraged to identify a person to act as a SENCO (SEND coordinator). Childminders who are registered with a CMA, or who are part of a network, may wish to share the role between them. Childminders may find it helpful to familiarise themselves with the early years section of the SEND Code of Practice.</p></blockquote></div>

                <h3>EYFS statutory framework for group and school-based providers (2024)</h3>
                <p>The EYFS statutory framework for group and school-based providers (para 3.61) states the importance of identifying a SENCO who is responsible for the coordination of the support for children with SEND in the setting. The responsibilities are stated as follows:</p>
                 <div class="blockquote-container govuk-!-margin-top-8 govuk-!-margin-bottom-8"><blockquote class="quote"><p class="govuk-body-m">Providers must have arrangements in place to support children with Special Education Needs and Disabilities (SEND). Maintained schools, maintained nursery schools and all providers who are funded by the local authority to deliver early education places must take into account the Special Educational Needs Code of Practice. Maintained schools and maintained nursery schools must identify a member of staff to act as Special Educational Needs Co-ordinator (SENCO) and other providers (in group provision) are expected to identify a SENCO. Providers may find it helpful to familiarise themselves with the early years section of the SEND Code of Practice.</p></blockquote></div>

                <p>While both frameworks outline the role of a SENCO, signposting to the SEND code of practice: 0 to 25 years (DfE and DoH, 2015) affirms the expectation that all those working with children in early years settings should feel equipped to provide SEN support, with the guidance of a SENCO. It is therefore important to consider how all staff are upskilled in SEND through various ways, including continuing professional development.</p>
                <p>Guidance includes, but is not limited to:</p>
                <h3>Development Matters (2021)</h3>
                <p>Development Matters (2021) is non-statutory guidance produced by the Department for Education (DfE) to support the implementation of the EYFS statutory frameworks.</p>
                <p><b>A Celebratory Approach to Working with Children with SEND – Giving additional support in the Early Years (formerly ‘A Celebratory Approach to SEND assessment in the Early Years’)</b></p>
                <p>This is a guide produced by Pen Green Children’s Centre and published by the DfE, which aims to help practitioners who may be supporting children who need additional help or children with SEND.</p>

            </div>
   
</div>
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/jan-24">Previous</a>
            <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="/jan-24/page-8-2">Next</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}