{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Introducing special educational needs and disabilities (SEND) : Legislation and guidance
{% endblock %}

{% block header %}
{% include "includes/fixed-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/jan-24">Back to Module 8 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">Developmental differences and needs</span></p>
          <p class="govuk-!-font-weight-bold">Page 11 of 20</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 55%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}



<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <form  accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off">
            <input type="hidden" name="authenticity_token" value="7qDFmx6zoGCWHZ8kU2m-HhkXpCGlyMpxLDiE3NatzBPb0w-eTTqFQNXG8KOJF1faBmzYppsE-whbi33NjircMQ" autocomplete="off">
            <h1 class="govuk-heading-l old-dfe-heading">Learning check</h1>
            <div class="prompt">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <svg class="svg-inline--fa fa-question fa-2x icon" aria-label="question icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="question" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M80 160c0-35.3 28.7-64 64-64h32c35.3 0 64 28.7 64 64v3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74V320c0 17.7 14.3 32 32 32s32-14.3 32-32v-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7V160c0-70.7-57.3-128-128-128H144C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"></path></svg><!-- <i class="fa-solid fa-2x fa-question icon" aria-label="question icon"></i> Font Awesome fontawesome.com -->
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                        <h2 class="govuk-heading-m">Check your understanding</h2>
                        <div class="govuk-!-margin-top-4">
                            <p class="govuk-body-m">Applying the most important messages from the various statutory guidance, including the EYFS (DfE, 2024) and SEND code of practice: 0 to 25 (DfE and DoH, 2015), can greatly support your work and demonstrate that you are going to ensure children’s needs are upheld and adequately supported.</p><p>Which of the following statements are ‘true’? (Please choose all that apply)</p>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                   
                                    <input value="" name="user_answer[answers][]" autocomplete="off" type="hidden" id="user_answer_answers">
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input id="user-answer-answers-1-field" class="govuk-checkboxes__input" type="checkbox" value="1" name="user_answer[answers][]">
                                            <label for="user-answer-answers-1-field" class="govuk-label govuk-checkboxes__label">Providers do not need to make reasonable adjustments when children find it difficult to participate in interactions and activities</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input id="user-answer-answers-2-field" class="govuk-checkboxes__input" type="checkbox" value="2" name="user_answer[answers][]">
                                            <label for="user-answer-answers-2-field" class="govuk-label govuk-checkboxes__label">Parents and carers and children must be involved in decisions about their support</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input id="user-answer-answers-3-field" class="govuk-checkboxes__input" type="checkbox" value="3" name="user_answer[answers][]">
                                            <label for="user-answer-answers-3-field" class="govuk-label govuk-checkboxes__label">Not all settings must have a SENCO</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input id="user-answer-answers-4-field" class="govuk-checkboxes__input" type="checkbox" value="4" name="user_answer[answers][]">
                                            <label for="user-answer-answers-4-field" class="govuk-label govuk-checkboxes__label">‘Disability’ is a protected characteristic under the Equality Act 2010</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input id="user-answer-answers-4-field" class="govuk-checkboxes__input" type="checkbox" value="4" name="user_answer[answers][]">
                                            <label for="user-answer-answers-4-field" class="govuk-label govuk-checkboxes__label">Discrimination can be both direct and indirect</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    
                        
                    
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>

<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters">
        <div aria-labelledby="govuk-notification-banner-title" class="govuk-notification-banner" data-module="govuk-notification-banner" role="alert">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">That's not quite right</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-body-m">The Equality Act 2010 states that providers must make reasonable adjustments to include children who have a disability and allow fair access to the curriculum. It is important that children and people who have a disability are not directly or indirectly discriminated against because of their disability.</p>   

                <p class="govuk-body-m">One of the main principles of the SEND provisions in the Children and Families Act 2014 is that parents, carers and children must be involved in all decisions relating to their support. This implies [among other things] that they will be provided with both:</p>  
                    
                <ul>
                    <li>ongoing, clear information about services</li>
                    <li>next steps to support their development and well-being</li>
                </ul>

                <p class="govuk-body-m">The Equality Act 2010 identifies 9 protected characteristics that are protected by law against any direct or indirect discrimination, including:  </p>   
                    
                <ul>
                    <li>age</li>
                    <li>disability</li>
                    <li>gender reassignment</li>
                    <li>marriage and civil partnership</li>
                    <li>pregnancy and maternity</li>
                    <li>race</li>
                    <li>religion or belief</li>
                    <li>sex</li>
                    <li>sexual orientation</li>
                </ul>   
                    
                <p class="govuk-body-m">The EYFS statutory framework for group and school-based providers,(DfE 2024) para 3.61 states:</p>  
                    
                <p class="govuk-body-m">“Providers must have arrangements in place to support children with Special Education Needs and Disabilities (SEND). Maintained schools, maintained nursery schools and all providers who are funded by the local authority to deliver early education places must take into account the Special Educational Needs Code of Practice. Maintained schools and maintained nursery schools must identify a member of staff to act as Special Educational Needs Co-ordinator (SENCO) and other providers (in group provision) are expected to identify a SENCO. Providers may find it helpful to familiarise themselves with the early years section of the SEND Code of Practice.”</p>
                    
                <p class="govuk-body-m">The EYFS statutory framework for childminders (DfE 2024) para 3.60 states:</p> 
    
                <p class="govuk-body-m">“Childminders must have arrangements in place to support children with Special Educational Needs and Disabilities (SEND). Childminders are encouraged to identify a person to act as a SENCO (SEND coordinator). Childminders who are registered with a CMA, or who are part of a network, may wish to share the role between them. Childminders may find it helpful to familiarise themselves with the early years section of the SEND Code of Practice.”</p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/jan-24/page-8-2">Previous</a>
            <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="/jan-24/page-8-3">Next</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}