{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Introducing special educational needs and disabilities (SEND) : Legislation and guidance
{% endblock %}

{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/jan-24">Back to Module 8 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">Introducing special educational needs and disabilities (SEND)</span></p>
          <p class="govuk-!-font-weight-bold">Page 16 of 20</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 80%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="old-dfe-heading">Misconceptions around SEND labelling</h1>
            <div class="gem-c-govspeak">
                <p><img src="/public/images/8-4.jpg" alt="A child and practitioner playing with colour bricks"></p>
        
                <h3>Misidentification</h3> 

                <p>In an earlier section you explored the definition of early support. You considered whether the quality of your curriculum has provided adequate opportunities for children to demonstrate their learning and development. In some situations, and due to varying quality, children may have insufficient opportunities to demonstrate their learning and development. Yet, they may still be identified as SEND.</p>  

                <p>The misidentification of SEND can have significant consequences for a child and cause unnecessary distress to the parent or carer. For example, the parent or carer and practitioner may have a mismatched perspective of the child. The parent may not share the same concerns or encounter the same needs within the home environment, which may suggest that the setting's practice and provision require attention.</p>

                <p>It is, therefore, vital that when deciding whether the child has SEND, you spend time thinking about the quality of your curriculum, high quality and adaptive teaching practices. You should then follow the appropriate processes to decide whether the child falls under the definition of SEND.</p>  

                <p>It can be confronting to realise that the issue lies within the quality of practice, but it is also useful to remember that your quality improvement is an ongoing process and carefully reflect on this for part of your journey towards an ambitious curriculum and high-quality teaching.</p> 

                <h3>Misconceptions</h3>

                <p>The purpose of applying the definition of SEND to a child is to ensure they receive appropriate support and reduce learning and development gaps. While early identification is essential, you should take your time in making decisions about a child's learning needs and regularly discuss this with the parent or carer. Without careful consideration, SEND can become a negative label and limit rather than enhance a child's support.</p>

                <p>For example, imagine a child is new to the setting and settling in. They may struggle with the transition, display dysregulated behaviours, or be anxious to talk. A practitioner may label that child SEND without taking into account other factors. By applying the label without thought, the practitioner has limited their opportunities to explore what is happening for the child about transition.</p>

                <p>SEND can also be used to categorise typically developing children who appear to fit into the provision and those who do not. For example, a setting may refuse admission to a child based on their SEND and may suggest that they cannot meet the child's needs. This puts the setting at risk of discriminatory practice and overlooks the importance of an ambitious curriculum for all.</p>

                <p>Finally, the term SEND, when not used appropriately, can lead to a process known as ‘othering’, which refers to a child being treated negatively due to their differences. The child may be considered separate from the rest of the children, increasing the risk of exclusion and segregation.</p>

                <p>Overall, labelling can lead to SEND being used as more than a description of educational needs. Instead, it can contribute to the idea that the child does not fit in, potentially impacting their sense of belonging.</p> 

                <p>Let's draw upon a similar example. For many years, you may have heard the term 'challenging behaviour' to describe the behaviours of young children that are deemed disruptive or difficult. However, there is now wider recognition that these behaviours are an inevitable and expected part of early childhood development. Many external factors also influence behaviour. Practitioners now tend to say 'behaviours that challenge', recognising that behaviours may be challenging to you, but that does not make the child challenging. You must also consider the different factors and not label the child as poorly behaved. Some external factors include:</p>
                <ul>
                    <li>developing ongoing self-regulation (remember this is a lifelong pursuit)</li>
                    <li>being overwhelmed by the environment</li>
                    <li>having an unmet need such as hunger or tiredness</li>
                </ul>
                <p>A useful thing to remember in behaviours that challenge is the following:</p>

                <div class="blockquote-container govuk-!-margin-top-9 govuk-!-margin-bottom-8"><blockquote class="quote"><p class="govuk-body-m">The child is not giving us a hard time, they are having a hard time. </p><cite>Dr Ross Greene (1998)</cite></blockquote></div>
 
            </div>
        </div>
</div>
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/jan-24/page-8-3">Previous</a>
            <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="/jan-24/page-8-5">Next</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}