{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Introducing special educational needs and disabilities (SEND) : Legislation and guidance
{% endblock %}

{% block header %}
{% include "includes/fixed-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/jan-24">Back to Module 8 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">Introducing special educational needs and disabilities (SEND)</span></p>
          <p class="govuk-!-font-weight-bold">Page 15 of 20</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 75%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="old-dfe-heading">Developmental differences and needs </h1>
            <div class="gem-c-govspeak">
                <p><img src="/public/images/8-3.jpg" alt="A child playing with coloured shapes"></p>
        
                <h3>Developmental differences</h3>

                <p>Throughout this section, the term ‘differences and needs’ has been used instead of ‘delays’. This aims to acknowledge that, in early years settings, your responsibility extends beyond simply ensuring progress. It involves recognising that some children may receive lifelong diagnoses, such as autism or dyslexia. If you only view children through the lens of delays, you may inadvertently suggest that thinking, perceiving, and being different automatically equates to being less than others. That is not to say that children will not face challenges, or need support, but simply recognises that human differences are inevitable and now being more widely recognised as more than just a deficit.</p> 

                <p>The most important thing to remember about developmental differences is that they are an expected and inevitable part of human development. Historically, human difference has been viewed through a deficit lens leading to the belief that some children need to be fixed or cured of their differences or disabilities. This will be discussed further in the section on neurodiversity.</p>

                <p>Some of the examples of children’s differences could be:</p>
                <ul>
                    <li>a deaf child using British Sign Language as opposed to verbally spoken language</li>
                    <li>an autistic child not providing eye contact in the same way as their typically developing peers</li>
                    <li>developing special interests and passions as opposed to having a range of interests</li>
                    <li>a child with a learning disability may use a technological device and intensive interaction as opposed to speech</li>
                    <li>self-stimulatory behaviour, known as stimming, such as hand flapping to show engagement as opposed to sitting still</li>
                </ul>
            </div>
        </div>
</div>
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/jan-24/page-8-2">Previous</a>
            <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="/jan-24/page-8-4">Next</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}