{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Remove your account
        </h1>

        <p>Are you sure? Your account will be removed and all of your progress will be lost.</p>
        <a class="govuk-button" href="account-deleted">Remove my account</a> <br>
        <a class="govuk-body govuk-link" href="manage-account">Cancel</a>

      </div>
    </div>

  </main>
</div>

{{super()}}
{% endblock %}
