{% extends "layout.html" %}

{% block pageTitle %}
You have now finished this module
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "/introduction/1"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            You have now finished this module
          </h1>

          <p class="govuk-body">You have reached the end of this module on understanding child development and the EYFS. We hope you have found it helpful for your practice.</p>

          <h2 class="govuk-heading-m">
            Help us improve this training
          </h2>

          <p class="govuk-body">This module is the first part of a child development training course that the Department for Education is creating for early years practitioners.</p>

          <p class="govuk-body">As one of the first practitioners to take this training, we would really appreciate your feedback, so we can make it better for everyone. Please fill in our feedback form to tell us what you think. </p>

          <a class="govuk-button" data-module="govuk-button" href="https://docs.google.com/forms/d/e/1FAIpQLSfd-KUz1kUIXfxbymDy4v-Tpyr6ohqc4C8z_Mkpw0WyqpTf7g/viewform?usp=sf_link">Tell us what you think</a>

        </div>
      </div>
    </main>
  </div>

  {{ super() }}
{% endblock %}