{% extends "layout-dfe.html" %}

{% set milestone = 'sprint-23' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<div class="govuk-width-container">
  <a href="module-overview" class="govuk-back-link">Back to Module 2 overview</a>
</div>

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  
        <ol class="progress-bar--container govuk-list" role="progressbar">
          <li class="progress-bar"><span class="fa-stack fa-1x" aria-label="started"><svg
            class="svg-inline--fa fa-circle fa-stack-2x green" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z">
            </path>
          </svg>
          <i style="color:green;"class="fa-solid fa-stack-2x fa-circle green"></i>
          <i class="inner-circle fa-solid fa-stack-2x fa-circle "></i>
        </span>
        
        <p class="govuk-body progress--heading govuk-!-font-weight-bold"><span
            class="govuk-visually-hidden">Step 1</span>The developing brain
        </p>
      </li>
          <li class="progress-bar"><span class="fa-stack fa-1x" aria-label="not started"><svg
            class="svg-inline--fa fa-circle fa-stack-2x" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z">
            </path>
          </svg>
          <i style="color:white" class="fa-solid fa-stack-2x fa-circle"></i>
          <i style="color:grey;"class="fa-regular fa-stack-2x fa-circle grey"></i></span>
        <div class="line line--grey"></div>
        <p class="govuk-body progress--heading"><span class="govuk-visually-hidden">Step 3</span>How children learn</p>
      </li>
          <li class="progress-bar"><span class="fa-stack fa-1x" aria-label="not started"><svg
                class="svg-inline--fa fa-circle fa-stack-2x" aria-hidden="true" focusable="false"
                data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                  d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z">
                </path>
              </svg>
              <i style="color:white" class="fa-solid fa-stack-2x fa-circle"></i>
              <i style="color:grey;"class="fa-regular fa-stack-2x fa-circle grey"></i></span>
            <div class="line line--grey"></div>
            <p class="govuk-body progress--heading"><span class="govuk-visually-hidden">Step 3</span>Summary and next steps</p>
          </li>
       
        </ol>
        
      </div>
    </div>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Page 2 of 3</span>
          <h1 class="govuk-heading-l">
              Parts of the brain
            </h1>
          <img class="image-width" src="/public/images/brain-diagram.jpg"  alt="">
          <br>
          <br>

          <h2 class="govuk-heading-m">Brain stem</h2/>

          <p class="govuk-body">The brain stem is at the top of your spinal cord where your head joins your neck. This is the most developed section of your brain at birth. This vital part of the brain controls your breathing, heart rate and blood pressure. It also supports newborn reflexes such as crying, startling and sucking.</p>
        

          <h2 class="govuk-heading-m">Cerebellum</h2/>

          <p class="govuk-body">The cerebellum is at the back of your head. This is the area in charge of motor development. It controls balance and coordinates movements. The cerebellum combines the signals from the eyes, ears and muscles with motor commands. This area of the brain supports babies to progress with motor skills such as the progression from rolling to crawling to walking. Repeating challenging activities helps this area of the brain to develop.</p>


          <h2 class="govuk-heading-m">Frontal lobes</h2/>

          <p class="govuk-body">The frontal lobes are located behind your forehead and are the largest part of your brain. They are involved in:</p>
          <ul class = "govuk-list govuk-list--bullet">
            <li>moral reasoning</li>
            <li>critical thinking</li>
            <li>planning ahead</li>
            <li>decision making</li>
            <li>impulse control</li>
          </ul>

          <p class="govuk-body">The frontal lobes continue to develop until you are in your twenties or thirties- 
            shaped by your experiences and environment.</p>

          <h2 class="govuk-heading-m">Occipital lobes</h2/>

          <p class="govuk-body">The occipital lobes are the back part of the brain. They allow us to make sense of information that comes from our eyes.</p>
          <p class="govuk-body">At birth, the neural pathways used to carry the information from the eyes to the brain are not fully developed. 
            Babies can only see 20 to 30 cm in front of them. To develop these neural pathways babies needs to use them,and they can do this by 
            looking at a variety of objects. Babies’ vision improves steadily, and by 8 months they will see almost as well as an adult.</p>

          <h2 class="govuk-heading-m">Temporal lobes</h2/>

          <p class="govuk-body">The temporal lobes are at the side of your brain, just above your ears. One of their important functions is to help us understand and process sounds. Other functions include recognising faces and objects, as well as memory acquisition.</p>
          <p class="govuk-body">It’s essential that a child is exposed to a wide variety of visual, auditory and practical stimuli that enable them to test concepts and build memory skills.</p>
          <p class="govuk-body">To support children, you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>sing songs and rhymes</li>
            <li>encourage discussion and ask questions</li>
            <li>share stories</li>
            <li>use visual aids, such as puppets and story sacks</li>
            <li>go on sensory walks</li>
            <li>support creative activities that use a wide varieties of textures and colours</li>
          </ul>

        
          <h2 class="govuk-heading-m">Parietal lobes</h2/>
            <p class="govuk-body">The parietal lobes are located behind the frontal lobes and above the temporal lobes. One of their main functions is to make sense of things we touch. They also tell us where our body is in relation to objects around us.</p>


         
            <hr class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Learning resources</h2/>
                <div class="resources-container">
                  <section style="padding-bottom:10px !important;">
                    <a href="/public/images/activity-sheet.png" download>
                      
                      <img class="thumbnail--image" src="/public/images/activity-sheet.png">
                      <h3 class="govuk-link"> Brain development worksheet
                      </h3>
                    </a>
                    <p class="govuk-body-s">Web accessible PDF, 1.3MB, 1 page</p>
                    <p class=="govuk-body">Use this worksheet to reinforce your understanding of the different areas of the
                      brain and how children's brains develop in the early years.</p>
                  </section>
                </div>
           
          
            <hr class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">
            
            <a class="govuk-button govuk-button--secondary" style="margin-right:10px;" data-module="govuk-button" href="topic-intro">Previous</a>
    
              <a class="govuk-button" data-module="govuk-button" href="sensormotor">Save and continue</a>
        </div>
      </div>
    </main>
  </div>
  {{super()}}
{% endblock %}
