{% extends "layout-dfe.html" %}

{% set milestone = 'sprint-23' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/sprint-23/home-existing"
      },
      {
        text: "Brain development and how children learn",
        href: "#"
      }
    ]
  }) }}
  </div>

</br>
<!-- START MAST -->

  <div class="govuk-width-container">
    <div class="full-BGstrip BGstrip-grey">
    <main class="govuk-main-wrapper">
     
      <div class="govuk-grid-row">

        <!-- START INTRO -->
        <div class="govuk-width-container ">
          <h1 class="govuk-heading-l ">Brain development and how children learn</h1>
          <p class="govuk-body">The rapid changes that happen in the brain in a child’s first years lay critical foundations for later childhood and adult life. As an early years practitioner, you can play a significant role in encouraging and supporting children’s brain development.

          </p>
          <p class="govuk-body">On completion of this module, you will be able to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>establish and explore the stages of children’s brain development</li>
            <li>explore the impact of brain development on children’s holistic development</li>
            <li>examine the connection between brain development and children’s learning</li>
            <li>explore a range of theories underpinning best practice</li>
          </ul>

          {{ govukButton({
          "text": "Start module",
          href: "about-interrupt"
          }) }}
        </div>
      </main>
    </div>
  </div>
  <!-- END BESPOKE MAST -->



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      {{ govukAccordion({
        id: "accordion-with-summary-sections",
        items: [
          {
            heading: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <h2 class="govuk-heading-m">The developing brain</h2>

                 
                  </li>

              </ul>'
            },
           
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="">Brain development before birth</a>

                    <strong class="govuk-tag align-right">
                      Not started
                    </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="">Parts of the brain</a>

                    <strong class="govuk-tag align-right">
                      Not started
                    </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="">Brain development from 0 to 2 years old: the sensorimotor stage</a>

                    <strong class="govuk-tag align-right">
                      Not started
                    </strong>
                  </li>

              </ul>'
            }
          },
              {
            heading: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <h2 class="govuk-heading-m">How children learn</h2>

                  
                  </li>

              </ul>'

            },
          
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">How secure relationships affect learning and behaviour</a>
                    <strong class="govuk-tag align-right">
                     Not started
                      </strong>
                  </li>

                  <li>
                    <a class="govuk-link" href="#"> Social and emotional development: 2 to 3 years old </a> 
                    <strong class="govuk-tag align-right">
                    Not started
                    </strong>
                  </li>
                 

              </ul>'
            }
          },

          {
            heading: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <h2 class="govuk-heading-m">Summary and next steps</h2>

                 
                  </li>

              </ul>'

            },
           
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Recap and further reading</a>
                    <strong class="govuk-tag align-right">
                     Not started
                      </strong>
                  </li>

                  <li>
                    <a class="govuk-link" href="#"> End of module quiz </a> 
                    <strong class="govuk-tag align-right">
                    Not started
                    </strong>
                  </li>
                 

              </ul>'
            }
          }
           
          
          
          
        ]
      }) }}
      

    </div>
  </div>
</div>

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}