{% extends "layout-dfe.html" %}

{% set milestone = 'sprint-23' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<div class="govuk-width-container">
  <a href="module-overview" class="govuk-back-link">Back to Module 2 overview</a>
</div>

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  
        <ol class="progress-bar--container govuk-list" role="progressbar">
          <li class="progress-bar"><span class="fa-stack fa-1x" aria-label="started"><svg
            class="svg-inline--fa fa-circle fa-stack-2x green" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z">
            </path>
          </svg>
          <i style="color:green;"class="fa-solid fa-stack-2x fa-circle green"></i>
          <i class="inner-circle fa-solid fa-stack-2x fa-circle "></i>
        </span>
        
        <p class="govuk-body progress--heading govuk-!-font-weight-bold"><span
            class="govuk-visually-hidden">Step 1</span>The developing brain
        </p>
      </li>
          <li class="progress-bar"><span class="fa-stack fa-1x" aria-label="not started"><svg
            class="svg-inline--fa fa-circle fa-stack-2x" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z">
            </path>
          </svg>
          <i style="color:white" class="fa-solid fa-stack-2x fa-circle"></i>
          <i style="color:grey;"class="fa-regular fa-stack-2x fa-circle grey"></i></span>
        <div class="line line--grey"></div>
        <p class="govuk-body progress--heading"><span class="govuk-visually-hidden">Step 3</span>How children learn</p>
      </li>
          <li class="progress-bar"><span class="fa-stack fa-1x" aria-label="not started"><svg
                class="svg-inline--fa fa-circle fa-stack-2x" aria-hidden="true" focusable="false"
                data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                  d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z">
                </path>
              </svg>
              <i style="color:white" class="fa-solid fa-stack-2x fa-circle"></i>
              <i style="color:grey;"class="fa-regular fa-stack-2x fa-circle grey"></i></span>
            <div class="line line--grey"></div>
            <p class="govuk-body progress--heading"><span class="govuk-visually-hidden">Step 3</span>Summary and next steps</p>
          </li>
       
        </ol>
        
      </div>
    </div>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Page 3 of 3</span>
          <h1 class="govuk-heading-l">
            Brain development from 0 to 2 years old: the sensorimotor stage
            </h1>
          <img src="/public/images/babies-two.jpg"  alt="">
          <br>
          <br>



          <p class="govuk-body">This section of the module looks at Jean Piaget’s theory of cognitive development. Originally published in 1936, Piaget’s theory is still influential in some practice today.</p>
          <p class="govuk-body">It’s important to remember that theory is just that: theoretical ideas based on the research of an individual. Much the same as no one activity will suit the needs of all children, no one theory will influence how you support a child.</p>
          <p class="govuk-body">It is also important to fully consider criticisms of the theory and the findings from more recent research.</p>
          <p class="govuk-body">Later in this module we will look at a wider range of theories that further explore the social and behavioural influences on development, and consider their relevance within your practice</p>

          <h2 class="govuk-heading-m">Piaget’s theory</h2/>

          <p class="govuk-body">The cerebellum is at the back of your head. This is the area in charge of motor development. It controls balance and coordinates movements. The cerebellum combines the signals from the eyes, ears and muscles with motor commands. This area of the brain supports babies to progress with motor skills such as the progression from rolling to crawling to walking. Repeating challenging activities helps this area of the brain to develop.</p>
          <p class="govuk-body">Piaget’s research showed that babies’ development started with a set of reflexes and travelled through a series of stages until children had developed more advanced skills.</p>
          <p class="govuk-body">Piaget labelled the 0 to 2 years old stage of development as the sensorimotor stage. In this stage, babies use their senses to explore and grow.</p>
          <p class="govuk-body">Piaget did not believe that babies were born with a fixed intellectual ability. Instead, he said that a child’s interaction with their environment, combined with their growing brain, shapes the development of their cognitive skills.</p>
          <p class="govuk-body">Cognitive skills are the mental processes involved in learning and understanding things. This includes:</p>

          <ul class = "govuk-list govuk-list--bullet">
            <li>thinking</li>
            <li>knowing</li>
            <li>remembering</li>
            <li>judging</li>
            <li>impulse control</li>
          </ul>

          <p class="govuk-body">Piaget believed that babies and young children need time and positive experiences to encourage the use of senses and to practise actions. This then supports the development of thinking and skills.</p>
          <p class="govuk-body">Piaget’s thoughts also included the idea that babies in the sensorimotor stage lacked the skill of object permanence. Object permanence is the ability to mentally picture an item even when it was no longer there.</p>
          <p class="govuk-body">Piaget made connections between object permanence and separation anxiety which babies generally experience until around 9 to 10 months. During this time, babies do not yet understand that their carer still exists, even when they are out of sight.</p>
          <p class="govuk-body">Jean Piaget also believed that children:</p>

          <ul class = "govuk-list govuk-list--bullet">
            <li>could learn just as effectively on their own without the influence of an adult</li>
            <li>have an internal motivation to learn</li>
            <li>do not always follow the same predictable development path</li>
          
          </ul>

          <p class="govuk-body">Piaget’s work resulted in a number of early years approaches including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the importance of a supportive environment</li>
            <li>the promotion of social interaction and peer teaching</li>
            <li>that children need opportunities to test inconsistencies in their thoughts</li>
           
          </ul>

          <hr class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Learning resources</h2/>
            <div class="resources-container govuk-!-margin-bottom-3">
              <section>
                <a href="" target="_blank">
                  <img class="thumbnail--image" src="/public/images/key-learnings.png">
                  <h3 class="govuk-link"> The developing brain - Key concepts poster
                  </h3>
                </a>
                <p class="govuk-body-s">Web accessible PDF, 599KB, 1 page</p>
                <p class=="govuk-body">This poster recaps key learnings from the first topic of module 2, The developing
                  brain. Download or print it to display in your setting.</p>
                
  
  
  
              </section>
            </div>
      
         
            <hr class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">
            <a class="govuk-button govuk-button--secondary" style="margin-right:10px;" data-module="govuk-button" href="brain-parts">Previous</a>
    
              <a class="govuk-button" data-module="govuk-button" href="topic-intro-2nd">Save and continue</a>
        </div>
      </div>
    </main>
  </div>
  {{super()}}
{% endblock %}
