{% extends "../sprint-25/home.html" %}

{% block signin %}
{% endblock %}

{% block areasOfLearning %}

{% macro list(name) %}
  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">{{ name }}</a>
      </li>
    </ul>
  </div>
  {% endmacro %}

  <div class="govuk-grid-row">
    {{ list("Communication and language") }}
    {{ list("Physical development") }}
  </div>

  <div class="govuk-grid-row">
    {{ list("Personal, social and emotional development") }}
    {{ list("Literacy") }}
  </div>

  <div class="govuk-grid-row">
    {{ list("Mathematics") }}
    {{ list("Understanding the world") }}
  </div>
  <div class="govuk-grid-row">
    {{ list("Expressive arts and design") }}
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4" />
{% endblock %}

{% block freeOnlineTraining %}
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Free child development training </h2>
      <p class="govuk-body">You can now access short online courses to help you support the development of children in your setting. Each course has been written by an early years expert, working with the Department for Education and Ofsted. </p>

      <p class="govuk-body">Each training module:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>is free for childminders, nurseries and other early years providers</li>
        <li>takes less than 2 hours to complete</li>
        <li>can be paused and restarted as much as you like</li>
        <li>includes interactive exercises, videos and case studies</li>
        <li>has a certificate that you can download</li>
      </ul>
      <a href="#" class="govuk-link">See the courses available</a>
  </div>
{% endblock %}

{% block signin2 %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Sign in or register for free </h2>
      <p class="govuk-body"><a class="govuk-link" href="./sign-in1">Sign in</a> to access your training account or <a
        class="govuk-link" href="./sign-up">create an early years training account</a> to access training material.
      </p>
    </div>
  </div>
{% endblock %}

{% block title %}
  <h1 class="govuk-heading-l">Guidance and ideas</h1>
{% endblock %}

{% block resources %}
<h1 class="govuk-heading-l">Other useful resources</h1>

  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="#">About the 2021 changes to the EYFS</a>
    </li>
    <li>
      <a class="govuk-link" href="#">Read the EYFS statutory framework</a>
    </li>
    <li>
      <a class="govuk-link" href="#">Development Matters</a>
    </li>
  </ul>
{% endblock %}