
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">
						{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

						<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
							<div class="govuk-notification-banner__header">
							  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
								Email verified
							  </h2>
							</div>
							<div class="govuk-notification-banner__content">
								<p class="govuk-body">Thank you, your email address is now verified. </p>
								<p class="govuk-body">You can now finish setting up your early years training account. We will ask you some questions about your setting and your experience. 
									This is so we can make sure we are providing training that is useful to everyone in the early years sector.  </p>
									<p class="govuk-body">Your information will not be shared without your permission. </p>
							</div>
						  </div>

						<h1 class="govuk-heading-l">Sign in to early years training</h1>
						<p class="govuk-body">Enter your details to sign in to your personal early years training account. These details are different to any other GOV.UK accounts you may use.</p>
							{{ govukInput({
								id: "email-address",
								name: "_email-address",
								classes: "govuk-!-width-two-thirds",
								label: {
									text: "Email address",
									classes: "govuk-!-font-weight-bold"
								}
							}) }}

							{{ govukInput({
								id: "password",
								name: "_password",
								classes: "govuk-!-width-two-thirds",
								label: {
									text: "Password",
									classes: "govuk-!-font-weight-bold"
								}
							}) }}

							<p class="govuk-body"><a href=" " class="govuk-link">Forgotten your password?</a></p>

							{{ govukButton({
								"text": "Sign in",
								href: "about-you"
							}) }}



					</div>



				</div>

			</main>
	</div>
{% endblock %}
