{% extends "../sprint-26/home.html" %}

{% block freeOnlineTraining %}
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Free child development training </h2>
      <p class="govuk-body">You can now access short online courses to help you support the development of children in your setting. Each course has been written by an early years expert, working with the Department for Education and Ofsted. </p>

      <p class="govuk-body">Each training module:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>is free for childminders, nurseries and other early years providers</li>
        <li>takes less than 2 hours to complete</li>
        <li>can be paused and restarted as much as you like</li>
        <li>includes interactive exercises, videos and case studies</li>
        <li>has a certificate that you can download</li>
      </ul>
      <a href="./training-overview.html" class="govuk-link">See the courses available</a>
  </div>
{% endblock %}
