
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% from "govuk/components/input/macro.njk" import govukInput %}
                        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "sign1"
}) }}
                        {% call govukFieldset({
                          legend: {
                            text: "About your setting",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}

                        <p class="govuk-body">Your training progress won’t be shared with anyone without your permission. </p>
                        {{ govukInput({
                          label: {
                            text: "Your setting's postcode",
                            classes: "govuk-input--width-10",
                            isPageHeading: true
                          },
                          classes: "govuk-input--width-10",
                          hint: {
                            text: "If you have multiple locations, enter the one where you work most often"
                          },
                          id: "width-10",
                          name: "width-10"
                        }) }}

                        {{ govukInput({
                          label: {
                            text: "Your setting's Ofsted number",
                            classes: "govuk-!-width-two-thirds",
                            isPageHeading: true
                          },
                          classes: "govuk-input--width-10",
                          hint: {
                            text: "This might start with EY followed by 6 numbers, or it might be an 8 letter number."
                          },
                          id: "event-name",
                          name: "event-name"
                        }) }}


                          {{ govukButton({
                            "text": "Continue",
                            href: "/brain-development/my-learning-not-started"
                        }) }}

                        {% endcall %}

					</div>



				</div>

			</main>
	</div>
{% endblock %}
