
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% from "govuk/components/input/macro.njk" import govukInput %}
                        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "sign-in"
}) }}
                        {% call govukFieldset({
                          legend: {
                            text: "About you",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}

                        <p class="govuk-body">We're asking for your details so we can personalise your training certificates.</p>    

                          {{ govukInput({
                            label: {
                              text: "Your full name"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "full-name",
                            name: "full-name",
                            autocomplete: "full-name"
                          }) }}

 
                                         
                          
                          {{ govukButton({
                            "text": "Continue",
                            href: "/registration/sign-up2"
                        }) }}

                        {% endcall %}

					</div>



				</div>

			</main>
	</div>
{% endblock %}
