{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">
				{{ govukBackLink({
					text: "Back",
					href: "sign-in"
				}) }}
				<h1>Password reset link has already been used</h1>

				<p>The password reset link you clicked has already been used.</p>
				<p>To request a new password reset link, enter your email address.</p>


				<div class="govuk-form-group">
					<label class="govuk-label" for="event-name">
						Email address
					</label>
					<input class="govuk-input" id="event-name" name="event-name" type="text">
				</div>

				<button class="govuk-button">Next</button>

			</div>

		</div>

	</main>
</div>
{% endblock %}