{% extends "layout.html" %}

{% set milestone = 'sprint-11' %}

{% block pageTitle %}
Social and emotional development
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 9 of 10</span>
          <h1 class="govuk-heading-l">
            How improved child development knowledge supports outstanding practice - effective holistic support
          </h1>

          <img class="govuk-!-margin-bottom-2" src="/public/images/baby-holding-high.jpg" alt=".">

          <p class="govuk-body">All areas of child development are interconnected. Improving your knowledge of child development will help you to understand how progress in one area may be impacting or supporting progress for another.</p>


          <p class="govuk-body">For example, for a child to actively engage in an obstacle course they will need to be able to: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>understand and remember instructions</li>
            <li>actively listen and process information</li>
            <li>understand key physical movement names </li>
            <li>develop balance, coordination and spatial awareness</li>
            <li>comprehend the importance of turn taking where the activity involves a group</li>
            <li>develop trust if the course includes challenge</li>
    

          </ul>

          <p class="govuk-body">Being aware of expected milestones in all areas of development will ensure that opportunities and experiences are accessible to all children. It will also help you to identify where further support may be required in a particular area. </p>

          <p class="govuk-body">There are many benefits to taking a holistic approach to learning and development.</p>

          <h2 class="govuk-heading-m">Encouraging curiosity</h2>


          <p class="govuk-body">Holistic learning encourages children to be curious as they consider concepts and topics from more than one perspective. A curious child will ask more questions, test more ideas and share their enthusiasm with others.</p>
       
    
          <h2 class="govuk-body">Using children’s interests</h2>
          <p class="govuk-body">You can use a child’s interests to encourage them to engage in areas that they may otherwise avoid. For example a child may dislike number, colour and shape, but will quickly become immersed in a dinosaur hunt that requires problem solving involving the same concepts. You can combine your knowledge of the individual child and your understanding of their developmental stage to help them thrive.</p>
          <p class="govuk-body">Some children may not yet have developed particular interests, for example as a result of limited resources at home. You will need to ensure children can explore a wide variety of resources and experiences to support them to express their likes and dislikes.</p>
          
          <h2 class="govuk-body">Meeting all the needs of a child</h2>
          <p class="gov-body">Holistic learning ensures that the physical , emotional and psychological needs of a child are considered.</p>




          <div class="govuk-inset-text prompt">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Think about an activity you carry out with the children in your care. </p>

           <p class="govuk-body">Write down each of the areas of learning and add the skills and knowledge the activity supports in each area.</p>
           <p class="govuk-body">Have any opportunities been missed?</p>
           <p class="govuk-body">Can the activity be further developed to include other areas?</p>
           <p class="govuk-body">How does the activity promote language and communication skills?</p>
           <p class="govuk-body">How can you ensure you are prepared to differentiate to include all children?</p>
          </div>

          <div class="app-search-form-container govuk-!-margin-bottom-4">
            <h2 class="govuk-heading-m">Activity</h2>
            <p class="govuk-body">Consider the practitioner prompt on this page.</p>
         
           <form action="module-break" method="post">

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
              <div class="govuk-form-group">
                <label class="govuk-label" for="label-as-page-heading">
                  <strong>Use this space to describe how you could put the suggestions into practice.</strong>
                </label>
                <div id="with-hint-hint" class="govuk-hint" style="color: #505A5F">
                  Your responses will not be marked. You do not need to complete this activity to receive your certificate of achievement. 
                </div>
                <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="log-activity" rows="5" aria-describedby="label-as-page-heading-info"></textarea>
              </div>
            
              <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 500 characters
              </div>
            
            </div>
            <p class="govuk-body">You can view all of your responses in your <a href="">learning log</a>.</p>
          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="social-dev">Previous</a>
          <button class="govuk-button align-right" data-module="govuk-button">Save and continue</a>
        </form>
        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}
