{% extends "layout.html" %}

{% set milestone = 'sprint-11' %}

{% block pageTitle %}
Social and emotional development
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 8 of 10</span>
          <h1 class="govuk-heading-l">
            Social and emotional development: 4 years old
          </h1>

          <p class="govuk-body">At around 4 years old, children would rather play with others than alone. They will be making friendships and forming bonds with their peers. At this age, children’s cooperation skills will be improving and they will be more aware of the feelings of others. In your setting you should take opportunities to encourage both child led and adult led activities.</p>


          <p class="govuk-body">Children’s play will also be more creative, with an increase in purposeful imaginative play. For example, you will likely see them using role play to act out significant figures in their lives. Providing child led opportunities to explore and express their thoughts and feelings will help children to navigate relationships. </p>

          <p class="govuk-body">Some children will now talk more about what they like and what they are interested in and will have more of their own opinions and beliefs. You should support children to explore these in a child led way, and give adult led opportunities to discuss them. </p>

          <p class="govuk-body">Some children may also still have difficulty regulating their emotions and need lots of opportunities to discuss and explore feelings. This can be done through activities such as shared stories, opportunities for creativity and adult led discussion. These activities will also be particularly useful for children with autism.</p>

          <p class="govuk-body">Around this age, children will be more aware of the world around them. You should encourage their curiosity by:</p>
       
          <ul class="govuk-list govuk-list--bullet">
            <li>providing a wide variety of books, materials and experiences, covering topics such as cultures, religions, how things work and the natural world</li>
            <li>planning trips and visits to the setting</li>
            <li>games where the children match facial expressions with feelings </li>
            <li>offering open ended materials that can be used in multiple ways, such as sand and arts and crafts equipment</li>

          </ul>
          
          
          
          <div class="govuk-inset-text prompt">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Think of a child around the age of 4 in your care. </p>

            <ul class="govuk-list govuk-list--bullet">
            <li>Does the child play alongside others or do they always want to play alone?</li>
            <li>Does the child take part in pretend play (for example, being ‘mummy’ or ‘daddy’?)</li>
        

            </ul>

          </div>
          <form action="effective-holistic" method="post">
          <div class="app-search-form-container govuk-!-margin-bottom-4">
            <h2 class="govuk-heading-m">Add to your learning log</h2>
            <p class="govuk-body">Use this space to take notes on what you've learned.</p>
            <p class="govuk-body">All your notes will be added to your personal <a href="/sprint-11/learning-log">learning log.</a></p>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
              <div class="govuk-form-group">
                <label class="govuk-label" for="label-as-page-heading">
                  Your notes
                </label>
                <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="log-reflect" rows="5" aria-describedby="label-as-page-heading-info"></textarea>
              </div>
            
              <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 500 characters
              </div>
            
            </div>
          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/sprint-11/prompts/emotional-development">Previous</a>
          <button class="govuk-button align-right" data-module="govuk-button">Save and continue</a>
        </form>
        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}
