{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Brain development and how children learn : Parts of the brain
{% endblock %}


{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="#">Back to Module 3 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 1</span><br>
            <span class="govuk-!-font-weight-bold">Infographic prototype</span></p>
          <p class="govuk-!-font-weight-bold">Page 1 of 1</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 100%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="govuk-heading-l">An example of how to format an infographic with pure HTML and CSS</h1>
        <div class="gem-c-govspeak">
  
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis, lorem non aliquam finibus, nisl neque vehicula tortor, id feugiat libero odio in orci. Etiam lobortis lacus sem, quis maximus magna ultrices in. Curabitur pharetra neque mauris, tristique maximus nisl rhoncus non. Proin pharetra nec lectus et iaculis. Donec eget metus rhoncus, cursus justo ac, fringilla magna. In hac habitasse platea dictumst. Integer tempus fermentum enim et ornare. Cras mattis maximus risus sed varius.</p>

            <div class="info-graphic-frame"><h2 class="govuk-heading-m">Progression of block play development</h2><img src="/public/images/trial-infographic-canvas.png" alt="A baby lying on its tummy on a sofa. There are some toys in front of the baby and the baby is smiing."></div>

            <p>Phasellus nibh metus, ultrices sit amet convallis sit amet, consectetur vitae dolor. Sed eget molestie est. Nullam quis nibh sed sapien feugiat porttitor. In odio purus, volutpat eu mi luctus, dictum facilisis diam. Maecenas a velit at dolor sodales ultricies. In feugiat justo a ipsum pulvinar, ut bibendum ipsum porta. Sed eu posuere tortor. Morbi vitae elit aliquet, commodo ante in, tempor ante. Quisque quam mauris, pellentesque et accumsan vitae, elementum at tellus. Donec semper ultrices ipsum, sed sodales velit tincidunt quis. Vivamus dolor dui, dictum vel luctus at, congue congue arcu. Integer aliquet orci justo, vel fermentum neque malesuada sed. Sed id erat at tortor tincidunt viverra. Curabitur convallis odio sed vehicula tincidunt. Duis dignissim tortor sit amet mauris malesuada molestie. Nam mattis sagittis porta.</p>
            
            <p>Duis congue ultrices auctor. Curabitur fermentum sapien id viverra convallis. Vestibulum sodales auctor nunc, vitae fringilla dui. Proin luctus aliquam nisi, ac gravida risus congue quis. Maecenas vel ipsum dolor. In lobortis egestas euismod. Curabitur vel diam libero. Fusce vitae odio condimentum metus pharetra euismod sit amet eu massa. Vivamus condimentum molestie lorem. Etiam ut mauris vehicula, scelerisque libero sit amet, molestie dui. Curabitur ullamcorper lobortis dui sed feugiat.</p>
        
            <p>Nulla accumsan dolor nec ullamcorper vehicula. Aenean pharetra neque enim, in scelerisque neque vestibulum a. Aliquam vel velit a metus mattis tristique sit amet ut justo. Proin pulvinar suscipit facilisis. Morbi viverra libero quis libero pharetra, et euismod odio consectetur. Fusce luctus libero sodales erat pharetra, vitae sodales lectus porttitor. Nunc vitae aliquet velit. Duis facilisis accumsan urna, sit amet dignissim risus condimentum ultricies. Mauris ut neque vel felis bibendum varius ut id leo. Duis euismod nunc congue urna blandit mattis. Praesent euismod dictum leo, eu porttitor elit scelerisque at. Pellentesque posuere nunc dui, sed commodo nibh luctus at. Mauris consectetur aliquam molestie. Nulla varius consequat nunc, a venenatis nisl elementum sit amet.</p>
    
            <p>Pellentesque a scelerisque velit. Vivamus elementum sit amet neque quis auctor. Etiam lacus lectus, laoreet tristique semper quis, consequat at augue. Aliquam erat volutpat. Cras ullamcorper nunc sit amet tortor elementum, ac varius est rutrum. Phasellus varius molestie magna. Phasellus congue, magna ut sollicitudin aliquam, magna diam venenatis justo, lobortis malesuada neque lectus nec augue. Sed placerat metus arcu, sed ultrices justo mollis sit amet.</p>
            </div>

    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group">
    <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="#">Previous</a>
    <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="#">Next</a></div>
</div></div>
    
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}