{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "Introduction"
      },
      summary: {
        text: "Introductions about course"
      },
      content: {
        html:
        '<ul class="govuk-list">
          <li><a class="govuk-link" href="#">Intro</a></li>
        </ul>'
      }
    },
        {
      heading: {
        text: "Module 1:  Body systems and physical development"
      },
      summary: {
        text: "Summary text"
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li><a class="govuk-link" href="#">Respiratory system</a></li>
            <li><a class="govuk-link" href="#">Nervous system</a></li>
            <li><a class="govuk-link" href="#">Circulatory system </a></li>
            <li><a class="govuk-link" href="#">Musculoskeletal system</a></li>
        </ul>'
      }
    },
            {
      heading: {
        text: "Module 2: Movement and learning"
      },
      summary: {
        text: "Summary text."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li><a class="govuk-link" href="#">Text 1</a></li>
            <li><a class="govuk-link" href="#">Text 2</a></li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Module 3: Developing movement"
      },
      summary: {
        text: "Summary text."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li><a class="govuk-link" href="#">Text 1</a></li>
            <li><a class="govuk-link" href="#">Text 2</a></li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Module 4: The role of the practitioner in supporting physical development"
      },
      summary: {
        text: "Summary text."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li><a class="govuk-link" href="#">Text 1</a></li>
            <li><a class="govuk-link" href="#">Text 2</a></li>
        </ul>'
      }
    },
                {
      heading: {
        text: "Summary and next steps"
      },
      summary: {
        text: "Summary text"
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li><a class="govuk-link" href="#">Course recap</a></li>
            <li><a class="govuk-link" href="#">Course feedback</a></li>
            <li><a class="govuk-link" href="#">Download your certificate</a></li>
        </ul>'
      }
    }            
  ]
}) }}