{% macro appCardContainer(link, img, title, subtitle, tagContent = '', tagColour = '') %}
  <div class="app-image-card">
    <a href={{ link }} class="govuk-body govuk-link govuk-!-font-weight-bold">
      <img src={{ img }} alt="">
      <div class="app-image-card__content">
        {% if tagContent != '' %}
          <strong class="govuk-tag govuk-tag--{{tagColour}}">
            {{tagContent}}
          </strong>
        {% endif %}
        <span class="govuk-hint">{{ title }}</span>
        <h3 class="govuk-heading-s govuk-link">{{ subtitle }}</h3>
      </div>
    </a>
  </div>
{% endmacro %}
