<!--Feedback Section-->
<div id="feedback" class="govuk-width-container govuk-!-padding-top-4" role="dialog" aria-label="feedback">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-left-9 govuk-!-padding-right-9">
      <div class="gem-c-feedback">
        <div class="gem-c-feedback__prompt">
          <div class="gem-c-feedback__prompt-questions">
            <h2 class="govuk-heading-s gem-c-feedback__prompt-question">Sign up to be alerted for new modules</h2>
            <button class="govuk-button gem-c-feedback__prompt-link">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Feedback Section-->