{% macro form(question) %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <p class="govuk-body govuk-!-font-weight-bold">
        {{question}}</p>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Extremely confident
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
          value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Quite confident
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Somewhat confident
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio"
          value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          Slightly confident
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio"
          value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          Not at all confident
        </label>
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}