{% extends "layout-dfe.html" %}

{% set milestone = 'sprint-20' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="manage-account" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l">
          Enter your password
        </h1>
        <p>For security, enter your password.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems with your password?
            </span>
          </summary>
          <div class="govuk-details__text">
            <strong>I have forgotten my password</strong> <br>
            If you have forgotten your password, sign out of your account. When you next sign in, select 'Problems signing in' and 'I have forgotten my password' to reset it.
          </div>
        </details>

       
          <div class="govuk-form-group">

        <label class="govuk-label" for="event-name">
          Your password
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      <a class="govuk-button" href="account-delete-why">Continue</a> <br>
      </div>
    </div>

  </main>
</div>

{{super()}}
{% endblock %}
