{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

	<!-- START MAST -->
	<div class="full-BGstrip">
			<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="app-search-form-container govuk-!-margin-bottom-6">
                  <h1 class="govuk-heading-l">Help for early years providers</h1> 
                  <p class="govuk-body">Advice, training and support for early years providers in England, including childminders and nurseries. </p>
                  <p class="govuk-body">Find guidance on implementing the Early Years Foundation Stage (EYFS), free child development training, activity ideas and help to improve your practice. </p>
                
                </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <img src="/public/images/home/image1.jpg" style="width:370px; height:270px;" >
              </div>
            </div>
            </div>
           
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Sign in or register for free </h2>
                <p class="govuk-body"><a class="govuk-link" href="/sign-in1">Sign in</a> to access your training account or <a class="govuk-link" href="/sign-up">create an early years training account</a> to access training material.
                
                </p>
              </div>
  
            </div>
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
       
            <h1 class="govuk-heading-l">Implementing the EYFS</h1>
            <h2 class="govuk-heading-m">Areas of learning</h2>
            <p class="govuk-body">Find information about each area of learning in the EYFS and get ideas for activities you can do with early years children. </p>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Communication and language 
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="300.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Physical development
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="300.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>
              </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Personal, social and emotional development
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="185 " height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Literacy
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="415" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>
              </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Mathematics
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="436 " height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Understanding the world
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="280" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>
              </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Expressive arts and design
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="325" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        </svg></a>
                </div>
            </div>
      
        </br>


                <div class="govuk-grid-row">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                            <img src="/public/images/home/image1.jpg" style="width:470px; height:385px;" >
                      </div>
                    <div class="govuk-grid-column-two-thirds">
                      <div class="app-search-form-container govuk-!-margin-bottom-6">
                        <h1 class="govuk-heading-l">Free online training</h1> 
                        <p class="govuk-body">Childminders and nurseries in England can now access free, online training in child development.</p>
                        <p class="govuk-body">This training is made up of short courses giving useful information on a range of topics and practical advice for supporting the development of children in your setting.  </p>
                        <p class="govuk-body">Each course has been written by an early years expert, working with the Department for Education and Ofsted.</p>
                        <p class="govuk-body"><a class="govuk-link" href="/templates/public/training-overview">See the courses available</a> </p>

                      </div>
                    </div>

                  </div>
                
                </br>

                <h1 class="govuk-heading-l">Latest support articles</h1>

            <div class="govuk-grid-row govuk-!-margin-bottom-6">
              <div class="govuk-grid-column-full">
                <div class="app-card-container">
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-5.jpeg" alt="">
                        <div class="app-image-card__content">
                        
                          <h3 class="govuk-heading-s govuk-link">Internet safety</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-6.png" alt="">
                        <div class="app-image-card__content">
                         
                          <h3 class="govuk-heading-s govuk-link">Behaviour management and self-regulation</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-7.jpg" alt="">
                        <div class="app-image-card__content">
            
                          <h3 class="govuk-heading-s govuk-link">Using music in your setting</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-8.jpg" alt="">
                        <div class="app-image-card__content">
                        
                          <h3 class="govuk-heading-s govuk-link">More support articles</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <h1 class="govuk-heading-l">Other useful resources</h1>

          <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-full">
              <div class="app-card-container">
                <div>
                  <div class="app-image-card">
                    <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                      <img src="/public/images/home/home-image-5.jpeg" alt="">
                      <div class="app-image-card__content">
                      
                        <h3 class="govuk-heading-s govuk-link">About the 2021 changes to the EYFS</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div>
                  <div class="app-image-card">
                    <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                      <img src="/public/images/home/home-image-6.png" alt="">
                      <div class="app-image-card__content">
                       
                        <h3 class="govuk-heading-s govuk-link">Read the EYFS statutory framework</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div>
                  <div class="app-image-card">
                    <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                      <img src="/public/images/home/home-image-7.jpg" alt="">
                      <div class="app-image-card__content">
          
                        <h3 class="govuk-heading-s govuk-link">Development Matters </h3>
                      </div>
                    </a>
                  </div>
                </div>
          
              </div>
            </div>
        </div>
        </main>
			</div>
	</div>
	<!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}