{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

	<!-- START MAST -->
	<div class="full-BGstrip">
			<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="app-search-form-container govuk-!-margin-bottom-6">
                  <h1 class="govuk-heading-l">Help for early years providers</h1> 
                  <p class="govuk-body">Advice, training and support for early years providers in England, including childminders and nurseries. </p>
                  <p class="govuk-body">Find guidance on implementing the Early Years Foundation Stage (EYFS), free child development training, activity ideas and help to improve your practice. </p>
                
                </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <img src="/public/images/home/image1.jpg" style="width:370px; height:270px;" >
              </div>
            </div>
            </div>
           

            <h1 class="govuk-heading-l">Implementing the EYFS</h1>
            <h2 class="govuk-heading-m">Areas of learning</h2>
            <p class="govuk-body">Find information about each area of learning in the EYFS and get ideas for activities you can do with early years children. </p>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Communication and language</a>
                    </li>
                  </ul>
                </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Physical development</a>
                    </li>
                  </ul>
            
                </div>
              </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Personal, social and emotional development</a>
                    </li>
                  </ul>
     
                </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Literacy</a>
                    </li>
                  </ul>

                </div>
              </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Mathematics</a>
                    </li>
                  </ul>
               
                </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                
                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Understanding the world</a>
                    </li>
                  </ul>
                </div>
              </div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">Expressive arts and design</a>
                    </li>
                  </ul>
                
                  

                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        </br>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Free child development training </h2>
                  <p class="govuk-body">You can now access short online courses to help you support the development of children in your setting. Each course has been written by an early years expert, working with the Department for Education and Ofsted. </p>
                  
                  <p class="govuk-body">Each training module:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>is free for childminders, nurseries and other early years providers</li>
                    <li>takes less than 2 hours to complete</li>
                    <li>can be paused and restarted as much as you like</li>
                    <li>includes interactive exercises, videos and case studies</li>
                    <li>has a certificate that you can downloadudies</li>
                  </ul>
                  <a href="#" class="govuk-link">See the courses available</a>
              </div>
  
            </div>

            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
       

     <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Sign in or register for free </h2>
                <p class="govuk-body"><a class="govuk-link" href="/sign-in1">Sign in</a> to access your training account or <a class="govuk-link" href="/sign-up">create an early years training account</a> to access training material.
                
                </p>
              </div>
  
            </div>
                
                </br>

                <h1 class="govuk-heading-l">Guidance and ideas</h1>

            <div class="govuk-grid-row govuk-!-margin-bottom-6">
              <div class="govuk-grid-column-full">
                <div class="app-card-container">
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-5.jpeg" alt="">
                        <div class="app-image-card__content">
                        
                          <h3 class="govuk-heading-s govuk-link">Internet safety</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-6.png" alt="">
                        <div class="app-image-card__content">
                         
                          <h3 class="govuk-heading-s govuk-link">Behaviour management and self-regulation</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-7.jpg" alt="">
                        <div class="app-image-card__content">
            
                          <h3 class="govuk-heading-s govuk-link">Using music in your setting</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-8.jpg" alt="">
                        <div class="app-image-card__content">
                        
                          <h3 class="govuk-heading-s govuk-link">More support articles</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <h1 class="govuk-heading-l">Other useful resources</h1>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">About the 2021 changes to the EYFS</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Read the EYFS statutory framework</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Development Matters</a>
            </li>
  
          </ul>

     
          
        </main>
			</div>
	</div>
	<!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}