{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

	<!-- START MAST -->
	<div class="full-BGstrip">
			<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="app-search-form-container govuk-!-margin-bottom-6">
                  <h1 class="govuk-heading-l">Child development training for early years providers</h1> 
                  <p class="govuk-body">This free, online training provides an overview of child development and gives practical advice for supporting the development of children in your early years setting. </p>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">About the training </h2>
                <p class="govuk-body">Each training course on this site covers an important area of child development and has been written by an early years expert, working with the Department for Education and Ofsted.</p>
                
                </p>
              </div>
              <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Why should I take this training?</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>free training for childminders and nurseries</li>
                  <li>combination of theory and practical tips</li>
                  <li>includes activity ideas you can do in your setting</li>
                  <li>links to additional resources</li>
                  <li>download a certificate of completion</li>
              </div>
            </div>
            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Find a training course</h2>

             <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-full">
                  <div class="app-card-container">
                    <div>
                      <div class="app-image-card">
                        <a href="/brain-development" class="govuk-body govuk-link govuk-!-font-weight-bold">
                          <img src="/public/images/home/image1.jpg" alt="">
                          <div class="app-image-card__content">
                            <span class="govuk-hint">Introduction</span>
                            <h3 class="govuk-heading-s govuk-link">Why it is important to understand child development</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div>
                      <div class="app-image-card">
                        <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                          <img src="/public/images/home/image2.jpg" alt="">
                          <div class="app-image-card__content">
                            <span class="govuk-hint">Brain development</span>
                            <h3 class="govuk-heading-s govuk-link">How children's brains develop in the early years</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div>
                      <div class="app-image-card">
                        <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                          <img src="/public/images/home/image3.jpg" alt="">
                          <div class="app-image-card__content">
                            <span class="govuk-hint">Physical development </span>
                            <h3 class="govuk-heading-s govuk-link">How children's bodies develop in the early years</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div>
                      <div class="app-image-card">
                        <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                          <img src="/public/images/home/image4.jpg" alt="">
                          <div class="app-image-card__content">
                            <span class="govuk-hint">Observations</span>
                            <h3 class="govuk-heading-s govuk-link">Expert tips for doing effective observations in your setting</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-6">
              <div class="govuk-grid-column-full">
                <div class="app-card-container">
                  <div>
                    <div class="app-image-card">
                      <a href="/brain-development" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-5.jpeg" alt="">
                        <div class="app-image-card__content">
                          <span class="govuk-hint">Linking areas of learning</span>
                          <h3 class="govuk-heading-s govuk-link">How areas of the EYFS can be combined for holistic learning</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-6.png" alt="">
                        <div class="app-image-card__content">
                          <span class="govuk-hint">Curriculum planning  </span>
                          <h3 class="govuk-heading-s govuk-link">How to plan learning that supports child development</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-7.jpg" alt="">
                        <div class="app-image-card__content">
                          <span class="govuk-hint">Additional needs </span>
                          <h3 class="govuk-heading-s govuk-link">How to identify if a child has additional needs</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div class="app-image-card">
                      <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                        <img src="/public/images/home/home-image-8.jpg" alt="">
                        <div class="app-image-card__content">
                          <span class="govuk-hint">Speech and language </span>
                          <h3 class="govuk-heading-s govuk-link">Encouraging language development in the early years</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </main>
			</div>
	</div>
	<!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}