{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 14 of 999</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on communication, language and literacy
          </h1>

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">Some children may have spent extended periods with their parents and carers. They may have read more, had more conversations and increased their vocabulary through new hobbies.    </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children may not have had access to books or regular involvement in conversations, singing or opportunities to read. They may have had a smaller variety of social interactions and so less chances to learn and use new vocabulary. </p>

          <p class="govuk-body">Some children may have spent extended periods experiencing inappropriate behaviour, such as inappropriate language from older siblings.They may now have difficulty improving their behaviour and understanding the need to do so. </p>



            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-2">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-4">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
