{% extends "layout.html" %}

{% block pageTitle %}
Being a role model for communication
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 21 of 21</span>
          <h1 class="govuk-heading-l">
            Being a role model for communication
          </h1>

          <img src="/public/images/home/two-practitioners.jpg" alt="">

          <h2 class="govuk-heading-m">
            Being a positive role model
          </h2>

          <p class="govuk-body">As a practitioner you join other influential adults in the child’s life as an important and essential role model for communication. The environment you provide and the language you model will be reflected in the skills that children develop. </p>

          <p class="govuk-body">You can help children to develop secure attachments with you. This means they will have trust and confidence in you, allowing you to be an effective role model. The brain development module explores the role of attachment in further detail.   </p>

          <p class="govuk-body">Your actions will be a continuous and important source of influence. Children will observe:   </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>how you interact with others</li>
            <li>how characters interact with each other in the stories you read to them </li>
          </ul>

          <p class="govuk-body">Children will copy these interactions  as they develop and test their own communication. This also impacts on the child’s social skills. For example, if a child observes a positive interaction between yourself and their parent they may mimic the interaction they have observed.  </p>

          <p class="govuk-body">Ensuring children have opportunities to speak and feel that they are being heard will impact on children’s confidence, self-esteem and self-worth. Use active listening to help children feel that they are being heard. </p>

          <p class="govuk-body">Hearing repetitive language such as routine instruction, praise or general comments, for example “your turn, my turn”, will provide increased opportunities for children to learn, rehearse and develop their communication skills.  </p>

          <p class="govuk-body">It is essential that you are using the correct names and words for items and actions, using correct pronunciation and avoiding the use of slang or abbreviations as children will easily become confused or frustrated if they do not understand. </p>

          <p class="govuk-body">Promoting positive handling and use of resources such as books and including them in the daily routine will help children to understand their importance and encourage further independent exploration.  </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">A child’s day is full of opportunities to develop their vocabulary and test their communication skills. Thinking about your recent practice, let’s consider the following. </p>
            <p class="govuk-body">How many spontaneous opportunities did you use to communicate with the children in your care?  </p>
            <p class="govuk-body">Did the children know the colours of the beakers at the snack table? </p>
            <p class="govuk-body">What was the conversation during hygiene routines? </p>
            <p class="govuk-body">What new information did you learn about the children in your care?   </p>

          </div>

          <p class="govuk-body">The communication and language module of this training (coming soon) will consider the stages of development, the practitioner’s role and effective practice in further detail.  </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-9">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="1-2">Next</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}

