{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 16 of 21</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on physical development
          </h1>

          <img src="/public/images/home/outdoor-pans.jpg" alt="A child playing with a mud kitchen">

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">Some children with access to outside space and opportunities to go out may have spent more of their day outside. They may have explored more or learned a new skill such as riding a bike or scooter.     </p>

          <p class="govuk-body">If children have older siblings they may have spent a lot of time doing challenging physical activities where they copied their siblings’ behaviour. They may have developed skills they otherwise might not have been exposed to.     </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children may have had restricted access or opportunity for physical activity and outdoor space. This may have resulted in reduced movement. Children who have been able to take extended naps and periods of rest may now lack the stamina needed to complete a day in a chilcare setting.  </p>

          <p class="govuk-body">Where parents have worked from home, children may have spent more time watching TV or playing on tablets or games consoles to maintain their interest. This will have resulted in prolonged periods of inactivity.   </p>



            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-4">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-6">Next </a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
