{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 10 of 21</span>
          <h1 class="govuk-heading-l">
            How improved child development knowledge supports outstanding practice: effective holistic support
          </h1>

          <p class="govuk-body">All areas of child development are interconnected. Improving your knowledge of child development will help you to understand how progress in one area may be impacting or supporting progress for another.   </p>

          <p class="govuk-body">For example for a child to actively engage in an obstacle course they will need to be able to:   </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>understand and remember instructions  </li>
            <li>actively listen and process information </li>
            <li>understand key physical movement names </li>
            <li>develop balance, coordination and spatial awareness </li>
            <li>comprehend the importance of turn taking where the activity involves a group </li>
            <li>develop trust if the course includes challenge </li>
          </ul>

          <p class="govuk-body">Being aware of expected milestones in all areas of development will ensure that opportunities and experiences are accessible to all children. It will also help you to identify where further support may be required in a particular area.     </p>

          <p class="govuk-body">There are many benefits to taking a holistic approach to learning and development.   </p>

          <h2 class="govuk-heading-m">Encouraging curiousity </h2>

          <p class="govuk-body">Holistic learning encourages children to be curious as they consider concepts and topics from more than one perspective. A curious child will ask more questions, test more ideas and share their enthusiasm with others.  </p>

          <h2 class="govuk-heading-m">Using children's interests</h2>

          <p class="govuk-body">You can use a child’s interests to encourage them to engage in areas that they may otherwise avoid. For example a child may dislike number, colour and shape, but will quickly become immersed in a dinosaur hunt that requires problem solving involving the same concepts. You can combine your knowledge of the individual child and your understanding of their developmental stage to help them thrive. Some children may not yet have developed particular interests, for example as a result of limited resources at home. You will need to ensure children can explore a wide variety of resources and experiences to support them to express their likes and dislikes. </p>

          <h2 class="govuk-heading-m">Meeting all the needs of a child </h2>

          <p class="govuk-body">Holistic learning ensures that the physical , emotional and psychological needs of a child are considered. </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Think about an activity you carry out with the children in your care. Write down each of the areas of learning and add the skills and knowledge the activity supports in each area. Have any opportunities been missed? Can the activity be further developed to include other areas? How does the activity promote language and communication skills? How do you ensure you are prepared to differentiate to include all children? </p>


          </div>






            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1-6">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
