{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 6 of 999</span>
          <h1 class="govuk-heading-l">
            How understanding child development benefits the wider support network
          </h1>

          <p class="govuk-body">Improving your knowledge of child development will help you to create and maintain positive partnerships with parents and others. </p>

          <h2 class="govuk-heading-m">Promoting positive relationships with parents</h2>

          <p class="govuk-body">The foundations of parent partnerships are built on trust. Demonstrating your knowledge of child development will give parents confidence in your ability to care for their child. Confident parents will be keen to share information and strategies with you. This will benefit both you and the child. It is crucial that you are able to have honest dialogue with parents to ensure they fully appreciate their child’s needs. This includes when additional support is needed and how support can be given at home to enable their child to flourish. </p>

          <h2 class="govuk-heading-m">Effective multi agency working</h2>

          <p class="govuk-body">Your knowledge of child development will help you to identify where a child is not making progress and requires further support. </p>

          <p class="govuk-body">You will be able to use this knowledge to implement policies and procedures and ensure that children are referred to the support needed and at the earliest point possible. </p>

          <p class="govuk-body">Your knowledge of child development will help you to accurately fill out the required reports. This means the child will be offered appropriate support. </p>

          <h2 class="govuk-heading-m">A consistent approach</h2>

          <p class="govuk-body">There are many benefits to all practitioners within a setting having knowledge of child development. </p>

          <h3 class="govuk-heading-s">Consistent and shared best practice</h3>

          <p class="govuk-body">You will be able to support colleagues with your knowledge of how to support children of a variety of ages and stages. Sharing ideas between the team will reduce planning and resource creation. </p>

          <h3 class="govuk-heading-s">Maximum impact on development</h3>

          <p class="govuk-body">With all practitioners focussed on supporting children’s development, the environment, resources and experiences will be highly effective. This will result in high quality care for all. </p>

          <h3 class="govuk-heading-s">Improved differentiation</h3>

          <p class="govuk-body">Greater awareness of child development, improved resource creation and shared workload will result in a broad range of opportunities. </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Make a list of all the ways that you work in partnership with the children’s parents.</p>
            <p class="govuk-body">What activities take place at the beginning of the children’s care?</p>
            <p class="govuk-body">Which activities take place on a regular basis?</p>
            <p class="govuk-body">Take one item from your list and consider it in more detail. Ask yourself how do those involved benefit? Does the engagement have a specific purpose? Does the activity achieve its intended purpose? How could it be improved?
            </p>
          </div>




            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1-2">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-1-4">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
