{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "The importance of understanding child development",
        href: "1-1-1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 4 of 21</span>
          <h1 class="govuk-heading-l">
            How understanding child development benefits the child
          </h1>

          <img src="/public/images/home/gardening.jpg" alt="Two children doing a gardening activity">

          <h2 class="govuk-heading-m">
            Increased resilience, confidence and self-efficacy
          </h2>

          <p class="govuk-body">Every child has the capability to be resilient, confident and to have self-efficacy. Self-efficacy is the measure of whether a child feels they can succeed. </p>

          <p class="govuk-body">Your knowledge of child development will help you to support children to develop these qualities. </p>

          <p class="govuk-body">When you provide an enabling environment, children will experience:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>problem solving opportunities </li>
          <li>appropriate challenge</li>
          <li>managed risk</li>
          <li>opportunities to learn, rehearse and then remember new knowledge and skills</li>
          </ul>

          <p class="govuk-body">This will help them to develop their resilience. Resilient children will approach activities and experiences with high self-efficacy and a strong “I can” attitude. Their exploration will help them to develop their knowledge and skills.</p>

          <h2 class="govuk-heading-m">
            Early help
          </h2>

          <p class="govuk-body">Your knowledge of child development will help you to plan an environment and curriculum that promotes success for all. You will be able to identify the correct level of support needed, adjust your approach and implement the appropriate level of early help.  </p>

          <p class="govuk-body">Early help can successfully:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>minimise and remove the potential risk factors preventing children from achieving their full potential </li>
          <li>reduce opportunities for children to become disengaged, isolated or withdrawn</li>
          <li>reduce the time needed for children to become secure in their understanding and development</li>
          <li>improve outcomes for children with effective integration of specialist support where appropriate</li>
          </ul>

          <h2 class="govuk-heading-m">
            A tailored experience
          </h2>

          <p class="govuk-body">Your knowledge and understanding of child development will help you offer each child a unique learning journey with improved outcomes.  </p>

          <h2 class="govuk-heading-m">
            Supporting children to gain new knowledge
          </h2>

          <p class="govuk-body">Cognitive skills are the mental processes involved in learning and understanding things. If you understand how children learn concepts and skills, this will help you to support the children in your care to gain new knowledge. </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Do you know what strategies your setting has in place for early intervention?<br>
            What early assessment is carried out?<br>
            What strategies are put in place as a result?</p>
          </div>





            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-1-2">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
