{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 16 of 999</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on physical development
          </h1>

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">Some children with access to outside space and opportunities to go out may have spent more of their day outside. They may have explored more or learnt a new skill such as riding a bike or scooter.     </p>

          <p class="govuk-body">If children have older siblings they may have spent prolonged periods of time participating in challenging physical activity where they have copied their siblings behaviour. They may have developed skills that they may not have otherwise been exposed to.     </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children may have had restricted access or opportunity for physical activity and outdoor space. This may have resulted in reduced movement. Children who been able to take extended naps and periods of rest may now lack the stamina needed to complete a day in the setting.  </p>

          <p class="govuk-body">Where parents have worked from home children may have spent more time watching tv or playing on tablets or games consoles to maintain their interest. This will have resulted in prolonged periods of inactivity.   </p>



            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-4">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-6">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
