{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 15 of 21</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on mathematics
          </h1>

          <img src="/public/images/home/tablet-2.jpg" alt="Children using a tablet app">

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">Some children with access to technology may have played with number related apps and games.  They may also have been involved in practical activities such as cookery requiring them to weigh and measure.</p>
          
          <p class="govuk-body">Children may have had access to toys, games and jigsaws that require problem solving and matching. They may have explored mathematical concepts such as time, shape and distance through interactions with their parents or carers.   </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children may not have had access to toys, games or learning experiences that supported their mathematical understanding. A lack of social interaction may have resulted in limited opportunities to explore mathematical concepts such as time, shape and distance.  </p>

          <p class="govuk-body">Some parents may have a limited understanding of how to support their child with maths and what their child should be learning. They may have avoided this subject and focused on other activities.  </p>



            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-3">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-5">Next </a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
