{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 7 of 21</span>
          <h1 class="govuk-heading-l">
            The potential impact of limited child development knowledge
          </h1>

          <p class="govuk-body">Limited knowledge of child development may lead to unintentional consequences for the children in your care. </p>

          <h2 class="govuk-heading-m">Incorrect level of challenge</h2>

          <p class="govuk-body">An incorrect level of challenge for children can be a contributing factor to incidents of unwanted behaviour. </p>

          <p class="govuk-body">When the environment and activities are not challenging enough, a child may complete tasks quickly or become bored. They may then start on an alternative task or entertain themselves with a destructive or distracting activity.  </p>

          <p class="govuk-body">When the environment and activities are too challenging - a child may become frustrated and disengaged if they do not understand expectations or are afraid of failure.They may look to divert attention in other ways - which can often lead to unwanted behaviour. </p>

          <p class="govuk-body">Both situations lead to missed opportunities to learn, develop and thrive.   </p>

          <h2 class="govuk-heading-m">Delayed support</h2>

          <p class="govuk-body">Incomplete knowledge of child development may prevent you from identifying where a child requires support in a particular area of development. This may delay them getting help early on.</p>

          <p class="govuk-body">
          This may result in lost opportunities for children to learn and rehearse skills and affect a child’s understanding of behavioural expectations. </p>

          <p class="govuk-body">Your knowledge of child development will help you to create and implement an effective curriculum. This reduces the gaps in learning and so removes the need for additional support.  </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Do you have a child or children who are disengaged or disruptive? </p>

              <p class="govuk-body">What strategies have you tried so far? Have they made a difference?</p>

              <p class="govuk-body">Have you considered the child holistically? Have you looked at each area of development? Have you evaluated the environment?</p>

              <p class="govuk-body">Children can quickly become labelled as behaving in a certain way and this becomes their accepted behaviour. Behaviour always has a cause but have you been able to work out the true cause?</p>

              <p class="govuk-body">How could further knowledge regarding child development support this? </p>

              <p class="govuk-body">What do your colleagues think?</p>

          </div>




            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1-3">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-1-5">Save and continue</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
