{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 8 of 21</span>
          <h1 class="govuk-heading-l">
            How improved child development knowledge supports outstanding practice: scaffolding learning
          </h1>

          <img src="/public/images/home/duplo.jpg" alt="A child playing with plastic blocks">

          <p class="govuk-body">With an identified starting point you will be able to effectively support children to build on existing learning. Imagine trying to do the simplest tasks without a set of instructions or any prior experience. This is how a child will feel if they are attempting a task that is simply too difficult or has not previously been experienced or explained. Your knowledge of child development will support you to follow a consistent process.  </p>

          <p class="govuk-body">To establish the starting point, you should consider the following.  </p>

          <ol class="govuk-list govuk-list--number">
            <li>How old is the child and what is the relevant expected development? </li>
            <li>Is that child at that level yet? </li>
            <li>Does the child need you to start at a lower level of description or task or has the child mastered that expectation? </li>
          </ol>

          <p class="govuk-body">Now you have your starting foundation block to build upon.   </p>

          <p class="govuk-body">You can use your knowledge of child development to set the correct pace of learning and consider what you would like to aim towards next.    </p>

          <p class="govuk-body">Knowledge of children’s language and communication skills is also essential for successful scaffolding. Children may not holistically develop at the same rate and so may be at the expected level of development physically, but lack the language skills to interpret instructions. Therefore the child may experience difficulties with tasks intended to develop them physically if communication is challenging. It is crucial that you use a wide variety of activities to help the child develop their communication skills.     </p>

          <p class="govuk-body">Offering these temporary levels of successive support ensures that children develop the confidence and self belief needed to become secure in their knowledge and skills before becoming ready to attempt the next challenge.     </p>


          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Can you think of a child in your care who is struggling with a particular skill or knowledge and understanding? </p>

              <p class="govuk-body">Are they at the expected level of development? </p>
              <p class="govuk-body">Are the instructions, demonstrations or level of support being offered too challenging? </p>
              <p class="govuk-body">Have they become secure in the foundation knowledge needed to attempt the task? </p>
              <p class="govuk-body">If you were to write step by step instructions which step are they at confidently? </p>
              <p class="govuk-body">What would the next step be for their expected level? </p>
              <p class="govuk-body">How will you temporarily offer supportive steps to help them get there? </p>
              <p class="govuk-body">You have just successfully scaffolded learning! </p>


          </div>




            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1-4">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-1-6">Save and continue</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
