{% extends "layout.html" %}

{% block pageTitle %}
The impact of the COVID-19 pandemic on knowledge and understanding of the world
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 17 of 21</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on knowledge and understanding of the world
          </h1>

          <img src="/public/images/home/spade.jpg" alt="">

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">Some children with access to technology, books and adult interaction may have benefitted from extended periods of online exploration and discussion. They may have had opportunities to get involved in family projects such as growing vegetables or learning about fixing household items.  </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children may have had limited opportunities to participate in day trips and travel, and so less chance to experience new environments. They may have spent longer periods of time staying inside their home, possibly with use of a garden.  </p>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-5">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-7">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
