{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Doing the best for each child in your care",
        href: "1-2-1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 3 of 11</span>
          <h1 class="govuk-heading-l">
            Acknowledging children’s individual strengths
          </h1>
          <img src="/public/images/home/painting-pinkboard.jpg" alt="A child painting">

          <p class="govuk-body">All children will have their individual strengths. Sometimes a child’s strength is obvious, such as when they excel in a particular subject or area of development. At other times the strength can be harder to see but is just as valuable, such as being a critical thinker.</p>
            
          <p class="govuk-body">Some children will need you to create opportunities for them to develop a strength. This creates a valuable opportunity for them to be praised and acknowledged and will encourage the development of strengths in other areas. </p>

          <p class="govuk-body">In your setting, you should embrace aspects of children’s personalities as their personal strengths. </p>

          <p class="govuk-body">Recognising and acknowledging a child’s individual strengths will be powerful in supporting children to develop confidence, resilience and self-efficacy and will impact on how they approach their learning and development.  </p>       
          

          <p class="govuk-body">Having an awareness and understanding of a child’s personalities, talents and abilities will make the child feel valued and important which will support higher self-efficacy. While it is important that you do not restrict learning and development to these preferred areas, they can be used to promote holistic development by encouraging children to engage and build confidence across the whole curriculum. This will support them to tackle less familiar or more challenging tasks.</p>


          <p class="govuk-body">High self-efficacy will support a child’s enthusiasm and desire in all areas of development and will be an essential support strategy when tackling difficult concepts and activities. </p>

          <p class="govuk-body">It is important to recognise and celebrate children’s accomplishments. Even where the accomplishment might be considered small it is essential that the child feels recognised for their achievement. This will encourage children to attempt more challenging tasks even when there is an opportunity for them to make a mistake, as they will seek that acknowledgement again.  </p>

          <p class="govuk-body">All children will have strengths and it is important to embrace and celebrate those individual strengths. This will positively support them and empower them to develop self-worth, self-respect and confidence.</p>




            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-1">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-2-1-2">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
