{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Effective implementation of the EYFS",
        href: "1-2-2"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>
        

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 10 of 11</span>
          <h1 class="govuk-heading-l">
            An effective EYFS
          </h1>

          <img src="/public/images/home/practitioner-scarf.jpg" alt="A practitioner talking to a child at snack time">

          <p class="govuk-body">Using the 7 areas of learning within the EYFS to shape the learning programmes experienced by children will naturally encourage you to focus on holistic development and promote progress.  </p>

          <p class="govuk-body">Further focus on the prime areas will put language at the heart of the curriculum and place emphasis on physical development and personal, social and emotional development (PSED). </p>  

          <p class="govuk-body">Critically, effective implementation of the EYFS, combined with professional judgement and child development knowledge, will stop gaps from opening or widening any further as it strives to offer benefits to all children. </p> 
          
          <h2 class="govuk-heading-m">How the EYFS benefits children </h2>

          <h3 class="govuk-heading-s">Quality and consistency  </h3>

          <p class="govuk-body">The use of the areas of learning and development will offer all children quality and consistency as they work towards the skills and knowledge required by the academic year in which they turn 5. Effective implementation of the framework will therefore ensure that regardless of setting type, location or prior experience every child receives the same high standard of care. Using your knowledge of children’s development will further support you to ensure that learning and development is tailored to meet individual needs.   </p>            

          <h3 class="govuk-heading-s">A secure foundation  </h3>

          <p class="govuk-body">Effective implementation of the framework will ensure that learning is planned to build upon a strong starting point. Children need opportunities to reinforce understanding and secure the foundation knowledge needed to build upon. An understanding of child development will support you to recognise the foundations needed at each age and stage and prepare for the next appropriate steps. 
          </p>            

          <h3 class="govuk-heading-s">Partnership working  </h3>

          <p class="govuk-body">Using your understanding of children’s development will further support effective implementation of the framework as positive partnerships with parents, carers, colleagues and other professionals are promoted. The framework provides consistency between internal and external professionals as everyone works towards the same expectation. 
          </p>                 

          <p class="govuk-body">Effective communication with parents about your implementation of the EYFS will promote the consistency between learning both at home and in the setting. Parents and carers undoubtedly know the most about the child’s past experiences and current starting point. Encouraging and implementing information sharing and then, most importantly, effectively utilising information is essential to support progress for all children.
          </p>    

          <h3 class="govuk-heading-s">Equality of opportunity  </h3>

          <p class="govuk-body">Every child is entitled to access to a full and an unedited curriculum that celebrates their abilities and nurtures their individual development. 
          </p>    

          <p class="govuk-body">The EYFS requires practitioners to work in partnership with parents to ensure that every child receives an inclusive curriculum that is free of discriminatory practice and supports success for all. 
          </p>    

          <p class="govuk-body">We know that all children will potentially face a range of environmental and biological influences that will need to be considered when meeting their learning and development needs. It is crucial that we identify SEND early to prevent gaps in learning opening or widening further. Research shows us that children from disadvantaged areas will typically be approximately 4 months behind peers when they start their reception year. 
          </p>    




          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Let’s think about the practice in your setting. </p>

            <p class="govuk-body">What opportunities do you have for partnership working with parents?  </p>

            <p class="govuk-body">How is the EYFS implemented? </p>

            <p class="govuk-body">How are children’s individual needs met? </p>
              
           <p class="govuk-body">Think of a child in your care. How is the curriculum tailored to meet their specific needs?  </p>
          
          <p class="govuk-body"> How do you know if you are having an impact?  </p>

          </div>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-2">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-2-2-2">Next </a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
