{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Doing the best for each child in your care",
        href: "1-2-1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 4 of 11</span>
          <h1 class="govuk-heading-l">
            Empowering children
          </h1>


          <p class="govuk-body">A key part of your role as a practitioner is to empower children. Empowering children will positively support their confidence, self-worth, self-respect, self-regulation and their overall health and wellbeing. As an early years practitioner your choices and practices will impact upon the empowerment of children. </p>

          <p class="govuk-body">Having a positive attitude and approach and leading by example is essential to help develop a positive attitude to learning. This will encourage enthusiasm and motivation, resulting in increased engagement and a passion for learning new skills and knowledge.</p>

          <p class="govuk-body">You can help to empower children by: </p>       

          
          <ul class="govuk-list govuk-list--bullet">
            <li>giving appropriate responsibility</li>
            <li>building trusting relationships</li>
            <li>allowing children to experience managed risk</li>
            
            </ul>


    
  <h2 class="govuk-heading-m">
    Giving children responsibility
  </h2>


          <p class="govuk-body">All children, including those with SEND, can be given responsibility appropriate to their individual level of development.</p>
          
          <p class="govuk-body">Giving children responsibility will provide them with the opportunity to make mistakes and learn from their responses which will support further resilience. Responsibility will often also offer opportunity for children to be involved in decision making and to develop an understanding of the consequences associated with their actions. This will ensure that every child has received the necessary skills and preparation to adapt to the need for responsibility in later life.
            </p>

  <h2 class="govuk-heading-m">
    Building trusting relationships
  </h2>

          <p class="govuk-body">Building trusting relationships with the children in your care will support them to feel confident and relaxed within the setting. This will enable the children to concentrate on the experiences and opportunities available without worry or hesitation. We will continue to consider the impact and importance of positive relationships throughout the training. </p>

  <h2 class="govuk-heading-m">
    Experiencing managed risk
  </h2>

          <p class="govuk-body">You will already understand the importance of not putting children in dangerous situations, however it is essential that children experience managed risk. For children to become self reliant in later life they will need understand how to keep themselves well, healthy and safe.   </p>

          <p class="govuk-body">Using a balanced approach and supporting children to understand the consequences of actions (such as throwing sand or climbing on a low wall without caution) will ensure that learning activities and experiences do not need to be restricted but approached with care.</p>
            
        <p class="govuk-body">It is essential that you appreciate a child’s level of understanding and comprehension to make sure that you are giving clear instructions for using equipment safely. </p>
          
          <p class="govuk-body">A confident and empowered child will be well equipped to succeed both now and in the future.
            </p>




            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-1-1">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-2-1-3">Next </a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
