{% extends "layout.html" %}

{% block pageTitle %}
Effective assessment
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Effective implementation of the EYFS",
        href: "1-2-2"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds"></div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 11 of 11</span>
          <h1 class="govuk-heading-l">
            Effective assessment
          </h1>

          <p class="govuk-body">Successful assessment will be key to effectively supporting you to identify children’s starting points and planning appropriate environments and experiences to support progress.  </p>

          <p class="govuk-body">Effective assessment should: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>not take practitioners away from children for prolonged periods</li>
            <li>be well planned </li>
            <li>clearly inform practitioners about next steps </li>
          </ul>

          <p class="govuk-body">A robust understanding of children’s development will be essential to support you to clearly identify the correct opportunities and experiences needed to promote progress without overwhelming children or allowing learning gaps to widen.   </p>

          <p class="govuk-body">Ongoing formative assessment is crucial to support you to continually identify what knowledge and skills a child has secured, what they are still developing and what their next steps need to be.It is important to  avoid focussing on an assumed ticklist of behaviours and qualities and instead concentrate on individual progress in relation to a child’s unique characteristics. This will ensure that support is offered to all children and not just the most advantaged.   </p>

          <p class="govuk-body">Understanding how to adapt the learning environment and to identify potential SEND needs will also be critical. You will be able to continually tailor environments, experiences and activities through successful intent and implementation.   </p>

          <p class="govuk-body">The observation checkpoint prompts found in Development Matters will support you to carry out formative assessment opportunities in relation to each of the areas of learning and identify relevant strengths and areas for development.   </p>

          <p class="govuk-body">The opportunity for summative assessment at the 2 year check provides you with opportunities to reinforce our full understanding of a child’s level of knowledge and understanding and work in partnership with parents to support development.  </p>

          <p class="govuk-body">While the 2 year check will be a written summary of the child’s progress in the 3 prime areas of the EYFS, you can use your knowledge to give parents and carers a more detailed understanding of their child’s progress.  </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">How do you use the observation checkpoints from Development Matters to support your practice? </p>

            <p class="govuk-body">How are 2 year checks recorded and shared?  </p>

          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-2-1">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="recap">Next</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}

