{% extends "layout.html" %}

{% block pageTitle %}
Successful enabling environments
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Doing the best for each child in your care",
        href: "1-2-1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>
        

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 6 of 11</span>
          <h1 class="govuk-heading-l">
            Successful enabling environments
          </h1>


          <p class="govuk-body">Children are constantly learning and require an ambitious curriculum that gives them the opportunity to make sense of their thoughts and experiences and considers their:
             </p>

             <ul class="govuk-list govuk-list--bullet">
              <li>identity and culture</li>
              <li>interests and learning needs</li>
              <li>individual communication needs</li>
              <li>previous experiences</li>

              </ul>
    


          <p class="govuk-body">
            Children’s learning and development opportunities will be maximised in environments that are varied, that offer challenge with minimised risk and where children are protected from harm and abuse.
              </p>

          <p class="govuk-body">Here are some other key characteristics of enabling environments.  </p> 

          <img src="/public/images/home/outdoor-setting.jpg" alt="">
          
          <h2 class="govuk-heading-m">A welcoming environment that provokes thought and imagination</h2>

          <p class="govuk-body">An environment that is bright, colourful and contains items familiar from home will be appealing and will offer children a sense of comfort. Having a set routine will support children to feel secure and settle into learning without being worried about what might happen next. As always, it is important that children’s individual needs are taken into consideration. For example where children may become overwhelmed by vivid decoration, calmer more neutral areas will be needed.  </p>  

          
          <h2 class="govuk-heading-m">Resources, activities and experiences that celebrate individuality</h2>

          <p class="govuk-body">Children will feel valued, important and comfortable in an environment that reflects their gender, race, culture, interests and level of development. This can be applied throughout the setting. Examples could include books, jigsaws, dressing up clothing, utensils, display boards, outings, learning and development topics, rhymes and songs, visitors or food. </p>            

          <h2 class="govuk-heading-m">Access to outdoor environments</h2>

          <p class="govuk-body">Often children feel a greater sense of freedom outdoors which leads to greater use of imagination.   </p>  

          <p class="govuk-body">Outdoor areas will provide children with further opportunity to experience activities to rehearse, explore and develop knowledge and understanding of the world, creativity and imagination. Activities could include mud kitchens, grow your own and caring for animals.</p>

          <p class="govuk-body">Outdoor environments often give children a greater opportunity to develop gross motor skills. In your setting, you could give children the option to participate in obstacle courses and access equipment such as bikes, balls, trampolines, slides or climbing apparatus. </p>

          <p class="govuk-body">Not all children have access to outdoor space on a regular basis at home and so you should maximise opportunities to encourage physical exercise within the setting. </p>


          <h2 class="govuk-heading-m">A balance of familiar and new</h2>

          <p class="govuk-body">Children will benefit from the familiarity of routine and an environment that has been well planned to include key features such as dedicated areas for reading, creativity and role play. Children will then need to be challenged through the introduction of new and unfamiliar items, for example those relating to unfamiliar countries or festivals. </p>

          <p class="govuk-body">Children will need access to familiar and consistent activities that support them to secure knowledge and skills and then the introduction of challenge or unfamiliar activities and resources to support development.  </p>

          <h2 class="govuk-heading-m">A secure emotional environment </h2>

          <p class="govuk-body">Children will thrive in an environment where they: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>feel safe to express themselves  </li>
            <li>understand the consistent response to their behaviour  </li>
            <li>have built secure and trusting relationships  </li>
            
            </ul>

         <p class="govuk-body">The stability of routine and familiarity discussed previously will further reinforce children’s confidence and enable to them to participate in learning without hesitance or concern. </p>


         <h2 class="govuk-heading-m">An accessible environment for all</h2>

         <p class="govuk-body">Your environment can help children build independence through choice and responsibility. In your setting you should provide an environment where they are able to initiate child led activities and become actively involved in tidying and maintaining the environment.  </p>

         <p class="govuk-body">Some children may be more reserved. This could be for a number of reasons including shyness or as a result of SEND.
          It is crucial that all children are supported to engage in the environment and suitable strategies could include:
           </p>


         <ul class="govuk-list govuk-list--bullet">
           <li>1:1 or small group work </li>
           <li>increased reassurance  </li>
           <li>identified quiet areas  </li>
           <li>using a child’s interests to encourage engagement </li>
           <li>use of activities to encourage social skills and friendships including shared reading and role play puppets</li>
           <li>building self esteem through praise and reward </li>

           
           </ul>





          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">What activities take place outside? </p>

            <p class="govuk-body">Is your room or area planned to promote all 7 areas of learning each day or session? </p>

            <p class="govuk-body">If you could make 3 changes to your environment to improve its effectiveness, what would you do?
            </p>

          </div>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-1-3">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-2-1-5">Next </a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
