{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Doing the best for each child in your care",
        href: "1-2-1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>
        

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 8 of 11</span>
          <h1 class="govuk-heading-l">
            A balanced approach to learning: adult led activities
          </h1>

          <img src="/public/images/home/using-tablet.jpg" alt="A child and a practitioner doing an activity on a tablet">

          <p class="govuk-body">Now, let's consider the benefits of adult led activities.</p>
          
          <h2 class="govuk-heading-m">Enhanced opportunities to develop speech and language  </h2>

          <p class="govuk-body">Adult participation will increase the opportunity for children to benefit from: </p>  

          <ul class="govuk-list govuk-list--bullet">
            <li>hearing correct pronunciation </li>
            <li>increased eye contact  </li>
            <li>modelled behaviour such as use of tone, volume and speed  </li>
            
            </ul>          
          
          <h2 class="govuk-heading-m">Boundaries and expectations </h2>

          <p class="govuk-body">Having a practitioner present within an activity will support children to understand and keep to rules, boundaries and social expectations. Setting and promoting rules and boundaries will provide routine and security which will positively support children’s mental health and wellbeing. It will also support them to develop the necessary social skills needed throughout life.   </p>            

          <h2 class="govuk-heading-m">Opportunities for learning</h2>

          <p class="govuk-body">Adult led activities will have been planned for a specific reason or outcome. As a result of formative assessment you will know where children would benefit from further learning and will plan accordingly. When done effectively this will still offer opportunity to incorporate children’s interests and preferences to encourage engagement and enthusiastic interaction.   </p>  


          <h2 class="govuk-heading-m">Guaranteed inclusion </h2>

          <p class="govuk-body">Practitioner presence within an activity will ensure that all children can be actively involved. This will be because you have differentiated the activity. You can make sure all children are engaged in conversation opportunities. Across a planned period of time all children will be encouraged to participate.   </p>            


          <h2 class="govuk-heading-m">Scaffolded learning </h2>

          <p class="govuk-body">Practitioner presence will ensure that you are able to support children through tasks that are unfamiliar to them to support confidence and build knowledge and understanding. When children are secure in their knowledge and understanding you can then begin to scaffold their understanding of the next level. Often children will practice the skills you are scaffolding within their child led activities.   </p>


          <p class="govuk-body">A balanced approach is essential to ensure that children have opportunity to play, learn and explore both indoor and outdoor environments.  </p>

          <p class="govuk-body">Your professional judgment, knowledge of individual children and understanding of children’s development will support you to ensure that the choices you make within your environment will promote success for all children.   </p>


          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">What is the current balance of child led and adult led in your setting? </p>

            <p class="govuk-body">Are resources accessible to children for independent choice?  </p>

          </div>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-1-5">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-2-2">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
