{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 1 of 21</span>
          <h1 class="govuk-heading-l">
            Module 1: Understanding child development and the EYFS
          </h1>

          <img src="/public/images/home/baby-holding-high.jpg" alt="A happy baby holding something above their head">


          <p class="govuk-body">On completion of this module you will be able to:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>explain the importance of early childhood education and care including strategies you can use to provide a positive approach</li>
          <li>explore the importance of child development knowledge including an awareness of contributing factors</li>
          <li>consider effective delivery of the early years foundation stage (EYFS)</li>
          <li>describe the impact that the coronavirus (COVID-19) pandemic has had on children's development</li>
        </ul>

          <div class="information">
            <p>“No job is more important than working with children in the early years” (Development Matters, 2021)</p>
            </div>
            
          

          <p class="govuk-body">You are supporting children to learn during the most crucial stage of their development. The choices you make and the curriculum you offer are vital to ensuring that all children have the opportunity to reach their full potential.</p>

          <p class="govuk-body">Almost all children will experience the same developmental milestones. However, every child is unique. Children will develop at different rates, have different strengths and face different challenges. Each child’s development will have been shaped by their previous experiences. Acknowledging this will ensure you are able to support them effectively in the future. </p>

          <p class="govuk-body">Understanding how children develop will enable you to meet the needs of all the children in your care.</p>

          <p class="govuk-body">The modules included in this course will help you to understand how:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>children develop</li>
          <li>external factors, including the coronavirus (COVID-19) pandemic, impact on child development </li>
          <li>effective practice and use of the EYFS framework will support successful development </li>
          </ul>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">As you travel through the course you will see practitioners prompts.</p>
          </div>

          <p class="govuk-body">These prompts are intended to:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>encourage reflection on your current practice</li>
          <li>introduce new strategies </li>
          <li>reinforce effective teaching and learning</li>
          <li>embed new knowledge</li>
          </ul>

          <p class="govuk-body">Reflection is one of the most powerful tools you can use as a practitioner. In practice, you don't often have the time to stop and reflect. However, taking an opportunity to pause and think back can enable you to ask:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>what had I intended?</li>
          <li>did I successfully implement my intentions?</li>
          <li>how do I know?</li>
          <li>what impact did I see?</li>
          <li>what would I do differently next time?</li>
          </ul>

          <p class="govuk-body">As you reflect upon your practice, remember that no child should be considered as low ability. Every child can make progress as long as the correct support is implemented.</p>

          <p class="govuk-body">In the same way that children develop holistically, you should approach the care you provide holistically. You will revisit key messages throughout the course to reinforce how different areas of development overlap.</p>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/pilot/pilot-start">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
