{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      }
    ]
  }) }}
</div>


<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">
          <div class="interrupt-panel">
          <h1 class="govuk-heading-l">
            What to expect during the training 
          </h1>

          <h2 class="govuk-heading-m">
            Check your learning
          </h2>

          <p class="govuk-body">Throughout each module and topic there are activities to check you understand what you have learned. You will be able to see if you get these questions right or wrong. The scores for these activities are not recorded and they do not count towards the certificate of achievement. </p>

          <h2 class="govuk-heading-m">
            Your progress is saved automatically
          </h2>

          <p class="govuk-body">Your progress is automatically saved as you move through the module. You can sign out or close the browser at any time without losing your progress. When you next sign in, you can restart from where you left off. </p>
          
          <h2 class="govuk-heading-m">
            End of module quiz
          </h2>

          <p class="govuk-body">Once you have completed all of the topics, there is an end of module quiz. </p>
          <p class="govuk-body">This quiz is not aimed to provide a pass or fail. It is here for you to revisit what you have learned and the impact on your practice.</p>
          <p class="govuk-body">To receive a certificate of achievement for this module, you need to receive an overall score of at least 66%. </p>
          <p class="govuk-body">If you do not score 66%, you will be able to see which questions you got wrong. You can repeat the test to improve your score as many times as you want to.</p>

          <h2 class="govuk-heading-m">
            Reflect on your learning with practitioner prompts
          </h2>

          <p class="govuk-body">You will see practitioner prompts throughout the course. These are intended to: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>encourage you to reflect on your current practice </li>
            <li>introduce you to new strategies </li>
            <li>reinforce effective teaching and learning </li>
            <li>help you to think about what you have learned </li>

          </ul>



            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" style="background-color: #fff; color:#000;" data-module="govuk-button" href="/brain-development/piaget-current-research">Previous</a>
            
            <a class="govuk-button align-right" style="background-color: #fff; color:#000;" data-module="govuk-button" href="/brain-development/module-intro">Save and continue</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
