{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Understanding child development and the EYFS</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Module start</a>
      </li>
    </ol>
  </div>
</div>


</br> <!-- START MAST -->
<div class="full-BGstrip" style="background-color:	#f3f2f1;">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <!-- START INTRO -->
        <div class="govuk-width-container ">
          <h1 class="govuk-heading-l ">Understanding child development and the EYFS</h1>
          <p class="govuk-caption-m">This module has 2 topics. You must complete the topics in the order shown. You must complete a topic before you can start the next one.  </p>


          <h2 class="govuk-heading-m ">How does it work?</h2>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Check your learning with quizzes
              </span>
            </summary>
            <div class="govuk-details__text">

              <p class="govuk-body">Throughout each module and topic there are activities to check you understand what you have learned.
                You will be able to see if you get these questions right or wrong. The scores for these activities are not recorded and
                they do not count towards the certificate of achievement.</p>
            </div>
          </details>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Your progress is saved automatically
              </span>
            </summary>
            <div class="govuk-details__text">

              <p class="govuk-body">Your progress is automatically saved as you move through the module. You can sign out or
                close the browser at any time without losing your progress.  When you next login, you can restart from where you left off. </p>
            </div>
          </details>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Get a certificate of achievement
              </span>
            </summary>
            <div class="govuk-details__text">

              <p class="govuk-body">At the end of this module, you will be able to download a certificate of achievement, showing what you have learned.</p>
            </div>
          </details>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Reflect on your learning with practitioner prompts
              </span>
            </summary>
            <div class="govuk-details__text">

              <p class="govuk-body">You will see practitioner prompts throughout the course. These are intended to: </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>encourage you to reflect on your current practice</li>
                <li>introduce you to new strategies</li>
                <li>reinforce effective teaching and learning  </li>
                <li>help you to think about what you’ve learnt  </li>
              </ul>
            </div>
          </details>




          {{ govukButton({
          "text": "Start",
          href: " 1"
          }) }}
        </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    </br>
    {{govukTag({
    text: "2 topics",
    classes: "govuk-tag--green"
    })}}

    {{govukTag({
    text: "1 hour 30 minutes for this module",
    classes: "govuk-tag--green"
    })}}

  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

      {{ govukAccordion({
        id: "accordion-with-summary-sections",
        items: [
          {
            heading: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <h2 class="govuk-heading-m">An informed approach to care and education</h2>

                    <strong class="govuk-tag govuk-tag--purple align-right">
                      Not started

                    </strong>
                  </li>

              </ul>'
            },
            summary: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <p class="govuk-body">This first section of the module covers the importance of understanding child development and factors affecting how children develop, including the impact of the COVID-19 pandemic.  </p>
              </ul>'

            },
            content: {
              html:
              '<ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="1-1.html">Introduction </a>

                  <strong class="govuk-tag align-right">
                    Not started
                  </strong>
                </li>
                  <li>
                    <a class="govuk-link" href="1-1-1.html">The importance of understanding child development </a>

                    <strong class="govuk-tag align-right">
                      Not started
                    </strong>
                  </li>

                  <li>
                    <a class="govuk-link" href="1-1-2.html">Factors affecting children’s development  </a>

                    <strong class="govuk-tag align-right">
                      Not started
                    </strong>
                  </li>



              </ul>'
            }
          },
              {
            heading: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <h2 class="govuk-heading-m">A positive approach to care and education</h2>

                    <strong class="govuk-tag govuk-tag--purple align-right">
                      Not started
                    </strong>
                  </li>

              </ul>'

            },
            summary: {
              text: "An informed approach to care and education must be completed before you begin this section  "
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Doing the best for each child in your care</a>
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Effective implementation of the EYFS</a>
                    <strong class="govuk-tag align-right">
                     Not started
                      </strong>
                  </li>



              </ul>'
            }
          },





                      {
            heading: {




            }
          }


        ]
      }) }}





    </div>
  </div>
</div>

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
