{% extends "layout.html" %}

{% block pageTitle %}
Module recap: Understanding child development and the EYFS
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Understanding child development and the EYFS",
          href: "1"
        },
        {
          text: "Recap",
          href: "recap"
        }
      ]
    }) }}
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l"></span>
          <h1 class="govuk-heading-l">
            Recap
          </h1>

          <p class="govuk-body">Regardless of individual characteristics, previous experience or potential barriers to learning every child is unique and has the potential to be capable, resilient and successful.  </p>

          <p class="govuk-body">All children have a right to access high quality early education and as a practitioner you have a responsibility to provide an enabling environment that is: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>stage appropriate  </li>
            <li>rich in language </li>
            <li>diverse in experience and resource </li>
            <li>consistent  </li>
            <li>child led  </li>
            <li>scaffolded by adult guidance </li>
            <li>responsive </li>
          </ul>

          <p class="govuk-body">Without knowledge of the expected stages of development and knowledge of your individual children it will be difficult to provide the correct environment necessary for success.   </p>

          <p class="govuk-body">The remaining modules within this course will support you to further develop your understanding and practice. Make sure you sign up to hear when new modules become available.  </p>

          <h2 class="govuk-heading-m">Further reading </h2>

          <p class="govuk-body">You can find help and guidance on the Department for Education's <a href="https://help-for-early-years-providers.education.gov.uk/">Help for early years providers website</a>.  </p>

          <p class="govuk-body">
            <a href="https://www.gov.uk/government/publications/development-matters--2">Development Matters non-statutory curriculum guidance</a> offers a top-level view of how children develop and learn for all early years practitioners.  </p>

          <p class="govuk-body">Read the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">early years foundation stage (EYFS) statutory framework</a>. </p>

          <p class="govuk-body">Supporting material is available on the <a href="https://foundationyears.org.uk/">Foundation Years website</a>. </p>

          <p class="govuk-body">See <a href="https://www.gov.uk/government/publications/progress-check-at-age-2">guidance to provide support</a> when completing the early years foundation stage (EYFS) progress check at age 2.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-2-2">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="/pilot/pilot-finish">Finish</a>
        </div>
      </div>
    </main>
  </div>

  {{ super() }}
{% endblock %}
