
{% extends "layout.html" %}



{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">
{{ govukBackLink({
  text: "Back",
  href: "/brain-development/sign-in-existing"
}) }}
                        <h1>You have forgotten your password</h1>
						<p>You will need to reset your password.</p>
						<p>To reset your password, we need to send you an email with a validation link.</p>
						<p>If you can't see the link in your inbox within a few minutes, check your spam folder.</p>

						<form action="/registration/sign-in-errors/check-email-password-reset" method="post">
						<div class="govuk-form-group">
							<label class="govuk-label" for="event-name">
							  Enter email address
							</label>
							<input class="govuk-input" id="event-name" name="event-name" type="text">
						  </div>

						  <button class="govuk-button" data-module="govuk-button" type="submit">
							Send email
						  </button>
						</form>
					</div>



				</div>

			</main>
	</div>
{% endblock %}
