{% extends "layout.html" %}

{% set milestone = 'sprint-7' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development in the early years",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "Recap and further reading",
        href: "#"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Page 13 of 13</span>
        <h1 class="govuk-heading-l">
          Recap and further reading
        </h1>

        <h3 class="govuk-heading-s">What you've learned</h3>

        <p class="govuk-body">You've learned that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the brain is made up of the:</li>

          <ul class="govuk-list govuk-list--bullet">
            <li>cerebellum</li>
            <li>occipital lobes</li>
            <li>parietal lobes</li>
            <li>frontal lobes</li>
            <li>temporal lobes</li>
            <li>brain stem</li>
          </ul>

          <li>babies and children need stimulation in order to help their brains develop </li>
          <li>the stage of brain development between birth and 2 is called the sensorimotor stage </li>
          <li>nurturing a secure relationship with children can play an influential role in shaping children’s behaviour
            which will support successful learning and development</li>
        </ul>

        <h3 class="govuk-heading-s">Put what you’ve learned into practice</h3>

        <p class="govuk-body">As an early years practitioner you can encourage and support brain development by:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>understanding the factors that may have impacted on a child’s brain development on their journey so far
          </li>
          <li>providing a supportive environment with opportunities for children to practise activities, encounter new
            experiences and try things out for themselves</li>
        </ul>

        <h3 class="govuk-heading-s">Further reading</h3>

        <p class="govuk-body">You can read more about <a
            href="https://help-for-early-years-providers.education.gov.uk/personal-social-and-emotional-development">personal,
            social and emotional development in the EYFS</a> on the Department for Education's Help for early years
          providers website. </p>

        <p class="govuk-body">You can read more about <a
            href="https://developingchild.harvard.edu/resources/inbrief-science-of-ecd/">the science of early childhood
            development</a> on the Harvard University website. </p>

        <p class="govuk-body">You can read more about how <a
            href="https://learning.nspcc.org.uk/child-health-development/childhood-trauma-brain-development">childhood
            trauma affects brain development</a> on the NSPCC website. </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
          href="video-content">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="test-intro">Go to end of module test</a>

      </div>
    </div>

  </main>
</div>

{{super()}}
{% endblock %}
