{% extends "layout-dfe.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Change password
        </h1>
        <p class="govuk-hint">Your password must contain at least 8 charaters, an uppercase letter, a lowercase letter,
          at least 1 number and a special character.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Enter your current password
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Create a new password
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Confirm your new password
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>


        <a class="govuk-button " data-module="govuk-button" href="change-password-error">Save</a> <br>
        <a href="manage-account" class="govuk-link">Cancel</a>

      </div>
    </div>

  </main>
</div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}