{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

</br> <!-- START MAST -->
<div class="full-BGstrip BGstrip-grey">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <!-- START INTRO -->
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Brain development in the early years</h1>
          <p class="govuk-caption-m">Neuroscience research has shown us that early childhood is a time of tremendous
            brain development. </p>
          <p class="govuk-caption-m">This course, written by paediatric research scientist Dr Jane Reed and nursery
            manager Kate Smith, describes how a child’s brain develops from birth to age 5 and gives advice and tips for
            early years educators. </p>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    </br>
    {% block govukTags %}
      {{govukTag({
      text: "3 modules",
      classes: "govuk-tag--green"
      })}}

      {{govukTag({
      text: "12 topics",
      classes: "govuk-tag--green"
      })}}

      {{govukTag({
      text: "45 minnutes",
      classes: "govuk-tag--green"
      })}}
    {% endblock %}

  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      {% block govukTable %}
        {{ govukTable({
          caption: "Module 1: The science of brain development in the early years",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: "Brain development before birth",
                classes: 'govuk-!-width-one-third'
              },
              {
                text: "Not started",
                classes: 'govuk-!-width-one-third'
              },
              {
                html: "<a href='./brain-development-start1'>Start</a>",
                format: "numeric",
                classes: 'govuk-!-width-one-third'
              }
            ],
            [
              {
                text: "Rapid changes in young children	"
              },
              {
                text: "50% complete"
              },
              {
                html: "<a href='#'>Continue</a>",
                format: "numeric"
              }
            ],
            [
              {
                text: "How the brain develops"
              },
              {
                text: "100% complete%"
              },
              {
                html: "<a href='#'>Complete</a>",
                format: "numeric"
              }
            ]
          ]
        }) }}
      {% endblock %}
    </div>
  </main>
</div>

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}
