{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
<div class="govuk-width-container">
  <a href="./brain-development-start" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">

                  <b>Module 1: The science of brain development in the early years</b>
                  </br>
                  </br>
                  <a href="#1" aria-current="location"> 1. Brain development before birth</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#2">2. Rapid changes in young children</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#3">3. How the brain develops</a>
                </li>
              </ul>
            </nav>

            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">

                  <b>Module 2: Why early years brain development matters</b>
                  </br>
                  </br>
                  <a href="#1" aria-current="location"> 1. The importance of early years education for brain development
                  </a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#2">2.Effective observations for brain development/a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#3">3. Activities for your setting</a>
                </li>
              </ul>
            </nav>
          </div>

        </div>

      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Module 1: The science of brain development in the early years</h2>

        <video width="720" height="240" poster="/public/images/home-image-2.jpg" controls>
          Your browser does not support the video tag.
        </video>
        </br>
        </br>
        <p class="govuk-body">The basic architecture of the brain is constructed through an
          ongoing process that begins before birth and continues into adulthood. Early experiences affect the
          quality of that architecture by establishing either a sturdy or a fragile foundation for all of the
          learning, health and behavior that follow. In the first few years of life, more than 1 million new neural
          connections are formed every second. After this period of rapid proliferation, connections are reduced through
          a process called pruning, so that brain circuits become more efficient. Sensory pathways like those for basic
          vision and hearing are the first to develop, followed by early language skills and higher cognitive functions.
          Connections proliferate and prune in a prescribed order, with later, more complex brain circuits built upon
          earlier, simpler circuits.</p>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}
