{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

</br> <!-- START MAST -->
{% block BGstrip %}
<div class="full-BGstrip brain-development-BGstrip-blue">
  {% endblock %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <!-- START INTRO -->
        <div class="govuk-grid-column-two-thirds start-search">
          <h1 class="govuk-heading-l">Brain development in the early years</h1>
          <p class="govuk-caption-m">Neuroscience research has shown us that early childhood is a time of tremendous
            brain development. </p>
          <p class="govuk-caption-m">This course, written by paediatric research scientist Dr Jane Reed and nursery
            manager Kate Smith, describes how a child’s brain develops from birth to age 5 and gives advice and tips for
            early years educators. </p>

          {# {{ govukCheckboxes({
          idPrefix: "",
          name: "",
          classes: "govuk-checkboxes--small ss-input",
          fieldset: {

          },
          items: [
          {

          } | decorateAttributes(data, "data.searchFilter.jobRole")) }} #}


        </div>

        <!-- END INTRO -->

        <!-- START ASIDE -->
        <div class="govuk-grid-column-one-third">
          <div class="ss-signin">
            <h2 class="govuk-heading-m ">About this training</h2>

            <ul class="govuk-list govuk-list--bullet ">
              <li>online course</li>
              <li>free for early years practitioners</li>
              <li>no previous knowledge required</li>
              <li>certificate on completion</li>
              </br>
              <a href="#" class="govuk-link">share this course</a>
            </ul>
            </br>
            <a class="govuk-button govuk-button__start-icon govuk-!-margin-bottom-0" style="color:	#ffffff !important"
              href="./sign-in">Enroll now</a>
          </div>
        </div>
        <!-- END ASIDE -->
      </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    </br>
    {% block govukTag %}
      {{ govukTag ({
          text: "Age 0 to 5",
          classes: "govuk-tag--green"
      }) }}

      {{ govukTag({
        text: "Time 45 minutes",
        classes: "govuk-tag--green"
      }) }}
    {% endblock %}
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    {% block mainContent %}
      <div class="govuk-grid-row">
        <h3 class="govuk-heading-s">What you’ll learn:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>the science of brain development in the early years</li>
          <li>how you can support children’s brain development in your setting </li>
          </li>
        </ul>
        </br>
        <h3 class="govuk-heading-s">About this training course</h3>
        <ul class="govuk-list govuk-list--bullet">
      
          <li>takes around 45 minutes to complete</li>
          <li>pause and restart as much as you like</li>
          <li>starts with a quiz to test your current knowledge</li>
          <li>includes interactive exercises, videos and case studies</li>
      
        </ul>
        </br>
        <p class="govuk-body">At the end of each course you will be able to download a personalised certificate of
          completion.</p>
        <p class="govuk-body">If you complete all the courses in this series on child development and pass an optional
          test, you will be able to download a certificate that recognises your achievement. </p>
        </div>
      {% endblock %}
  </main>
</div>

{# pulls in default gov uk template #}
{{ super() }}
{% endblock %}

{% block content %}

{% endblock %}
