{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {% block breadcrumbs %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Supporting physical development in the early years overview",
          href: "#"
        },
        {
          text: "Confidence check",
          href: "#"
        }
      ]
    }) }}
  {% endblock %}
  
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% include "partials/accordion-with-summary-sections.html" %}
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Get your certificate</h2>
        <p class="govuk-body">Congratulations. You have now completed this course. </p>

        <p class="govuk-body">You can now <a class="govuk-link" href="sign-up">download a PDF certificate</a> to share
          or print yourself. </p>

        <p class="govuk-body">If the name or setting on your certificate is not what you expect, you can update them in
          your profile settings. </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        {% block image %}
        <img src="/public/images/certificate.png" alt="">
        {% endblock %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Download your certificate as a PDF to share or print yourself</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Share by email</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Share on Facebook</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Download a digital badge for your website</a>
          </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Previous</button> </br>
        <button class="govuk-button" data-module="govuk-button">Finish</button>
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}
