{% extends "layout.html" %}
{% import "partials/app-image-card.html" as imageCard %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}
{% set displayMyCourses = true %}

{% block main %}

<!-- START MAST -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    {% block topSectionHeading %}
    <h2 class="govuk-heading-l">My active courses</h2>
    {% endblock %}

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        <div class="app-card-container">
          {% block topSectionContent %}
            {{ imageCard.appCardContainer(
              "#", 
              "/public/images/image4.jpg", 
              "Introduction", 
              "Why it is important to understand child development",
              "Not started",
              "red"
            ) }}
            
            {{ imageCard.appCardContainer(
              "#", 
              "/public/images/home-image-3.jpg", 
              "Brain development", 
              "How children's brains develop in the early years",
              "50% complete",
              "orange"
            ) }}
            
            {{ imageCard.appCardContainer(
              "#", 
              "/public/images/image4.jpg", 
              "Physical development", 
              "How children's bodies develop in the early years",
              "Complete",
              "green"
            ) }}
          {% endblock %}
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <h2 class="govuk-heading-l">Explore more courses</h2>
        {% block moreCourses %}
          <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-full">
              <div class="app-card-container">

                {{ imageCard.appCardContainer(
                  "#", 
                  "/public/images/image1.jpg", 
                  "Introduction", 
                  "Why it is important to understand child development"
                ) }}
                
                {{ imageCard.appCardContainer(
                  "./brain-development", 
                  "/public/images/image2.jpg", 
                  "Brain development", 
                  "How children's brains develop in the early years"
                ) }}
                
                {{ imageCard.appCardContainer(
                  "#", 
                  "/public/images/image3.jpg", 
                  "Physical development", 
                  "How children's bodies develop in the early years"
                ) }}
              </div>
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
  </main>
</div>

<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}