
{% extends "layout.html" %}
{% block main %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

      {{ govukBackLink({
        text: "Back",
        href: "./sign-up2a"
      }) }}

      {% call govukFieldset({
        legend: {
          text: "Your experience",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p class="govuk-body">We're asking for this so we can make sure you are receiving the most relevant information.</p>    

      {% block select1%}
        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            text: "What early years qualifiction(s) do you have?"
          },
          items: [
          {
            value: "updated",
            text: "Please select",
            selected: true
          },
          {
            value: "published",
            text: "Level 1"
          },
            {
              value: "published",
              text: "Level 2"
            },

            {
              value: "views",
              text: "Leve1 3"
            },
            {
              value: "comments",
              text: "Leve1 4"
            }
          ]
        }) }}
      {% endblock %}
      
      {% block select2 %}
        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            text: "How long have you worked in early years?"
          },
          items: [
          {
            value: "updated",
            text: "Please select",
            selected: true
          },
          {
            value: "published",
            text: "Under a year  "
          },
          
          {
            value: "published",
            text: "1 to 2 years"
          },
          
          {
            value: "views",
            text: "2 to 3 years"
          },
          {
            value: "comments",
            text: "Over 4 years"
          }
          ]
        }) }}
      {% endblock %}
      
      {{ govukButton({
        "text": "Continue",
        href: "./brain-development-start"
      }) }}

      {% endcall %}

      </div>
    </div>
  </main>
</div>
{% endblock %}