{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="app-search-form-container govuk-!-margin-bottom-6">
            <h1 class="govuk-heading-l">Child development training for early years providers</h1>
            <p class="govuk-body">This free, online training provides an overview of child development and gives
              practical advice for supporting the development of children in your early years setting. </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">About the training </h2>
          <p class="govuk-body">Each training course on this site covers an important area of child development and has
            been written by an early years expert, working with the Department for Education and Ofsted.</p>
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Why should I take this training?</h2>
          <ul class="govuk-list govuk-list--bullet">
            {% block whyTakeTraining %}
            <li>short courses, designed to fit around you</li>
            <li>combination of theory and practical tips</li>
            <li>includes activity ideas you can do in your setting</li>
            <li>links to additional resources</li>
            <li>download a certificate of completion</li>
            {% endblock %}
          </ul>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Find a training course</h2>

      {% macro appCardContainer(link, img, title, subtitle) %}
        <div class="app-image-card">
          <a href={{ link }} class="govuk-body govuk-link govuk-!-font-weight-bold">
            <img src={{ img }} alt="">
            <div class="app-image-card__content">
              <span class="govuk-hint">{{ title }}</span>
              <h3 class="govuk-heading-s govuk-link">{{ subtitle }}</h3>
            </div>
          </a>
        </div>
      {% endmacro %}
      

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <div class="app-card-container">
            {% block cardRowOne %}
            {% endblock %}
          </div>
        </div>
      </div>

      {% block cardRowTwo %}
      {% endblock %}
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}