
{% extends "layout.html" %}
{% set removePrototypeBanner = true %}
{% set removeAllLinks = true %}


{% block main %}
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container">
<h1 class="govuk-heading-l">Complete your registration for child development training
</h1>
<p class="govuk-body">Dear early years provider,</p>
<p class="govuk-body">You are receiving this email because you recently tried to create an account on the free child development training course from the Department for Education. </p>
<p class="govuk-body">We noticed that you have not  finished setting up your account by following the link in the email we sent to this address.</p>
<p class="govuk-body">If you’d like to fishing setting up your account and access the training course, you can do so using this link: <a href="/sprint-10/brain-development/sign-up/sign-in">https://www.gov.uk/child-development-training/activate-my-account </a></p>
<p class="govuk-body">Each module in the training course covers an important area of child development and has been written by early years experts, working with the Department for Education and Ofsted. 
    <br>The training: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
          is free for childminders and nurseries
        </li>
        <li>
         combines theory and practical tips
        </li>
        <li>
          includes opportunities to reflect on your practice
        </li>
        <li>
          links to additional resources
        </li>
        <li>
            offers the opportunity to download certificates of completion
          </li>
      </ul>
<p class="govuk-body">Three modules are available now, and more will be added over the coming months. </p>

<p class="govuk-body">To find out more, visit: <a href="">https://www.gov.uk/child-development-training</a></p>


<p class="govuk-body govuk-!-margin-bottom-8">Kind regards <br>The Department for Education early years team</p>
<p class="govuk-body">To unsubscribe from these notifications, please email <a href="">child-development-training@digital.education.gov.uk</a></p>
</div>
</div>
</div>
{% endblock %}

