
{% extends "layout_gov_blank.html" %}
{% set removePrototypeBanner = true %}
{% set removeAllLinks = true %}


{% block main %}
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container">
<h1 class="govuk-heading-s">Continue your child development training
</h1>
<p class="govuk-body">Dear early years provider,</p>
<p class="govuk-body">You are receiving this email because you recently started a child development training module on supporting language development in the early years.</p>

<p class="govuk-body">We’ve noticed that you have not yet completed this module. If you’d like to do so, and receive your certificate of completion, visit your My Learning page here: <a href="/sprint-10/brain-development/sign-in-existing-3">https://www.gov.uk/child-development-training/my-learning </a></p>
<p class="govuk-body">If you are having problems accessing your child development training account, you can reset your password using this link: <a href="">https://www.gov.uk/child-development-training/forgot-your-password</a></p>
<p class="govuk-body">We hope that you are enjoying the training and finding it useful in your practice. If you have any feedback on the course, please share it with us by using the link on the website or filling in this form: <a href="">https://tinyurl.com/ywcjjfnb</a></p>


<p class="govuk-body govuk-!-margin-bottom-8">Kind regards <br>The Department for Education early years team</p>
<p class="govuk-body">To unsubscribe from these notifications, please email <a href="">child-development-training@digital.education.gov.uk</a></p>
</div>
</div>
</div>
{% endblock %}

