
{% extends "layout_gov_blank.html" %}
{% set removePrototypeBanner = true %}
{% set removeAllLinks = true %}


{% block main %}
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container">
<h1 class="govuk-heading-s">Free child development training - new module available
</h1>
<p class="govuk-body">Dear early years provider,</p>
<p class="govuk-body">You are receiving this email because you asked to be notified when additional training modules are added to the Department for Education’s child development training course.</p>
<p class="govuk-body">A new module on physical development is now available.</p>
<p class="govuk-body">This module explores the stages of children’s physical development and how you can support them to progress.</p>
<p class="govuk-body">The new module is now available on the My Learning page, which you can access here: <a href="/sprint-10/brain-development/sign-in-existing">https://www.gov.uk/child-development-training/my-learning </a></p>
<p class="govuk-body">We hope that you are enjoying the training and finding it useful in your practice. If you have any feedback on the course, please share it with us by using the link on the website or filling in this form: <a href="">https://tinyurl.com/ywcjjfnb</a></p>
<p class="govuk-body">If you would like to sign up to take part in a user research interview about this training course, please complete the form here: <a href="">https://tinyurl.com/5f8mkauk</a></p>

<p class="govuk-body govuk-!-margin-bottom-8">Kind regards <br>The Department for Education early years team</p>
<p class="govuk-body">To unsubscribe from these notifications, please email <a href="">child-development-training@digital.education.gov.uk</a></p>
</div>
</div>
</div>
{% endblock %}

