{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-10' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="app-search-form-container govuk-!-margin-bottom-4">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Child development training for early years providers</h1>
            <p class="govuk-body">This free, online training provides an overview of child development and gives
              practical advice for supporting the development of children in your early years setting. </p>

            <a href="brain-development/course-overview" role="button" draggable="false"
              class="govuk-button govuk-button--start govuk-!-margin-bottom-4" data-module="govuk-button">
              Learn more and enrol <div class="govuk-visually-hidden">
                <p>on the course</p>
              </div>
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>
            </a>
          </div>

          <div class="govuk-grid-column-one-third">
            <img src="/public/images/image6.jpg" alt="A practitioner smiling and holding a baby">
          </div>
        </div>

      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">About this training course </h2>
          <p class="govuk-body">Each training module on this site covers an important area of child development and has
            been written by early years experts, working with the Department for Education and Ofsted.</p>

        </div>

        <div class="govuk-grid-column-one-half">
          <div class="app-search-form-container">
            <h2 class="govuk-heading-m">Return to your training</h2>
            <p>Sign in to continue learning, see your progress and download certificates.</p>
            <p> <a class="govuk-button" data-module="govuk-button" style="margin-right:10px;"
                href="brain-development/sign-in-existing">
                Sign in
              </a> or <a href="registration/create-an-account">create an account</a></p>

          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Why should I take this training?</h2>
          <p class="govuk-body">This training:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>is free for childminders and nurseries</li>
            <li>combines theory and practical tips</li>
            <li>includes opportunities to reflect on your practice</li>
            <li>links to additional resources</li>
            <li>offers the opportunity to download certificates of completion</li>
            <li>has been developed by expert practitioners </li>

        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
    </main>

  </div>

</div>

<!--Feedback Section-->
<div id="feedback" class="govuk-width-container govuk-!-padding-top-4 govuk-!-padding-bottom-4" role="dialog"
  aria-label="feedback">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-left-9 govuk-!-padding-right-9">
      <div class="gem-c-feedback">
        <div class="gem-c-feedback__prompt">
          <div class="gem-c-feedback__prompt-questions">
            <h2 class="govuk-heading-s gem-c-feedback__prompt-question">Sign up to be alerted when we release new
              modules</h2>
            <button class="govuk-button gem-c-feedback__prompt-link">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Feedback Section-->
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}

{% endblock %}
