{% extends 'layouts/main.html' %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : My modules
{% endblock %}

{% block header %}
  {% include "nov-23/nav.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
      {% include "includes/phase.html" %}
      

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">How to access this training course</h1>
            <p class="govuk-body-l">This service uses GOV.UK One Login which is managed by the Government Digital Service.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-2">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-m">You will be asked to sign in to your account, or create a One Login account, in this service.</p>
    </div>

    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="https://signin.account.gov.uk/sign-in-or-create" rel="noreferrer">Continue to GOV.UK One Login</a>
        </div>
    </div>
</div>


<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-three-quarters">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to access an existing training account
              </span>
            </summary>
            <div class="govuk-details__text">
                If you have an existing early years child development training account but you do not yet have a GOV.UK One Login, you must use the same email address for both accounts. This will ensure that any progress you have made through the training is retained.
            </div>
          </details>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include "includes/new-footer.html" %}
{% endblock %}
