{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training
{% endblock %}

{% block header %}
<header class="dfe-header" role="banner">
    <div class="dfe-width-container dfe-header__container dfe-header-f-header-flex">
      <div class="dfe-header__logo">
        <a class="dfe-header__link dfe-header__link--service " href="/" aria-label="DfE homepage">
        <img src="/public/images/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
        <img src="/public/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
        </a>
      </div>
      <div class="move-me"><a class="dfe-header__link dfe-header__link--service" href="/" aria-label="DfE homepage">Early years child development training</a></div>
      <div class="dfe-header__content dfe-header-f-dtonly dfe-header-f-toplinks" id="content-header">
        <div class="dfe-header-f-top-links">
        <ul class="dfe-header__action-links">
          <li>
            <a href="#" class="govuk-link govuk-link--inverse">My account</a>
          </li>
          <li>
            <a href="#" class="govuk-link govuk-link--inverse">Sign out</a>
          </li>
        </ul>
        </div>
        <div class="dfe-header__menu">
          <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
        </div>
        
      </div>
      
    </div>

    
    <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
      <div class="dfe-width-container">
        <p class="dfe-header__navigation-title">
          <span id="label-navigation">Menu</span>
          <button class="dfe-header__navigation-close" id="close-menu">
            <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
              <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            <span class="govuk-visually-hidden">Close menu</span>
          </button>
        </p>
        <ul class="dfe-header__navigation-list">
          <li class="dfe-header__navigation-item ">
            <a class="dfe-header__navigation-link" href="#">
              Home 
              <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
          <li class="dfe-header__navigation-item">
            <a class="dfe-header__navigation-link" href="my-modules">
              My modules
              <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
          <li class="dfe-header__navigation-item ">
            <a class="dfe-header__navigation-link" href="#">
              Learning log
              <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
          <li class="dfe-header__navigation-item dfe-header-f-mob">
            <a class="dfe-header__navigation-link" href="#">
              My account
              <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
          <li class="dfe-header__navigation-item dfe-header-f-mob">
            <a class="dfe-header__navigation-link" href="#">
              Sign out
              <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"> <a class="govuk-back-link" href="my-modules">Back to My modules</a></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Module 5: Supporting physical development in the early years</h1>
          <p>Physical development is central to children’s all-round development. This is why it is one of the three prime areas of learning in the early years foundation stage (EYFS). Physical activity helps children to master control of their body and build healthy habits. As an early years practitioner, you will help children develop the physical, fine and gross motor skills they need to thrive.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-5">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}



{% block content %}

    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">This module covers:</h2>
                <ul class="old-dfe-ul">
                <li>the typical stages of physical development in the early years</li>
                <li>potential factors that can affect physical development</li>
                <li>how physical skills impact on learning, development and behaviour</li>
                <li>the importance of the curriculum, environment and relationships for promoting physical development</li>
                </ul>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Your module progress</h2>
    <p class="govuk-body">You can continue your learning, look at your module progress, or revisit pages of the training.</p>
    <h3 class="govuk-heading-s">Module contents</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible module-overview-section-break">
            <section class="module-overview--section">
                <div class="progress-bar">
                    <span class="icon completed"><span class="number">1</span></span>
                    <div class="line"></div>
                </div>
                <div class="module-section--content" id="section-content-1">
                    <h4 class="govuk-heading-s">Developing physical skills</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container">
                        <span class="module-section--item">Types of physical development</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span><span class="module-section--item">Stages of physical development</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span><span class="module-section--item">Physical development theories</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span><span class="module-section--item">Factors affecting physical development</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
            <section class="module-overview--section">
                <div class="progress-bar"><span class="icon completed"><span class="number">2</span></span>
                    <div class="line"></div>
                </div>
                <div class="module-section--content" id="section-content-2">
                    <h4 class="govuk-heading-s">The impact of physical skills on learning, development and behaviour</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container">
                        <span class="module-section--item">The holistic impact of physical development</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span><span class="module-section--item">The impact of the coronavirus (COVID-19) pandemic on physical development</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
            <section class="module-overview--section">
                <div class="progress-bar"><span class="icon started"><span class="number">3</span></span>
                    <div class="line"></div>
                </div>
                <div class="module-section--content" id="section-content-3">
                    <h4 class="govuk-heading-s">Supporting children’s physical development</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container"><span class="module-section--item">Your role in supporting children’s physical development</span><span class="progress-indicator"><strong class="govuk-tag">completed</strong></span><span class="module-section--item">Supporting physical development</span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--yellow">in progress</strong></span><span class="module-section--item">Positive partnerships</span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
            <section class="module-overview--section">
                <div class="progress-bar"><span class="icon not_started"><span class="number">4</span></span></div>
                <div class="module-section--content" id="section-content-4">
                    <h4 class="govuk-heading-s">Summary and next steps</h4>
                    <p class="govuk-body">This section of this module includes:</p>
                    <div class="module-section--container"><span class="module-section--item">Recap and further reading</span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span><span class="module-section--item">End of module test</span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span><span class="module-section--item">Reflect on your learning</span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span><span class="module-section--item">Download your certificate</span><span class="progress-indicator"><strong class="govuk-tag govuk-tag--grey">not started</strong></span>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </section>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-!-margin-top-8">
                <a draggable="false" data-module="govuk-button" role="button" id="module-call-to-action" class="govuk-button govuk-button--start" href="section-start">Resume module <svg aria-hidden="true" class="govuk-button__start-icon" focusable="false" height="19" viewBox="0 0 33 40" width="17.5" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h13l20 20-20 20H0l20-20z" fill="currentColor"></path></svg></a>
            </div> 
        </div>
    </div>
{% endblock %}


{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}