{% extends 'layouts/main.html' %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : My modules
{% endblock %}

{% block header %}
  {% include "nov-23/nav.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
      {% include "includes/phase.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="module-summary">Back to Module 5 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 3 of 5</span><br>
            <span class="govuk-!-font-weight-bold">Supporting children’s physical development</span></p>
          <p class="govuk-!-font-weight-bold">Page 1 of 23</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 4%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-full">
        <div class="dfe-ey-section-start">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Supporting children’s physical development</h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p>Children who have active role models and experience active healthy environments are more likely to adopt healthy habits themselves in later life. In your setting, your planning, interactions and modeling will all play a crucial role in promoting an active lifestyle to the children in your care.</p>
            
                    <h3>The last section of this module includes:</h3>
                    
                    <ul class="old-dfe-ul">
                    <li>Your role in supporting children’s physical development</li>
                    <li>Creating a positive environment</li>
                    <li>Positive partnerships</li>
                    </ul>
                </div>
                <div class="govuk-grid-column-one-third">
                    <img src="/public/images/supporting-pd.jpg" alt="Children and practitioners enjoying parachute play">
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-button-group govuk-!-margin-bottom-0 govuk-!-margin-top-2"><a draggable="false" data-module="govuk-button" role="button" class="govuk-button dfe-button--previous" aria-label="Go to the previous page" href="#">Previous</a><a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="content-page">Start section</a></div>
                </div>
            </div>
        </div>
    </div>

</div>


</div></div>
    
{% endblock %}

{% block footer %}
{% include "includes/new-footer.html" %}
{% endblock %}