{% extends 'layouts/main.html' %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : My modules
{% endblock %}

{% block header %}
{% include "oct-23/nav.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="#">Back to Module 3 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 4</span><br>
            <span class="govuk-!-font-weight-bold">Development of personal, social and emotional skills</span></p>
          <p class="govuk-!-font-weight-bold">Page 2 of 30</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 6%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Social and emotional development: before birth and young babies</h1>
        <div class="gem-c-govspeak"><p><img src="/public/images/audio-test-image.jpg" alt="A baby lying on its tummy on a sofa. There are some toys in front of the baby and the baby is smiing."></p>
  
            <p>Research suggests that emotional development begins even before a baby is born. By the sixth month of pregnancy, babies’ hearing is nearly fully formed and they are becoming more aware of their environment in the womb.</p>

            <p>At birth, a baby will communicate and show their feelings by crying. At first, they will only smile as a reflex, but by 6 to 8 weeks smiling becomes a controlled response to show happiness and pleasure.</p>

            <p>To help with their emotional development, babies need lots of:</p>

            <ul>
            <li>eye contact</li>
            <li>positive facial expression</li>
            <li>reassurance</li>
            <li>cuddles</li>
            <li>comfort when crying</li>
            </ul>

            <p>In your setting, babies also need to hear lots of new language to help them to learn, develop and rehearse new vocabulary. Babies will benefit from plenty of talking, singing and general conversation to reinforce their understanding.</p>
            </div>

    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group">
    <a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="#">Previous</a>
    <a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="/oct-23/page-audio-2">Next</a></div>
</div></div>
    
{% endblock %}

{% block footer %}
{% include "includes/new-footer.html" %}
{% endblock %}