
{% extends "layout-sign-out.html" %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">
          {{ govukBackLink({
            text: "Back",
            href: "create-an-account"
          }) }}
                        {% call govukFieldset({
                          legend: {
                            text: "Check your email",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}
                    <p>We have sent you an email with instructions for how to verify your email address. We sent the email to:</p>
                 
                    <p><b>myemail@email.com</b></p>

                    <p>To continue setting up your training account you must click the link in the
                         email. If you have not received the email after a few minutes, please check your spam folder. </p>
                      
                         <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">
                                Problems with the activation email?
                              </span>
                            </summary>
                            <div class="govuk-details__text">
                                <h3 class="govuk-heading-s">I haven't received the email</h3>
                                <p>Please wait a few minutes for the email to arrive. If it doesn’t appear in your inbox, please check your spam or junk email folder. lf you still cannot see the email, we can send it again.</p>
                                <p><a href="email-errors/not-received" class="govuk-link">Send me another email</a></p>

                                <h3 class="govuk-heading-s">I don't have access to the email address I used to register</h3>
                                <p>You can set up your account using a different email address.</p>
                                <p>Please <a href="create-an-account" class="govuk-link">create a new account</a>.</p>
                                
                                <h3 class="govuk-heading-s">I have a different problem</h3>
                                <p>For other problems with creating your account or signing in, please <a href="#" class="govuk-link">contact us</a>.</p>
                            </div>
                          </details>

                        {% endcall %}
                        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="create-an-account">Previous</a>
                        <a class="govuk-button align-right" data-module="govuk-button" href="my-email">Next</a>
					</div>



				</div>

			</main>
	</div>
{% endblock %}
