
{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}



{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">
{{ govukBackLink({
  text: "Back",
  href: "sign-up2a"
}) }}
                        {% call govukFieldset({
                          legend: {
                            text: "Your experience",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}

                        <p class="govuk-body">We're asking for this so we can make sure you are receiving the most relevant information.</p>

                        {{ govukSelect({
                          id: "sort",
                          name: "sort",
                          label: {
                            text: "What early years qualifiction(s) do you have?"
                          },
                          items: [
                          {
                            value: "updated",
                            text: "Please select",
                            selected: true
                          },
                          {
                            value: "published",
                            text: "No early years qualifications "
                          },
                            {
                              value: "published",
                              text: "Level 2  "
                            },

                            {
                              value: "views",
                              text: "Level 3"
                            },
                            {
                              value: "comments",
                              text: "Level 4 and above"
                            }



                          ]
                        }) }}
                        {{ govukSelect({
                          id: "sort",
                          name: "sort",
                          label: {
                            text: "How long have you worked in early years?"
                          },
                          items: [
                          {
                            value: "updated",
                            text: "Please select",
                            selected: true
                          },
                          {
                            value: "published",
                            text: "Less than 1 year "
                          },

                            {
                              value: "published",
                              text: " 1 to 5 years"
                            },

                            {
                              value: "views",
                              text: "6 to 10 years"
                            },
                            {
                              value: "comments",
                              text: "More than 10 years"
                            }
                          ]
                        }) }}



                          {{ govukButton({
                            "text": "Continue",
                            href: "brain-development-start"
                        }) }}

                        {% endcall %}

					</div>



				</div>

			</main>
	</div>
{% endblock %}
