{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}




{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
        
          <h1 class="govuk-heading-l">
        Account deleted
          </h1>
         
         <p>You have successfully deleted your account and all associated data.</p>
         <p>You have also been logged out.</p>
          

          <a class="govuk-body" href="/home-existing" class="govuk-link">Return to homepage</a>
          
        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
