{% extends "../extends/brain-development-start1.html" %}

{% block sidenav %}
  <div class="govuk-grid-column-two-thirds">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">

          <b>Module 1: The science of brain development in the early years</b>
          </br>
          </br>
          <a href="#1" aria-current="location"> 1. Brain development before birth</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#2">2. Rapid changes in young children</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#3">3. How the brain develops</a>
        </li>
      </ul>
    </nav>

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">

          <b>Module 2: Why early years brain development matters</b>
          </br>
          </br>
          <a href="#1" aria-current="location"> 1. The importance of early years education for brain development
          </a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#2">2.Effective observations for brain development/a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#3">3. Activities for your setting</a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}