{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block main %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds-from-desktop">
        {{ govukBackLink({
          text: "Back",
          href: "sign1"
        }) }}
        {% call govukFieldset({
          legend: {
            text: "About your setting",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p class="govuk-body">Your training progress won’t be shared with anyone without your permission. </p>
        <p class="govuk-hint">If you work in multiple settings, choose the one where you work most often.</p>

      
                {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Other setting"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "setting-type",
          name: "setting-type",
          fieldset: {
            legend: {
              text: "Your setting type"
            }
          },
          hint: {
            text: "Select one."
          },
          items: [
            {
              value: "pubnursery",
              text: "Nursery"
            },
            {
              value: "childminder",
              text: "Childminder"
            },
            {
              value: "freesch",
              text: "School"
            },
          
            {
              value: "other",
              text: "Other",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "Your setting's postcode",
            classes: "govuk-input--width-10",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          id: "width-10",
          name: "width-10"
        }) }}

        {{ govukInput({
          label: {
            text: "Your setting's Ofsted number, if you have one",
            classes: "govuk-!-width-two-thirds",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This might start with EY followed by 6 numbers, or it might be a number that is 6 or 7 digits long."
          },
          id: "event-name",
          name: "event-name"
        }) }}


        {{ govukButton({
          "text": "Continue",
          href: "/sprint-10/brain-development/my-learning-not-started-m2"
        }) }}

        {% endcall %}

      </div>



    </div>

  </main>
</div>
{% endblock %}