{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Supporting physical development in the early years : Download your certificate
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner noprint">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
      <span class="govuk-phase-banner__text">This is a new service, your <a target="_blank" class="govuk-link" href="#">feedback</a> will help us improve it.</span>
    </p>
</div>
<div class="noprint"><a class="govuk-back-link" href="/june-23/my-modules/module-5/">Back to Module 5 overview</a></div>
{% endblock %}

{% block content %}

{% include "june-23/my-modules/module-5/includes/m5-progress-b.html" %}

<div class="govuk-grid-row old-correction">
    <div class="noprint">
        <h1 class="cert-heading">Get your certificate </h1>
        <p>Congratulations! You have now completed this module.</p>
        <p class="govuk_body">If the name on your certificate is not what you expect, you can update it in <a class="govuk-link" href="#">My account</a>.</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
    </div>

    <h3>Certificate of achievement</h3>
    <h1 class="data-hj-suppress cert-heading">Angela Foster</h1>
    <p>has completed the following module:</p>
    <h2>Supporting physical development in the early years</h2>
    <p>Date completed: 3 May 2023</p>
    <p>This module has covered:</p>
    <ul>
        <li>the typical stages of physical development in the early years</li>
        <li>potential factors that can affect physical development</li>
        <li>how physical skills impact on learning, development and behaviour</li>
        <li>the importance of the curriculum, environment and relationships for promoting physical development</li>
    </ul>
    <p class="govuk-!-margin-top-7"></p>
    <h3>Certified by the Department for Education</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third-from-desktop">
            <img width="220" alt="" title="" src="/public/images/department-for-education-certificate.png">
        </div>
    </div>
    <div class="noprint">
        <div class="govuk-button-group">
            <div class="gem-c-print-link print-button">
                <button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link">Print this page</button>
            </div>
            <a aria-describedby="pdf-details" class="govuk-link" href="#">Download certificate</a>
        </div>
        <p class="govuk-body" id="pdf-details">
            <span aria-label="file type"><abbr title="Portable Document Format">PDF</abbr></span>, <span aria-label="file size">0.4 MB</span>, <span aria-label="page size">1 page</span>
        </p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <a draggable="false" data-module="govuk-button" role="button" class="govuk-button" href="/june-23/my-modules">Go to My modules</a>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer role="contentinfo" class="govuk-footer noprint">
    <div class="govuk-width-container">
        <div class="govuk-footer__navigation">
            <div class="govuk-footer__section govuk-grid-column-two-thirds">
                <ul class="govuk-footer__list govuk-footer__list--columns-3">
                    <li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" href="#">Accessibility statement</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" href="#">Free internet, wifi and data resources</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" href="#">Privacy policy</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" href="#">Sitemap</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" href="#">Terms and conditions</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" href="#">Cookies</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" target="_blank" href="#">Contact</a></li><li class="govuk-footer__list-item"><a class="govuk-link govuk-footer__link" target="_blank" href="#">Feedback</a></li></ul></div>
        </div>
  
        <hr class="govuk-footer__section-break">
  
      <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
  
              <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
              </svg>
  
              <span class="govuk-footer__licence-description">All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except where otherwise stated</span>
  
          </div>
  
          <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a></div>
  </div></div></footer>
{% endblock %}