
{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}



{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">
{{ govukBackLink({
  text: "Back",
  href: "sign-in"
}) }}
                        {% call govukFieldset({
                          legend: {
                            text: "About you",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}

                        <p class="govuk-body">We're asking for your details so we can personalise your training certificates.</p>    

                          {{ govukInput({
                            label: {
                              text: "First name"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "first-name",
                            name: "first-name",
                            autocomplete: "first-name"
                          }) }}

                          {{ govukInput({
                            label: {
                              text: "Last name"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "last-name",
                            name: "last-name",
                            autocomplete: "last-name"
                          }) }}
 
                                         
                          
                          {{ govukButton({
                            "text": "Continue",
                            href: "your-setting"
                        }) }}

                        {% endcall %}

					</div>



				</div>

			</main>
	</div>
{% endblock %}
