
{% extends "layout.html" %}
{% set removePrototypeBanner = true %}
{% set removeAllLinks = true %}


{% block main %}
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container">
<h1 class="govuk-heading-l">Activate your Early Years Child Development Training account</h1>

<p class="govuk-body">Thank you for creating an Early Years Child Development Training account.</p>
<p class="govuk-body">Please use the account activiation link to confirm your email address: <a href="/sprint-14/sign-up/sign-in">https://bit.ly/AfIe8WAn</a></p>
<p class="govuk-body">If you did not ask to set up an account, please ignore this email.</p>
<p class="govuk-body govuk-!-margin-bottom-8">Contact child-development.training@education.gov.uk for further help or to give us feedback.</p>
</div>
</div>
</div>
{% endblock %}

