
{% extends "layout.html" %}

{% set milestone = 'sprint-14' %}



{% block main %}

	<div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "about-you"
    }) }}
    
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">


<h1 class="govuk-heading-l">What setting type do you work in?</h1>
<p class="govuk-hint">Your training progress won’t be shared with anyone without your permission.</p>
<p class="govuk-hint">If you work in multiple settings, choose the one where you work most often.</p>
					




          <div class="govuk-!-margin-bottom-8"></div>
  
          <a href="" class="govuk-body govuk-link">My setting is not in the list<a>
            <br>
            <a href="local-authority" class="govuk-button govuk-!-margin-top-6">Continue</a>
        </div>
      </div>
			</main>
	</div>
{% endblock %}
