{% extends "../extends/brain-development.html" %}
{% set milestone = "sprint25" %}

{% block BGstrip %}
  <div class="full-BGstrip brain-development-BGstrip-grey">
{% endblock %}

{% block govukTag %}
  {{govukTag({
  text: "Age 0 to 5",
  classes: "govuk-tag--green"
  })}}

  {{
  govukTag({
  text: "Time 3 hours",
  classes: "govuk-tag--green"
  })}}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-s">What you’ll learn:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>how children's brain and cognitive function develops </li>
      <li>how children learn </li>
      <li>how emotional and social skills develop, and how these influence behaviour </li>
      <li>the importance of secure relationships in the early years</li>
      <li>how adults can support and model self-regulation</li>
      </li>
    </ul>
    </br>
    <h3 class="govuk-heading-s">About this training course</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>takes around 3 hours to complete</li>
      <li>pause and restart as much as you like</li>
      <li>starts with a quiz to test your current knowledge</li>
      <li>includes interactive exercises, videos and case studies</li>
    </ul>
  </div>
{% endblock %}

{% block relatedContent %}
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              Help for early years providers
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Early years foundation stage (EYFS)
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              {% block relatedLinkThree %}
              Statutory framework
              {% endblock %}
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
{% endblock %}

{% block courseCreators %}
  <div class="govuk-grid-column-full">
    <br>
    <h3 class="govuk-heading-s">About the course creators</h3>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <img class="course-creator-image" src="/public/images/course-creator1.png" alt="">
        <p>Jane Reed</p>
        <p>Dr Jane Reed leads the Early Years Research department at the University of Halifax. She has a particular
          interest in brain development.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <img class="course-creator-image" src="/public/images/course-creator2.png" alt="">
        <p>Kate Smith</p>
        <p>Kate Smith has worked in early years education since 1998. She currently manages 5 nurseries and has previously
          worked as a childminder. .</p>
      </div>
    </div>
  </div>
{% endblock %}
