{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">
		
				<h1 class="govuk-heading-l">The link you followed has expired</h1>

				<p>To request a new link to unlock your account, enter your email address. </p>

				<div class="govuk-form-group">
					<label class="govuk-label" for="event-name">
					 Email address
					</label>
					<input class="govuk-input" id="event-name" name="event-name" type="text">
				  </div>

				  <button class="govuk-button">Next</button>
			</div>
		</div>

	</main>
</div>
{% endblock %}