{% extends "../../sprint-26-week-2/brain-development.html" %}

{% block BGstrip %}
  <div class="full-BGstrip brain-development-BGstrip-grey">
{% endblock %}

{% block intro%}
  <h1 class="govuk-heading-l">Brain development in the early years</h1>
  <p class="govuk-caption-m">The rapid changes that happen in the brain in a child’s first years lay critical foundations for later childhood and adult life.</p>
  <p class="govuk-caption-m">As an early years practitioner you can play a significant role in encouraging and supporting brain development.</p>
  <p class="govuk-caption-m">This module will reinforce your understanding of how the brain develops and how to consider factors affecting brain development when planning for your setting.</p>
{% endblock %}

{% block share %}
{% endblock %}

{% block callToAction %}
  <a class="govuk-button govuk-button__start-icon govuk-!-margin-bottom-0" href="../registration/sign-in">Enroll now</a>
{% endblock %}

{% block govukTag %}
{{ govukTag({
  text: "AGE 0 TO 5",
  classes: "govuk-tag--green"
}) }}

{{ govukTag({
  text: "TIME 2 hours",
  classes: "govuk-tag--green"
}) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-s">What you'll learn</h3>
    <p class="govuk-body">On completion of this module you will be able to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>establish and explore the stages of children’s brain development</li>
      <li>explore the impact of brain development on children’s holistic development </li>
      <li>examine the connection between brain development and children’s learning</li>
      <li>define and evaluate the importance of effective relationships</li>
      <li>explore a range of theories underpinning best practice </li>
      </li>
    </ul>
    </br>
    <h3 class="govuk-heading-s">About the training</h3>
    <p class="govuk-body">This training module:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>takes around 2 hours to complete</li>
      <li>can be paused and restarted as much as you like</li>
      <li>includes case studies and quizzes</li>
      <li>ends with the chance to download a personalised certificate of achievement</li>
  </div>
  {% endblock %}

  {% block relatedLinkThree %}
    Development Matters
  {% endblock %}

  {% block courseCreators%}
  <div class="govuk-grid-column-full">
    <br>
    <h3 class="govuk-heading-s">About the course creators</h3>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <img class="course-creator-image" src="/public/images/course-creator1.png" alt="">
        <p class="govuk-body">Debbie Parry</p>
        <p class="govuk-body">Debbie is an early years training expert and lecturer in health and childcare. Her career in
          early years began as a nursery nurse and she is passionate about helping other early years practitioners to
          expand their knowledge. </p>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <img class="course-creator-image" src="/public/images/course-creator2.png" alt="">
        <p class="govuk-body">Melissa Tharm</p>
        <p class="govuk-body">Melissa has worked in education for over 20 years, with a particular focus on delivering
          training for early years practitioners.</p>
      </div>
    </div>
  </div>
{% endblock %}
