{% extends "layout.html" %}
{% from "partials/pagination.html" import pagination %}
{% set milestone = 'sprint-7' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Brain development in the early years",
        href: "./brain-development-start"
      }
    ]
  }) }}
</div>
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        {% block pagination %}
          {{ pagination (6,13, "Topic")}}
        {% endblock %}
        <h1 class="govuk-heading-l">
          Brain development from 0 to 2 years old
        </h1>

        <p class="govuk-body">The most significant growth for a child’s brain happens between birth and 2 years of age.
          A 2 year old’s brain is three quarters of its adult size.</p>
        <p class="govuk-body">The early years are the period where more and more connections develop in the brain,
          resulting in the child being able to carry out more complex tasks. They are therefore a crucial period of
          opportunity for the child’s development to be shaped by experience, environment and opportunity.
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        {% block navigation %}
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="./quiz-1">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="./piaget-sensorimotor.html">Next</a>
        {% endblock %}

      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}
