{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Brain development in the early years",
        href: "./brain-development-start"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Topic 8 of 13</span>
        <h1 class="govuk-heading-l">
          Recent updates to Piaget's theories
        </h1>

        <p class="govuk-body">Large numbers of studies and experiments were carried out to support Piaget’s work and
          positively reinforced his findings.</p>

        <p class="govuk-body">However, more recent research also shows some criticisms and questions regarding Piaget’s
          work.</p>

        <p class="govuk-body">Examples have been documented of babies having the ability to show surprise and look for
          things that have disappeared from their environment, suggesting that they can have the expectation that an
          object continues to exist even though they can no longer see it. </p>

        <p class="govuk-body">This would suggest that babies and young children have some ability to form abstract
          thoughts which is contradictory to Piaget’s previous thoughts.</p>

        <p class="govuk-body">Piaget’s research was also criticised for not taking into account a wide variety of
          socio-economic factors within the environment as much of his research was conducted with children of well
          educated professionals. </p>

        <p class="govuk-body">Current research believes that babies and young children learn through a combination of
          sensorimotor activities like using their senses to explore their environment and the opportunity to build upon
          previous experiences and opportunities. </p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
          href="piaget-sensorimotor">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="quiz-2">Next</a>

      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}
