{% extends "./quiz-2.html" %}
{% set right = true %}

{% block notificationBanner %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      That's right.
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">Piaget believed that positive experiences and interactions help children’s brain development
      in the sensorimotor stage from birth to 2 years old.</p>

    <div class="govuk-inset-text">
      In your setting, you can put this into practice by providing a supportive environment with interactive activities.
    </div>
  </div>
</div>
{% endblock %}