{% extends "./quiz-1.html" %}
{% set wrong = true %}

{% block notificationBanner %}
<div class="govuk-notification-banner govuk-notification-banner" role="alert"
  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      That's not right.
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">That’s not right - the occipital lobes are the visual processing area of the brain.</p>
  </div>
</div>
{% endblock %}



