{% extends "./test-1-q1.html" %}

{% block question %}
{{ govukRadios({
  idPrefix: "piaget",
  name: "piaget",
  fieldset: {
    legend: {
      text: "According to Piaget, around what age do babies usually develop their understanding of object permanence?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Around 5 to 6 months",
      text: "Around 5 to 6 months",
      checked: true if wrong
    },
    {
      value: "Around 7 to 8 months",
      text: "Around 7 to 8 months"
    },
    {
      value: "Around 9 to 10 months",
      text: "Around 9 to 10 months",
      checked: true if right
    },
    {
      value: "Around 11 to 12 months",
      text: "Around 11 to 12 months"
    }
  ]
}) }}
{% endblock %}

{% block notificationBanner %}
{% endblock %}

{% block buttons %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="test-1-q2">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="test-1-q3-wrong.html">Next</a>
{% endblock %}
