{% extends "./test-1-q3.html" %}
{% set wrong = true %}

{% block notificationBanner %}
<div class="govuk-notification-banner govuk-notification-banner" role="alert"
aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    That's not right.
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <p class="govuk-body">Babies usually understand that an object they can no longer see still exists around 9
    to 10 months. But all children develop at different rates. Some children may learn this earlier or later.
  </p>
</div>
</div>
{% endblock %}

{% block buttons %}
<a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="test-1-q2">Previous</a>
<a class="govuk-button align-right" data-module="govuk-button" href="certificate.html">Next</a>
{% endblock %}