{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Supporting physical development in the early years overview",
        href: "#"
      }
    ]
  }) }}
</div>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Topic 11 of 13</span>
        <h1 class="govuk-heading-l">
          End of module test
        </h1>

        <p class="govuk-body govuk-!-font-weight-bold">Case study: Sarah plays peeakaboo</p>

        <p class="govuk-body">Childminder Chris is playing with 6 month old Sarah. Chris is covering a teddy with a
          blanket. When the teddy is covered, Sarah immediately pulls off the blanket to find it and giggles.
        </p>

        <img class="cover-img" src="/public/images/image6.jpg" alt="">
        </br>
        </br>
        
        {{ govukRadios({
          idPrefix: "part-of-brain",
          name: "part-of-brain",
          fieldset: {
            legend: {
              text: "True or false? Sarah understands that objects which you cannot see still exist.",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "True",
              checked: true if right
            },
            {
              value: "false",
              text: "False",
              checked: true if wrong
            }
          ]
        }) }}

        {% block notificationBanner %}
        {% endblock %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="recap">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="test-1-q1-right">Next</a>
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}
