{% extends "./test-1-q2.html" %}
{% set right = true %}

{% block notificationBanner %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      That's right.
    </h2>
  </div>
  <div class="govuk-notification-banner__content">


    <p class="govuk-body">Object permanence is the ability to mentally picture an item even when it was no
      longer there. </p>
  </div>
</div>
{% endblock %}


{% block buttons %}
<a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="test-1-q2">Previous</a>
<a class="govuk-button align-right" data-module="govuk-button" href="test-1-q3">Next</a>
{% endblock %}
