{% extends 'layouts/main.html' %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : My modules
{% endblock %}

{% block header %}
  {% include "nov-23/nav.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
      {% include "includes/phase.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">My modules</h1>
          <p>You can complete the Early years child development training in any order. However, to support your understanding of the training, you may find it helpful to complete the modules in order.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row" id="started">
    <div class="govuk-grid-column-full">
        <p>You have completed all available modules. You may use the links below to revisit any of the course content.</p>
    </div>
</div>



<section class="completed">
<div class="govuk-grid-row" id="completed">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-bottom-0">
            <caption class="govuk-table__caption govuk-table__caption--m">Completed modules</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Module name</th>
                    <th class="govuk-table__header" scope="col">Date completed</th>
                    <th class="govuk-table__header" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Understanding child development and the EYFS</a></td>
                    <td class="govuk-table__cell">3 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Brain development and how children learn</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Supporting children’s personal, social and emotional development</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Supporting physical development in the early years</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Mathematics</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Encouraging holistic development</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Planning inclusive learning</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Effective observation and assessment</a></td>
                    <td class="govuk-table__cell">4 May 2023</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">View certificate</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>

{% endblock %}

{% block footer %}
{% include "includes/new-footer.html" %}
{% endblock %}
