{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Brain development and how children learn : Parts of the brain
{% endblock %}


{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "july-23/includes/new-phase-banner.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"><div class="noprint"><a class="govuk-back-link" href="/july-23/my-modules/module-2/">Back to Module 2 overview</a></div></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-full">
          <p class="pb-pre-text"><span class="govuk-!-font-weight-regular">Section 1 of 3</span><br>
            <span class="govuk-!-font-weight-bold">The developing brain</span></p>
          <p class="govuk-!-font-weight-bold">Page 3 of 27</p>
          <div class="pb-outer"><div class="pb-progress" style="width: 11.1%"></div></div>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row old-correction">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="old-dfe-heading govuk-heading-xl">Parts of the brain</h1>
        <div class="gem-c-govspeak"><p><img src="/public/images/Brain.png" alt="A diagram showing the parts of the brain. The brain stem is at the top of your spinal cord where your head joins your neck. The cerebellum is at the back of the head. The two frontal lobes are behind your forehead and together are the largest part of the brain. The occipital lobes are the back part of the brain. The temporal lobes are at the side of your brain, just above your ears. The parietal lobes are located behind the frontal lobes and above the temporal lobes."></p>

            <h2 class="govuk-heading-m govuk-!-padding-0" id="brain-stem">Brain stem</h2>
            
            <p>The brain stem is at the top of your spinal cord where your head joins your neck. This is the most developed section of your brain at birth. This vital part of the brain controls your breathing, heart rate and blood pressure. It also supports newborn reflexes such as crying, startling and sucking.</p>
            
            <h2 class="govuk-heading-m govuk-!-padding-0" id="cerebellum">Cerebellum</h2>
            
            <p>The cerebellum is at the back of your head. This is the area in charge of motor development. It controls balance and coordinates movements. The cerebellum combines the signals from the eyes, ears and muscles with motor commands. This area of the brain supports babies to progress with motor skills such as the progression from rolling to crawling to walking. Repeating challenging activities helps this area of the brain to develop.</p>
            
            <h2 class="govuk-heading-m govuk-!-padding-0" id="frontal-lobes">Frontal lobes</h2>
            
            <p>The frontal lobes are located behind your forehead and are the largest part of your brain. They are involved in:</p>
            
            <ul>
              <li>moral reasoning</li>
              <li>critical thinking</li>
              <li>planning ahead</li>
              <li>decision making</li>
              <li>impulse control</li>
            </ul>
            
            <p>The frontal lobes continue to develop until you are in your twenties or thirties. They are shaped by your experiences and environment.</p>
            
            <h2 class="govuk-heading-m govuk-!-padding-0" id="occipital-lobes">Occipital lobes</h2>
            
            <p>The occipital lobes are the back part of the brain. They allow us to make sense of information that comes from our eyes.</p>
            
            <p>At birth, the neural pathways used to carry the information from the eyes to the brain are not fully developed. Babies can only see 20 to 30 cm in front of them. To develop these neural pathways babies need to use them, and they can do this by looking at a variety of objects. Babies’ vision improves steadily, and by 8 months they will see almost as well as an adult.</p>
            
            <h2 class="govuk-heading-m govuk-!-padding-0" id="temporal-lobes">Temporal lobes</h2>
            
            <p>The temporal lobes are at the side of your brain, just above your ears. One of their important functions is to help us understand and process sounds. Other functions include recognising faces and objects, as well as memory acquisition.</p>
            
            <p>It’s essential that a child is exposed to a wide variety of visual, auditory and practical stimuli that enable them to test concepts and build memory skills.</p>
            
            <p>To support children, you can:</p>
            
            <ul>
              <li>sing songs and rhymes</li>
              <li>encourage discussion and ask questions</li>
              <li>share stories</li>
              <li>use visual aids, such as puppets and story sacks</li>
              <li>go on sensory walks</li>
              <li>support creative activities that use a wide varieties of textures and colours</li>
            </ul>
            
            <h2 class="govuk-heading-m govuk-!-padding-0" id="parietal-lobes">Parietal lobes</h2>
            
            <p>The parietal lobes are located behind the frontal lobes and above the temporal lobes. One of their main functions is to make sense of things we touch.
            They also tell us where our body is in relation to objects around us.</p>
            </div>

    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group"><a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="page-2-1-1">Previous</a><a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="/july-23/my-modules">Next</a></div>
</div></div>
    
{% endblock %}

{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}