{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Early years child development training : Brain development and how children learn : What to expect during the training
{% endblock %}

{% block header %}
{% include "july-23/includes/new-header.html" %}
<div class="govuk-width-container">{% include "july-23/includes/new-phase-banner.html" %}</div>
{% endblock %}



{% block content %}

    
<div class="govuk-grid-row"><div class="govuk-grid-column-full-from-desktop"><div class="govuk-grid-column-full interrupt-panel">
    <h1 class="govuk-heading-l">What to expect during the training</h1><div class="gem-c-govspeak">
    <h2 class="govuk-heading-m govuk-!-padding-0 govuk-!-margin-bottom-4" id="end-of-module-test">End of module test</h2>

    <p>Once you have completed all topics, there is an end of module test and an
    opportunity to download a certificate of achievement.</p>
    
    <h2 class="govuk-heading-m govuk-!-padding-0 govuk-!-margin-bottom-4" id="your-progress-is-saved-automatically">Your progress is saved automatically</h2>
    
    <p>Your progress is automatically saved as you move through the module.
    You can sign out or close the browser at any time without losing your progress.
    When you next sign in, you can restart from where you left off.</p>
    
    <h2 class="govuk-heading-m govuk-!-padding-0 govuk-!-margin-bottom-4" id="videos-and-mobile-data-usage">Videos and mobile data usage</h2>
    
    <p>This module contains videos. Connect to wifi before starting the module to
    watch the videos without using any mobile data. If you are not able or prefer
    not to play the videos, you can use the full transcripts provided.</p>
    
    <h2 class="govuk-heading-m govuk-!-padding-0 govuk-!-margin-bottom-4" id="free-wifi-internet-and-data-resources">Free wifi, internet and data resources</h2>
    
    <p>Our <a href="/wifi-and-data">free wifi, internet and data resources</a> may help if you have limited or
    no access to the internet.</p>
    
    <h2 class="govuk-heading-m govuk-!-padding-0 govuk-!-margin-bottom-4" id="learning-check">Learning check</h2>
    
    <p>You’ll see the question mark icon next to quiz questions throughout the module.
    These questions are to check you understand what you have learned.
    You will be able to see if you get these questions right or wrong.
    Your scores are not recorded and they do not count towards the certificate of achievement.</p>
    </div></div></div></div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

<div class="govuk-button-group"><a draggable="false" data-module="govuk-button" role="button" class="govuk-button govuk-button--secondary" aria-label="Go to the previous page" href="/july-23/my-modules/module-2/">Previous</a><a draggable="false" data-module="govuk-button" role="button" id="next-action" aria-label="Go to the next page" class="govuk-button" href="page-2-1">Next</a></div>
{% endblock %}


{% block footer %}
{% include "july-23/includes/new-footer.html" %}
{% endblock %}