{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
The impact of the COVID-19 pandemic on communication, language and literacy
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "Factors affecting children's development",
        href: "1-1-2"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 14 of 21</span>
          <h1 class="govuk-heading-l">
            The impact of the COVID-19 pandemic on communication, language and literacy
          </h1>

          <h2 class="govuk-heading-m">
            Positive impact
          </h2>

          <p class="govuk-body">During the COVID-19 pandemic, some children may have spent extended periods with their parents and carers. They may have read more, had more conversations and increased their vocabulary through new hobbies.    </p>

          <h2 class="govuk-heading-m">
            Negative impact
          </h2>

          <p class="govuk-body">Some children may not have had access to books or regular involvement in conversations, singing or opportunities to read. They may have had a smaller variety of social interactions and so less chances to learn and use new vocabulary. </p>

          <p class="govuk-body">Some children may have spent extended periods experiencing inappropriate behaviour, such as inappropriate language from older siblings. They may now have difficulty improving their behaviour and understanding why they need to do so. </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-2-2">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="1-1-2-4">Next</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}
