{% extends "layout.html" %}

{% set milestone = 'sprint-11' %}
{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Your learning log</h1>
          <p class="govuk-body">View your notes from all modules here. You can also use the links provided to revisit a specific topic.</p>
          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item ">
                <a class="govuk-tabs__tab" href="#module1">
                  Module 1
                </a>
              </li>
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#module2">
                  Module 2
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#module3">
                  Module 3
                </a>
              </li>
            
            </ul>
            <div class="govuk-tabs__panel" id="module1">
              <h2 class="govuk-heading-m">Notes for Module 1: Understanding child development and the EYFS </h2>
              <p class="govuk-body">You have not made any notes for this module.</p>
          
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="module2">
              <h2 class="govuk-heading-m">Notes for Module 2: Brain development and how children learn </h2>
              <p class="govuk-body">You have not made any notes for this module.</p>
            </h2>
              
         
          
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="module3">
              <h2 class="govuk-heading-m">Notes for Module 3: Supporting children’s personal, social and emotional development</h2>

              <h3 class="govuk-heading-s">8 August 2022</h3>
              <p class="govuk-body"><strong>Page:</strong> <a href="/sprint-11/activity/effective-holistic"> How improved child development knowledge supports outstanding practice - effective holistic support</a></p>
              
              <div class="govuk-log-entry">
                <h4 class="govuk-heading-s">You wrote:</h4>
                <p class="govuk-body">{{ data['log-activity'] }}</p>
              </div>

            
              <h3 class="govuk-heading-s">8 August 2022</h3>
              <p class="govuk-body"><strong>Page:</strong> <a href="/sprint-11/activity/social-dev-4">Social and emotional development: 4 years old</a></p>
              
              <div class="govuk-log-entry">
                <h4 class="govuk-heading-s">You wrote:</h4>
                <p class="govuk-body">{{ data['log-reflect'] }}</p>
              </div>

              <h3 class="govuk-heading-s">12 July 2022</h3>
              <p class="govuk-body"><strong>Page:</strong> <a href="">How children learn</a></p>
              
              <div class="govuk-log-entry">
                <h4 class="govuk-heading-s">You wrote:</h4>
                <p class="govuk-body">I would run certain activities with the children in my setting so that they willlearn in a more holistic environment</p>
              </div>

              <button class="govuk-link govuk-body-s print-link__button" data-track-category="printButton" data-track-action="clicked" data-track-label="Print this page" data-module="print-link" data-print-link-module-started="true">Print this page</button>
            </div>
       
          </div>









        </div>
      </div>

      


    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}