{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}


<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#passport-issued-day">New password and confirm password do not match</a>
                </li>
                
              </ul>
            </div>
          </div>
        
          <h1 class="govuk-heading-l">
       Create an account
          </h1>
          <div class="govuk-form-group">
           
            <label class="govuk-label" for="event-name">
              Enter your email address
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <div class="govuk-form-group">
            
          
            <label class="govuk-label" for="national-insurance-number">
              Enter a password
            </label>
            <p class="govuk-hint">Your password must contain at least 8 charaters, an uppercase letter, a lowercase letter, at least 1 number and a special character.</p>
            <input class="govuk-input" id="national-insurance-number" name="national-insurance-number" type="text">
          </div>


          <div class="govuk-form-group govuk-form-group--error">
            <p id="national-insurance-number-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Confirm password must match password entered
            </p>
            <label class="govuk-label" for="event-name">
            Confirm your password
            </label>
            <input class="govuk-input govuk-input--error" id="event-name" name="event-name" type="text" aria-describedby="national-insurance-number-hint national-insurance-number-error">
          </div>
          
         
          <a class="govuk-button " data-module="govuk-button" href="manage-account-success">Save</a> <br>
          <a href="manage-account" class="govuk-link">Cancel</a>
          
        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
