
{% extends "layout-dfe-blank.html" %}

{% set milestone = 'sprint-14' %}



{% block main %}

	<div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "your-setting"
    }) }}
    
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">


<h1 class="govuk-heading-l">What is your role?</h1>

					

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Enter your job title
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>



          <div class="govuk-!-margin-bottom-6"></div>
  
       
       
            <a href="/sprint-14/social-emotional/my-training-m3" class="govuk-button govuk-!-margin-top-6">Continue</a>
        </div>
      </div>
			</main>
	</div>
{% endblock %}

