{% extends "../sprint-26/sign-up4.html" %}

{% block select1%}
  {{ govukSelect({
    id: "sort",
    name: "sort",
    label: {
      text: "What early years qualifiction(s) do you have?"
    },
    items: [
    {
      value: "updated",
      text: "Please select",
      selected: true
    },
    {
      value: "published",
      text: "Level 1"
    },
      {
        value: "published",
        text: "Level 2"
      },

      {
        value: "views",
        text: "Level 3"
      },
      {
        value: "comments",
        text: "Level 4 and above"
      }
    ]
  }) }}
{% endblock %}