{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-10' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukBackLink({
            text: "Back",
            href: "../home-signed-out"
          }) }}
          <h1 class="govuk-heading-l">About this training course</h1>
          <p>This training course will give you a thorough understanding of the most important aspects of child
            development in the early years.</p>

          <p>The course has 10 modules. 3 modules are currently available. You must complete modules 1, 2 and 3 in
            order.
          </p>
          <p>Each module should take between 1 and 2 hours to complete.</p>

          <p>You can pause and restart the training as much as you like.</p>
          <p>Each module includes opportunities to reflect on your learning and practice.</p>

          <p>Some modules will also have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>learning check questions to test your understanding</li>
            <li>an end of module quiz</li>
            <li>the opportunity to download a personalised certificate of completion </li>
          </ul>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="app-search-form-container govuk-!-margin-bottom-4">
            <h2 class="govuk-heading-m">Ready to get started?</h2>
            <p>Enrol on this course and begin the first module. You will need to sign in or create an account before
              starting a module.</p>
            <p>
              <a class="govuk-button" data-module="govuk-button" style="margin-right:10px;"
                href="/registration/create-an-account">
                Create an account
              </a> or <a href="sign-in-existing">sign in</a>
            </p>

          </div>

          <!--   <div class="app-search-form-container govuk-!-margin-bottom-6">
          
            <p class="govuk-body">This course is suitable for people aged 16 and over who need to be qualified in first aid as they care for babies and children in a professional setting.
             This course, written by Paediatric Emergency Medicine consultant Dr John Williams and nursery manager Kate Smith, can be counted as evidence for an NVQ in childcare and education and is recognised by Ofsted. .</p>
          </div>-->
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Module 1: Child development and the EYFS
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                  As an early years practitioner, understanding how children develop will enable you to meet the needs
                  of all the children in your care.

                </div>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <p>This module will help you to reflect on why knowledge of child development is important and help you
                  to effectively implement the EYFS. It also considers the impact of the coronavirus (COVID-19) pandemic
                  on children. </p>
                <p class="govuk-heading-s">What you’ll learn</p>
                <p class='govuk-body'>On completion of this module you will be able to:</p>
                <ul class='govuk-body'>
                  <li>explain the importance of early childhood education and care including strategies you can use to
                    provide a positive approach</li>
                  <li>explore the importance of child development knowledge including an awareness of contributing
                    factors</li>
                  <li>consider effective delivery of the EYFS</li>
                  <li>describe the impact that the COVID-19 impact has had on children's development</li>
                </ul>

              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Module 2: Brain development and how children learn
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                  <p>The rapid changes that happen in the brain in a child's first years lay critical foundations for
                    later childhood and adult life. As an early years practitioner, you can play a significant role in
                    encouraging and supporting brain development. </p>
                </div>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-2">
                <p>This module will reinforce your understanding of how a child's brain develops and how to consider
                  factors affecting brain development when planning for your setting.</p>
                <p class="govuk-heading-s">What you’ll learn</p>
                <p class='govuk-body'>On completion of this module you will be able to:
                </p>
                <ul class='govuk-body'>
                  <li>establish and explore the stages of children’s brain development</li>
                  <li>explore the impact of brain development on children’s holistic development</li>
                  <li>examine the connection between brain development and children’s learning</li>
                  <li>explore a range of theories underpinning best practice </li>
                </ul>

              
              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Module 3: Supporting childrens' personal, social and emotional development
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                  <p>
                    In your everyday practice you’ll be helping children to learn, develop and rehearse their key
                    personal, social and emotional skills.
                  </p>
                </div>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <p>This module will help you to consider how the development of those skills impact on a child’s overall
                  development.</p>
                <p class="govuk-heading-s">What you’ll learn</p>
                <p class='govuk-body'>On completion of this module you will be able to:</p>
                <ul class='govuk-body'>
                  <li>establish and explore the stages of children’s personal, social and emotional development</li>
                  <li>discuss the importance of effective relationships</li>
                  <li>explore factors affecting behaviour</li>
                  <li>explain and explore the role of self-regulation </li>
                </ul>

                

              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    The experts
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                  <p>
                    This module has been created by 3 early years experts.
                  </p>
                </div>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">

                <p class="govuk-body">
                  <b>Debbie Parry</b> spent several years working as an early years practitioner in private day
                  nurseries, before going on to use her knowledge and experience to teach the practitioners of the
                  future.
                </p>
                <p class="govuk-body">
                  <b>Melissa Tharm</b> worked in SEND residential environoments for a number of years and now brings her
                  experience and knowledge to training programmes to professionals in the health, care and education
                  sectors.
                </p>
                <p class="govuk-body">
                  <b>Catherine Mcelroy</b> has over 20 years' experience working in private day nurseries with children
                  under 5. She has spent the last 10 years as a nursery manager, ensuring that children and their
                  familities experience excellent care that is fun and exciting.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>

{% endblock %}