{% extends "sprint-2/brain-development/relationships-emotions.html" %}

{% block breadcrumbs %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Brain development in the early years",
          href: "#"
        },
        {
          text: "The developing brain",
          href: "#"
        },
        {
          text: "The importance of secure relationships and understanding emotions",
          href: "#"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block navigation %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/brain-development/piaget-current-research">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="/brain-development/recap">Save and continue</a>
{% endblock %}
