{% extends "sprint-1/brain-development/certificate.html" %}

{% block breadcrumbs %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Brain development in the early years",
          href: "#"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block navigation %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="feedback">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="my-training-complete">Finish</a>
{% endblock %}