{% extends "sprint-2/brain-development/module-intro.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development in the early years",
        href: "#"
      },
      {
        text: "Introduction",
        href: "#"
      },
      {
        text: "Introductory topic",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block navigation %}
<a class="govuk-button align-right" data-module="govuk-button" href="submodule-intro.html">Save and continue</a>
{% endblock %}