{% extends "layout.html" %}
{% from "partials/pagination.html" import pagination %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <h2 class="govuk-heading-l">My learning</h2>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <div class="app-card-container">
            <div class="app-image-card">
              <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                <img src="/public/images/image6.jpg" alt="">

                <div class="app-image-card__content">
                  <h3 class="govuk-heading-s govuk-link">Brain development in the early years</h3>
                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="#">See results</a>
                    </li>
                  </ul>

                  {{ govukButton({
                    "text": "Revisit module",
                    href: "brain-development-overview-fail"
                  }) }}
                </div>
              </a>
            </div>
          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
          <h2 class="govuk-heading-l">Explore more courses</h2>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Understanding child development</a>
                </li>
              </ul>
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Brain development in the early years</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Supporting language development in the early years </a>
                </li>
              </ul>
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">


                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Supporting holistic development</a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Planning inclusive learning</a>
                </li>
              </ul>

            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">


                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Effective observation and assessment </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Effective observation and assessment </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}
