{% extends "layout.html" %}
{% from "partials/pagination.html" import pagination %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
  items: [
      {
        text: "Brain development in the early years",
        href: "#"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">My training</h1>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Complete
            </dt>
          </div>
          <div class="govuk-summary-list__row">
            <a class="govuk-link" href="#">
              Child development and the EYFS<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}