{% extends "sprint-2/brain-development/recap.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development in the early years",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "Recap and further reading",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block pagination %}
  {{ pagination (10,10)}}
{% endblock %}

{% block navigation %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="relationships-emotions">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="test-intro">Save and continue</a>
{% endblock %}