{% extends "sprint-1/brain-development/test-1-q1.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Brain development in the early years",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block pagination %}
  {{ pagination (1,3,"Question")}}
{% endblock %}

{% block buttons %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="recap">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="test-1-q2">Next</a>
{% endblock %}
