{% extends "sprint-2/brain-development/test-1-q1.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development in the early years",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "End of module test",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block buttons %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="recap">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="test-1-q2">Save and continue</a>
{% endblock %}
