{% extends "sprint-1/brain-development/test-1-q2.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Brain development in the early years",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block pagination %}
  {{ pagination (2,3,"Question")}}
{% endblock %}

{% block question %}
{{ govukRadios({
  idPrefix: "piaget",
  name: "piaget",
  fieldset: {
    legend: {
      text: "What did Piaget call the concept of understanding an object which you cannot see still exists?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Object reference",
      text: "Object reference",
      checked: true if wrong
    },
    {
      value: "Object permanence",
      text: "Object permanence",
      checked: true if right
    },
    {
      value: "Object processing",
      text: "Object processing"
    },
    {
      value: "Object difference",
      text: "Object difference"
    }
  ]
}) }}
{% endblock %}
        
{% block buttons %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="test-1-q1">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="test-1-q3">Next</a>
{% endblock %}
