{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">
				{{ govukBackLink({
					text: "Back",
					href: "sign-in"
				}) }}
				<h1>You have to register for an account again</h1>

				<p>You need to go back to <a href="/registration/create-an-account">create an account</a> and start again.</p>
			</div>

		</div>

	</main>
</div>
{% endblock %}