{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">
				{{ govukBackLink({
					text: "Back",
					href: "/registration/check-your-email"
				}) }}
				<h1>Resend your confirmation</h1>
				<p>If you haven’t received an email from us containing a link to validate your email, please check your spam
					folder.
				</p>


				<div class="govuk-form-group">
					<label class="govuk-label" for="event-name">
						Email address
					</label>
					<input class="govuk-input" id="event-name" name="event-name" type="text">
				</div>


				<button class="govuk-button" data-module="govuk-button">Send email</button> <br>
				<a class="govuk-body govuk-link" href="">Go back to check your email</a>
			</div>



		</div>

	</main>
</div>
{% endblock %}