{% extends "../extends/training-overview.html" %}

{% block cardRowOne %}
  {{ appCardContainer (
    "./brain-development", 
    "/public/images/image1.jpg", 
    "Brain Development", 
    "How children’s brains develop in the early years"
  ) }}

  {{ appCardContainer (
    "#", 
    "/public/images/image2.jpg", 
    "Cognitive Function", 
    "How to help children with memory and reasoning"
  ) }}

  {{ appCardContainer (
    "#", 
    "/public/images/image3.jpg", 
    "Observations", 
    "Expert tips for doing effective observations in your setting"
  ) }}

  {{ appCardContainer (
    "#", 
    "/public/images/image4.jpg", 
    "Speech and language", 
    "Encouraging language development in the early years"
  ) }}
{% endblock %}
