{% extends "layout.html" %}

{% set milestone = 'sprint-11' %}

{% block pageTitle %}
Social and emotional development
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 7 of 10</span>
          <h1 class="govuk-heading-l">
            Social and emotional development: 2 to 3 years old
          </h1>

          <p class="govuk-body">At 2 years old, children will be copying those around them. They will get excited to be with other children, even though they continue to mainly play alongside others and not with them. They will start to play imaginative games and become more independent, although this may also be accompanied by increased defiance.</p>


          <p class="govuk-body">Toddlers will have a better understanding of themselves as individuals, but with this will come a wider range of more complex feelings. In your setting, you should name and discuss feelings to help toddlers process them. </p>

          <p class="govuk-body">At around 3 years old, children will be showing more affection for friends and will visibly show concern when friends are upset. Using spontaneous and planned activities to help children to discuss their feelings will further support their self expression.  </p>

          <p class="govuk-body">Spontaneous activities can include encouraging children to explore their feelings when accidents and conflict occur. Planned activities can include:</p>

       
          <ul class="govuk-list govuk-list--bullet">
            <li>shared stories</li>
            <li>role play </li>
            <li>games where the children match facial expressions with feelings </li>
            <li>feelings flashcards</li>

          </ul>
          <p class="govuk-body">Children of this age will have a better understanding of the concept of ‘mine’ or ‘theirs’ and will be able to take turns in activities. You can provide activities that require sharing of resources or taking turns to promote problem solving and cooperation. </p>

          <p class="govuk-body">Children will now find it easier to separate from their parent or carer, but may still struggle with major changes to their routine. They will be becoming more independent with skills such as dressing and undressing and enjoy playing make believe. In your setting, providing opportunities and materials for purposeful role play will give children the chance to explore their wide range of feelings.</p>
          <p class="govuk-body">By 3 years old, most children will be able to have a conversation using 2 to 3 sentences at a time. However, each child’s developmental levels will be dependent on the influences they have experienced up to that point. For example, if children are coming into a childcare setting for the first time, their current level of understanding will have been shaped in the home environment. Children will have been dependent on their early social experiences and environments to support their understanding.</p>
          <p class="govuk-body">The observation checkpoints in Development Matters (2021) ask:</p>
          <p class="govuk-body">“Around the age of 2, does the child start to see themselves as a separate person? For example, do they decide what to play with, what to eat, what to wear? Between the ages of 2 and 3, does the child start to enjoy the company of other children and want to play with them?”</p>
          
          
          <div class="govuk-inset-text prompt">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Ensure the environment used by 2 to 3 year olds provides lots of opportunities for spontaneous role play. Observe the children from a distance and notice what feelings they express and explore. </p>

            <p class="govuk-body">Use this information to support your planning.</p>
            <p class="govuk-body">Consider the following questions:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>do you have books the children can explore or puppets they can use?</li>
              <li>can you use planned opportunities such as morning circle time to discuss and explore feelings? </li>
              </ul>
          

        

          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="secure-relationships">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="/sprint-11/activity/social-dev-4">Save and continue</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}
