{% extends "layout.html" %}

{% block pageTitle %}
Supporting individual potential
{% endblock %}

{% set bodyClasses = "app-home-alt" %}

{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "A positive approach to care and education",
        href: "1-2"
      },
      {
        text: "Doing the best for each child in your care",
        href: "1-2-1"
      }
    ]
  }) }}
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 5 of 11</span>
          <h1 class="govuk-heading-l">
            Supporting individual potential
          </h1>

          <div class="information">
            <p class="govuk-body">“Practitioners must consider the individual needs, interests, and development of each child in their care, and must use this information to plan a challenging and enjoyable experience for each child in all areas of learning and development” </p>
            <p class="govuk-body">Early years foundation stage framework, 2021</p>
          </div>
             
          <p class="govuk-body">To successfully empower and support children to progress you will need to start from the foundation of what children know and can do already.</p>

          <p class="govuk-body">This starting point will be different for every child. Children should not be disadvantaged because they have a different starting point to others or because you do not know what that starting point is. </p>

          <p class="govuk-body">You should find out about the child’s home life, previous experiences, preferences and interests. You should then decide how the care you provide and the learning environment offered by the setting can compliment this. </p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">Let's think about how you support children's development in your setting. </p>

            <p class="govuk-body">How does your setting find out about starting points? Who do you involve? </p>

            <p class="govuk-body">What information do you need? </p>

            <p class="govuk-body">How does this information inform your practice? </p>

          </div>

          <p class="govuk-body">When you are able to successfully identify individual children’s starting points you can stop potential gaps in learning from opening or widening further by giving the correct support. </p>

          <p class="govuk-body">The remainder of this module will consider how using your professional judgement and child development knowledge can ensure that this support is accessible through enabling environments and implementation of the EYFS. </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-2-1-2">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="1-2-1-4">Next</a>

        </div>
      </div>

    </main>
  </div>

  {{ super() }}
{% endblock %}
