{% extends "layout-dfe-new.html" %}

{% set milestone = 'sprint-26' %}
{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <a href="/sprint-26/learning-dashboard" class="govuk-back-link govuk-!-margin-bottom-6">Back to Learning dashboard</a>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">My learning log</h1>
          <p class="govuk-body">Select a module to view your learning log notes.</p>
          
          <ul class="govuk-list">
          
          
              <li class="govuk-heading-m"><a href="/sprint-26/learning-log/module-1">Module 1: Supporting children’s personal, social and emotional development</a</li>

       
          </ul>









        </div>
      </div>

      


    </main>
  </div>

<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}