{% extends "layout-dfe-new.html" %}

{% set milestone = 'sprint-26' %}
{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <a href="module-overview" class="govuk-back-link govuk-!-margin-bottom-6">Back to Learning dashboard</a>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Module 1: Learning log</h1>
          <p class="govuk-body">View your notes on <a href="">Module 1: Child development and the EYFS</a>. </p>
          <p class="govuk-body">You can also use the links provided to revisit a specific topic.</p>
          
     
            
     
      
        
       

              <h3 class="govuk-heading-s">20 September 2022</h3>
              <p class="govuk-body"><strong>Page:</strong> <a href="/sprint-14/social-emotional/3-1-1-3a">2 to 3 years old</a></p>
              
              <div class="govuk-log-entry">
                <h4 class="govuk-heading-s">You wrote:</h4>
                <p class="govuk-body">{{ data['log-reflect-1'] }}</p>
              </div>

            
              <h3 class="govuk-heading-s">20 September 2022</h3>
              <p class="govuk-body"><strong>Page:</strong> <a href="/sprint-14/social-emotional/3-1-1-4a">4 years old</a></p>
              
              <div class="govuk-log-entry">
                <h4 class="govuk-heading-s">You wrote:</h4>
                <p class="govuk-body">{{ data['log-reflect-2'] }}</p>
              </div>

              <h3 class="govuk-heading-s">20 September 2022</h3>
              <p class="govuk-body"><strong>Page:</strong> <a href="/sprint-14/social-emotional/3-1-1-5a">5 years old</a></p>
              
              <div class="govuk-log-entry">
                <h4 class="govuk-heading-s">You wrote:</h4>
                <p class="govuk-body">{{ data['log-reflect-3'] }}</p>
              </div>

              <button class="govuk-link govuk-body-s print-link__button" data-track-category="printButton" data-track-action="clicked" data-track-label="Print this page" data-module="print-link" data-print-link-module-started="true">Print this page</button>
            </div>
       
          </div>









        </div>
      </div>

      


    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}