{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="brain-development-start">Brain development in the early years</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
       
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Topic 1 of 11</span>
          <h1 class="govuk-heading-l">
            Brain development in the early years
          </h1>

          <p class="govuk-body">On completion of this module you will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
  <li>establish and explore the stages of children’s brain development</li>
  <li>explore the impact of brain development on children’s holistic development</li>
  <li>examine the connection between brain development and children’s learning</li>
  <li>define and evaluate the importance of effective relationships</li>
  <li>explore a range of theories underpinning best practice</li>
</ul>
  <p class="govuk-body">From birth to 5 years old, a child’s brain develops more than at any other point in life.
Brain development is a long process. The brain starts to develop around 2 weeks after conception and continues into adulthood.</p>

  <p class="govuk-body">It's important to understand developmental patterns and factors that can affect a child’s development. Both genetic and environmental factors impact on brain development.</p>

  <p class="govuk-body">Brain development is integral to a child’s ability to develop their language skills. As communication and language will underpin all other areas of development, it is essential that we promote both brain and communication development.</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          
            <a class="govuk-button align-right" data-module="govuk-button" href="submodule-intro">Next</a>


        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
