{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service1" %}
{% set primaryNavActive = "service start1" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        </div>
      </div>
      <h2 class="govuk-heading-l">My learning</h2>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Complete</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Child development and the EYFS</a></td>
                <td class="govuk-table__cell">10 May 2022</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Brain development in the early years</a></td>
                <td class="govuk-table__cell">12 May 2022</td>
                <td class="govuk-table__cell"><a href="#">View ceritificate</a></td>
              </tr>
            </tbody>
          </table>
          <h2 class="govuk-heading-l">Explore more courses</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Understanding child development</a>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Brain development in the early years</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Supporting language development in the early years </a>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Supporting holistic development</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Planning inclusive learning</a>
                </li>
              </ul>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Effective observation and assessment </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Effective observation and assessment </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}