{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="brain-development-start">Brain development in the early years</a>
      </li>

    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 9 of 10</span>
          <h1 class="govuk-heading-l">
            The importance of secure relationships and understanding emotions
          </h1>


          <p class="govuk-body">By nurturing a secure relationship with children you can play an influential role in shaping children’s behaviour which will support successful learning and development. </p>

          <p class="govuk-body">As a trusted adult you will be able to support children to manage their feelings and build the confidence needed to become fully engaged in learning. </p>

          <h2 class="govuk-heading-m">
            Video: Relationships in the EYFS
          </h2>

          <p class="govuk-body"><iframe width="560" height="315" src="https://www.youtube.com/embed/dmnr9jjhjds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


          <h2 class="govuk-heading-m">
            Managing feelings
          </h2>

          <p class="govuk-body">Children will experience the same feelings as adults but will not always know what the feeling is or have the vocabulary to express themselves. Supporting children to understand and manage their feelings will help to increase their resilience, raise their self-efficacy and support them to manage their behaviour.</p>

          <p class="govuk-body">Children who are able to manage their feelings are more likely to experience positive overall mental health and wellbeing. </p>

          <h2 class="govuk-heading-m">
            Help children to name their feelings
          </h2>

          <p class="govuk-body">Children will not know that the name for their feeling is nervous, excited, sad, frustrated. In the same way that children need to learn the names for everyday items, they need support to be able to name the feeling. Even when children do not have the verbal language to explain their feelings, they will benefit from hearing the associated vocabulary. Right from birth, language such as “are you hungry” or “are you tired” can be used to help the baby to understand the feeling they are experiencing. </p>

          <p class="govuk-body">As children become older, you should encourage them to consider how situations have made them feel. For example when a child shares an experience such as getting a new dog or falling down we can ask them “were you excited?” or “did that make you feel sad?” This can support the child to recognise the emotion they were feeling and hopefully reduce worry when negative emotions are experienced. </p>

          <p class="govuk-body">Where stages of communication skills prevent the child from being able to express themselves verbally, you should use alternative methods, such as flashcards.</p>

          <h2 class="govuk-heading-m">
            Activity idea: naming emotions
          </h2>

          <img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdk1CIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--03a0c1ceed0ec9f3db46bc1c563a6b8a1ad7f38d/psed_emotions_activity1.jpg" alt="Laminated faces showing different emotions
" title="Laminated faces showing different emotions">

          <p class="govuk-body">You’ll need:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>laminated faces expressing emotions, including photos of children, their parents and carers, you or other nursery staff</li>
          <li>laminated feelings cards you can carry, as well as an extra set to stick to a feelings board</li>
          <li>a feelings board, to stick cards to</li>
          <li>a laminated thermometer, to show emotion levels</li>
          </ul>

          <p class="govuk-body">Support children to name their emotions during the daily routine, for example:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>use feelings cards to ask children how they are when they arrive, involving parents and carers where possible.</li>
          <li>talk about how children feel as a group</li>
          <li>use the thermometer or feelings cards when children try tricky new things, like climbing or building something, or during a time of day they find difficult</li>
          <li>when there are conflicts, use feelings cards for children to express and name their related emotions</li>
          <li>when sharing a story, song or circle time activity which mentions a particular emotion, use feelings cards to connect children to it</li>
          </ul>

          <h2 class="govuk-heading-m">
            Provide opportunities for children to see others expressing feelings
          </h2>
          <p><img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdmNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c6785ae1b3c148abc543671b124d5cb6c602d0eb/literacy_comprehension_activity2.jpg" alt="Practitioner reading to a group of children" title="Practitioner reading to a group of children"></p>

          <p class="govuk-body">Children will benefit from reading stories or experiencing opportunities that explore the feelings of others. </p>

          <p class="govuk-body">In your setting, these may be structured activities such as those used to explore transitions. For example when children are learning about moving house, welcoming a new baby or visiting the dentist for the first time, the activity will provide lots of opportunity to discuss the feelings involved. </p>

          <p class="govuk-body">You should include all the children and no feeling should be dismissed as wrong. Instead, children should be encouraged to explain why they might feel that way.  </p>

          <p class="govuk-body">Children will often use such activities to discuss other situations that have evoked similar feelings. These should not be cut short or avoided as it is important that the child feels heard. These opportunities can also be used to influence future activities. </p>

          <p class="govuk-body">Creative activities or those that encourage imagination can also be a good outlet for emotions and provide opportunity for children to explore their thoughts.</p>

          <p class="govuk-body">You should also identify spontaneous opportunities for children to explore feelings. For example when dealing with an incidence of conflict it is important to encourage the children involved to consider how the other children involved may feel. Other spontaneous opportunities may include when a friend hurts themselves or celebrating a child’s achievement, no matter how small.</p>

          <p class="govuk-body">Children who understand the feelings of anger, disappointment or frustration are more likely to work to avoid them or process them without the need for impulsive behaviour.</p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Practitioner prompt</h2>

            <p class="govuk-body">In your setting, how do you support children to understand their feelings?</p>

            <p class="govuk-body">What activities do you plan with children to help them explore the feelings of others?</p>

            <p class="govuk-body">How could you use creative or imaginitive activities to help children explore emotions?</p>

          </div>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="piaget-current-research">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="recap">Next</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
