{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-4 ">

          <h1 class="govuk-heading-l">My learning</h1>
          <h2 class="govuk-heading-m">In progress</h2>
          <p> You do not have any modules in progress. To continue the training course, start an available module.</p>

          <h2 class="govuk-heading-m">Available modules</h2>
          <p> You do not have any modules available.</p>

          <hr>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Completed modules</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Module name</th>
                <th scope="col" class="govuk-table__header">Date completed</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#">Understanding child development and the EYFS</a>
                </td>
                <td class="govuk-table__cell">5 May 2022</td>
                <td class="govuk-table__cell ">
                  <div class="govuk-visually-hidden">
                    <p>None</p>
                  </div>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#">Brain development and how children learn</a>
                </td>
                <td class="govuk-table__cell">10 May 2022</td>
                <td class="govuk-table__cell ">
                  <a href="#">View certificate</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#">Supporting children's personal, social and emotional development</a>
                </td>
                <td class="govuk-table__cell">15 May 2022</td>
                <td class="govuk-table__cell ">
                  <a href="#">View certificate</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}
{{super()}}
{% endblock %}

{% block content %}

</div>

{% endblock %}