{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

  <!-- START MAST -->
  <div class="full-BGstrip">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <h2 class="govuk-heading-l">My learning</h2>

        <h2 class="govuk-heading-m">In progress</h2>

        <div class="govuk-grid-row govuk-!-margin-bottom-7">
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-card__flex-container">
              <div class="govuk-card__flex-item">
                <div class="govuk-card govuk-card--contained govuk-card--selectable">
                  <a href="brain-development-overview-existing"></a>
                  <div class="govuk-card__hero govuk-!-margin-bottom-2">
                    <img src="../../public/images/image6.jpg">
                  </div>
                  <div class="govuk-card__content">
                    <h3 class="govuk-heading-m">Brain development and how children learn</h3>

                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
        <hr>

        <div class="govuk-grid-row  govuk-!-margin-top-4">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Upcoming modules</h2>

          </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-bottom-9">
          <div class="govuk-card__flex-container">
            <div class="govuk-grid-column-one-third">

              <div class="govuk-card govuk-card__height" >

                <div class="govuk-card__content">
                  <h3 class="govuk-heading-s">Supporting childrens' personal, social and emotional development</h3>
                  <p class="govuk-body">
                  This module will help you consider how the development of personal, social and emotional skills impact on a child's overall development. This module is available once you have completed module 2.

                </p>
                </div>
                <div class="govuk-card__actions">
                  <a class="govuk-body govuk-link" href="course-overview">View more information about this module</a>
                </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="govuk-card govuk-card__height" >

                <div class="govuk-card__content">
                  <h3 class="govuk-heading-s">Promoting a healthy diet</h3>
                  <p class="govuk-body">
                  This module will be added to the course soon.

                </p>
                </div>

              </div>
            </div>

            <div class="govuk-grid-column-one-third">
              <div class="govuk-card govuk-card__height">

                <div class="govuk-card__content">
                  <h3 class="govuk-heading-s">Learning through play</h3>
                  <p class="govuk-body">
                  This module will be added to the course soon.

                </p>
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="govuk-grid-row govuk-!-margin-top-7">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Completed modules</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Module name</th>
                  <th scope="col" class="govuk-table__header">Date completed</th>
                  <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#">Understanding child development and the EYFS</a>
                  </td>
                  <td class="govuk-table__cell">5 May 2022</td>
                  <td class="govuk-table__cell ">
                    <div class="govuk-visually-hidden">
                      <p>None</p>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
  <!-- END BESPOKE MAST -->

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}
