{% extends "sprint-2/brain-development/quiz-1-right.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development and how children learn",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "Check your learning",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block pagination %}
  {{ pagination (5,11)}}
{% endblock %}

{% block navigation %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="piaget-sensorimotor">Previous</a>
  <a class="govuk-button align-right" data-module="govuk-button" href="development-birth-two">Continue</a>
{% endblock %}
