
{% extends "layout.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}



{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">
{{ govukBackLink({
  text: "Back",
  href: "/sprint-6/brain-development/sign-in-existing"
}) }}
                        <h1 class="govuk-heading-l">Other problems signing in page</h1>

					<p class="govuk-body">If you have forgotten your password, you can <a href="forgot-password">reset it</a>.</p>
					<p class="govuk-body">For any other problems signing in, please <a href="#">contact us</a>.</p>
					<a href="#" class="govuk-link govuk-body">Go back to sign in</a>
				</div>

			</main>
	</div>
{% endblock %}
