{% extends "../extends/training-overview.html" %}

{% block cardRowOne %}
  {{ appCardContainer (
    "#", 
    "/public/images/image1.jpg", 
    "Introduction", 
    "Why it is important to understand child development"
  ) }}

  {{ appCardContainer (
    "./brain-development", 
    "/public/images/image2.jpg", 
    "Brain development", 
    "How children's brains develop in the early years"
  ) }}

  {{ appCardContainer (
    "#", 
    "/public/images/image3.jpg", 
    "Physical development", 
    "How children's bodies develop in the early years"
  ) }}

  {{ appCardContainer (
    "#", 
    "/public/images/image4.jpg", 
    "Observations", 
    "Expert tips for doing effective observations in your setting"
  ) }}
{% endblock %}

{% block cardRowTwo %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <div class="app-card-container">
        {{ appCardContainer (
          "#", 
          "/public/images/home-image-5.jpg", 
          "Linking areas of learning", 
          "How areas of the EYFS can be combined for holistic learning"
        ) }}

        {{ appCardContainer (
          "./brain-development", 
          "/public/images/home-image-6.png", 
          "Curriculum planning", 
          "How to plan learning that supports child development"
        ) }}

        {{ appCardContainer (
          "#", 
          "/public/images/home-image-7.jpg", 
          "Additional needs", 
          "How to identify if a child has additional needs"
        ) }}

        {{ appCardContainer (
          "#", 
          "/public/images/home-image-8.jpg", 
          "Speech and language", 
          "Encouraging language development in the early years"
        ) }}
      </div>
    </div>
  </div>
{% endblock %}