{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}
{% block main %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-two-thirds-from-desktop">

				{{ govukBackLink({
				text: "Back",
				href: "sign-in"
				}) }}
				<h1 class="govuk-heading-l">Bespoke components for EYFS</h1>
				<p>Components unique to EYFS training courses</p>
				<h2 class="govuk-heading-m">Practioner prompt</h2>

				<div class="govuk-inset-text prompt govuk-!-padding-bottom-6">
					<h3>Practioner prompt</h3>
					<p>Do you do this in your setting?</p>
				</div>

				<h2 class="govuk-heading-m">Quote styling</h2>
				<div class="blockquote-wrap">
					<blockquote>
						<p>This is a longer quote, because I can't stop talking no matter what I try. I love to talk!</p>
					
				<cite>Lorem Ipsum</cite>
			</blockquote>
				</div>

				<div class="govuk-inset-text quote govuk-!-padding-bottom-6">
					<p>This is a short quote</p>
					<p><strong>- Lorem Ipsum</p></strong>
				</div>

			</div>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				<h2 class="govuk-heading-m">Cards</h2>
				<div class="govuk-card__flex-container">
					<div class="govuk-card__flex-item">
						<div class="govuk-card govuk-card--contained govuk-card--selectable"><a>

							</a><a href="#"></a>
							<div class="govuk-card__content">
								<h3 class="govuk-heading-m">Card heading of intermediate length</h3>
								<p class="govuk-body">A short overview of the content that exists behind this card. For
									example a full page detailing what goes inside the body of a card.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="govuk-card govuk-card--contained govuk-!-margin-top-7 govuk-card--selectable">
					<a href="#"></a>
					<div class="govuk-card__hero govuk-!-margin-bottom-2">
					  <img src="../../public/images/image1.jpg">
					</div>
					<div class="govuk-card__content">
					  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
					  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
					  </p>
					</div>

				  </div>


				<div class="govuk-card govuk-!-margin-top-7">

					<div class="govuk-card__content">
						<h3 class="govuk-heading-m">Card heading of intermediate length</h3>
						<p class="govuk-body">A short overview of the content that exists behind this card. For example
							a full page detailing what goes inside the body of a card.
						</p>
					</div>
					<div class="govuk-card__actions">
						<a class="govuk-body govuk-link" href="">Perform this action</a>
					</div>
				</div>

				<a href="#">
					<div class="nhsuk-card nhsuk-card--clickable govuk-!-margin-top-7">
						<img class="nhsuk-card__img"
							src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
						<div class="nhsuk-card__content">
							<h2 class="nhsuk-card__heading nhsuk-heading-m">
								<a class="nhsuk-card__link" href="#">Exercise</a>
							</h2>
							<p class="nhsuk-card__description">Programmes, workouts and tips to get you moving and
								improve your fitness and wellbeing</p>
						</div>
					</div>
				</a>


			</div>
			</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

					<div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-info icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:30px!important">In your setting</h2>
						<p class="govuk-body" style="padding-left:30px!important">You should provide an environment and resources that allows children to role play significant figures and events in their lives. This will help children to explore and express their thoughts and feelings and navigate relationships.</p>

          
					</div>


					<div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
							<i style="color:white;"class="fa-solid fa-book icon fa-2x" ></i>
						</div>
					
						<h2 class="govuk-heading-m" style="padding-left:45px!important">Further reading</h2>
						<p class="govuk-body" style="padding-left:30px!important">These resources:</p>
						<ul style="padding-left:70px!important; padding-right:20px;"class="govuk-list govuk-list--bullet">
							<li><a href="">Resource 1  </li></a>
								<li><a href="">Resource 2  </li></a>
									<li><a href="">Resource 3  </li></a>
				
						  </ul>

          
					</div>

					<div class="govuk-prompt govuk-prompt__grey">
						<div class="govuk-prompt__icon">
						  <i style="color:white;"class="fa-solid fa-question icon fa-2x" ></i>
						</div>
						<h2 class="govuk-heading-m">
						Check your understanding
					  </h2>
			  
					  <form class="form" action="3-1-1-3b-answer" method="post">
			  
					  
						<div class="govuk-form-group">
						  <fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							  <p class="govuk-body">
								Read the scenario and answer the question: Yusuf and Noah are playing together outside when Noah trips and bumps his knee, which causes him to cry. Yusuf is quick to try to comfort Noah and looks for help from an adult.<br><br>Later, Yusuf recreates the situation with dolls and uses the opportunity to express his worries about the accident.<br><br>At around what age would you expect to start seeing Yusuf’s behaviour?
							  </p>
							</legend>
							<div class="govuk-radios" style="padding-left:45px;" data-module="govuk-radios">
							  <div class="govuk-radios__item">
								<input class="govuk-radios__input" id="four" name="answer" type="radio"
								  value="four">
								<label class="govuk-label govuk-radios__label" for="where-do-you-live">
								 4
								</label>
							  </div>
							  <div class="govuk-radios__item">
								<input class="govuk-radios__input" id="two" name="answer" type="radio"
								  value="one">
								<label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
								 1
								</label>
							  </div>
							  <div class="govuk-radios__item">
								<input class="govuk-radios__input" id="five" name="answer" type="radio"
								  value="five">
								<label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
								 5
								</label>
							  </div>
							  <div class="govuk-radios__item">
								<input class="govuk-radios__input" id="three" name="answer" type="radio"
								  value="three">
								<label class="govuk-label govuk-radios__label" for="three">
								  3
								</label>
							  </div>
							</div>
						  </div>
			  
						  </fieldset>
						</div>


					<div class="govuk-prompt">
						<div class="govuk-prompt__icon">
						  <i style="color:white;"class="fa-solid fa-brain icon fa-2x" ></i>
						</div>
					  
						<h2 class="govuk-heading-m">Reflection point</h2>
						<p class="govuk-body">Reflect on what you have read about the social and emotional development of children aged 4. </p>
						<p class="govuk-body">Think about your work with 4 year olds (where applicable). </p>
						<p class="govuk-body">Consider the following questions:</p>
						<ul style="padding-left:70px!important; padding-right:20px;"class="govuk-list govuk-list--bullet">
						  <li>What opportunities do you offer to help 4 year olds express their likes, opinions and beliefs?  </li>
						  <li>How do you encourage 4 year olds to be curious about the world around them?  </li>
						  <li>What else could you do to support their curiosity and self-expression? </li>
			  
						</ul>
						</div>




						<div class="govuk-prompt govuk-prompt__grey">
							<div class="govuk-prompt__icon">
							  <i style="color:white;"class="fa-solid fa-pencil icon fa-2x" ></i>
							</div>
							<h2 class="govuk-heading-m">Add to your learning log</h2>
						   
							 
							  
								<p class="govuk-body" >Use this space to make notes on the reflection point. Do not enter any personal or sensitive information like children's names.</p>
								<p class="govuk-body" >All your notes will be added to your personal <a href="/sprint-14/learning-log">learning log.</a></p>
					
						   
								  <div class="govuk-form-group govuk-log-text">
									<label class="govuk-label" for="label-as-page-heading">
									  Your notes
									</label>
									<textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="log-reflect-3" rows="5" aria-describedby="label-as-page-heading-info">{{ data['log-reflect-3'] }}</textarea>
								  </div>
								
							   
								
						   
					
						 
						   
							</div>

					</div>
					</div>

	</main>
</div>
{% endblock %} 