{% extends "layout.html" %}
{% block pageTitle %}Early Years Foundation - Text selection{% endblock %}
{% block main %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content">
                        <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
                        <span class="govuk-phase-banner__text">
                            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Help for early years providers</h1>
                <p class="govuk-body-l">Guidance for people who work in early years, from the Department for Education.</p>
                <div class="app-search-form-container govuk-!-margin-bottom-4">
                    <h2 class="govuk-heading-m">
                        Early years child development training
                    </h1>
                    <p class="govuk-body">
                        This free, online training provides an overview of child development and practical advice for supporting children in your setting.
                    </p>
                    <a class="govuk-body" href="/v1/training">Learn more and enrol</a>
                </div>
            </div>
        </div>
    </div>
    <div class="app-search-form-container govuk-!-margin-bottom-4 govuk-!-margin-top-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-width-container">
                    <h2 class="govuk-heading-l">Areas of learning</h2>
                </div>
            </div>
        </div>
        <div class="govuk-width-container">
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Communication and language</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="/#">Physical development</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Personal, social and emotional development</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Literacy</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Mathematics</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Understanding the world</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Expressive arts and design</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-full">
                <div class="govuk-width-container">
                    <h2 class="govuk-heading-l">Get help for your practice</h2>
                </div>
            </div>
        </div>
        <div class="govuk-width-container">
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="get-help-practice">Overview</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Curriculum planning</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Reducing paperwork</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Working in partnership with parents and carers</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">English as an additional language (EAL)</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Meeting the needs of all children</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Sensory food education</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="text-selection">Early years practitioner wellbeing</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-full">
                <div class="govuk-width-container">
                    <h2 class="govuk-heading-l">
                        Safeguarding and welfare
                    </h2>
                </div>
            </div>
        </div>
        <div class="govuk-width-container">
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Oral health</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Food safety</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="govuk-grid-row eyfs-card-group">
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="#">Internet safety</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="govuk-grid-column-one-half eyfs-card-group__item">
                    <div class="eyfs-card eyfs-card--clickable eyfs-card--link">
                        <div class="eyfs-card__content">
                            <a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold govuk-link--no-visited-state"
                               href="childrens-mental-health">Mental health</a>
                            <svg class="eyfs-card--icon"
                                 width="30"
                                 height="30"
                                 viewBox="0 0 30 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#1D70B8" stroke-width="2">
                                </path>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-full">
                <div class="govuk-width-container">
                    <h2 class="govuk-heading-l">
                        Other useful resources
                    </h2>
                    <p class="govuk-body">
                        <a class="govuk-link" href="#">Changes to the early years foundation stage framework</a>
                    </p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="#">Statutory framework for the early years foundation stage</a>
                    </p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="#">Development Matters, non-statutory curriculum guidance for the early years foundation stage</a>
                    </p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="#">Guidance on completing the EYFS progress check at age 2</a>
                    </p>
                </div>
            </div>
        </div>
        {{ super() }}
    {% endblock %}
