{% extends "layout.html" %}

{% block pageTitle %}
Child development training for experts and mentors pilot
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
  {# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Understanding child development and the EYFS
          </h1>

          <p class="govuk-body">As an early years practitioner, understanding how children develop will enable you to meet the needs of all the children in your care. </p>

          <p class="govuk-body">This module will help you to reflect on why knowledge of child development is important and help you to effectively implement the early years foundation stage (EYFS). It also considers the impact of the coronavirus (COVID-19) pandemic on children. </p>

        <h3 class="govuk-heading-s">What you'll learn</h3>

        <p class="govuk-body">On completion of this module you will be able to: </p>

        <ul class="govuk-body">
          <li>explain the importance of early childhood education and care including strategies you can use to provide a positive approach</li>
          <li>explore the importance of child development knowledge including an awareness of contributing factors</li>
          <li>consider effective delivery of the EYFS</li>
          <li>describe the impact that the COVID-19 impact has had on childrens’ development </li>
        </ul>

        <a class="govuk-button" data-module="govuk-button" href="../introduction/introduction-overview-pilot">Start module</a>

      </div>
    </div>
  </main>
</div>

{{ super() }}
{% endblock %}
