
{% extends "layout-orig.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% from "govuk/components/input/macro.njk" import govukInput %}
                        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "sign-in"
}) }}
                        <h1>Account locked</h1>

						<p class="govuk-body">Your account has been locked.
						
						<p class="govuk-body"><a href="forgot-password">Reset your password</a> to unlock your account immediately.</p>

						<p class="govuk-body">Or you can wait 2 hours for your account to unlock automatically.</p>





					</div>



				</div>

			</main>
	</div>
{% endblock %}
