
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% from "govuk/components/input/macro.njk" import govukInput %}
                        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "sign-in"
}) }}
                        <h1>Help and contact</h1>

					<p class="govuk-hint">Do not provide any personal details</p>
		<form action="/home-signed-out">
					<div class="govuk-form-group">
						<label class="govuk-label" for="event-name">
						  Full name
						</label>
						<input class="govuk-input" id="event-name" name="event-name" type="text">
					  </div>

					  <div class="govuk-form-group">
						<label class="govuk-label" for="event-name">
						  Email address
						</label>
						<input class="govuk-input" id="event-name" name="event-name" type="text">
					  </div>

					  <div class="govuk-form-group">
						<label class="govuk-label" for="event-name">
						  Describe the problem
						</label>
						<input class="govuk-input" id="event-name" name="event-name" type="text">
					  </div>

					  <button class="govuk-button" data-module="govuk-button" type="submit">
						Submit
					  </button>
					</div>

				</form>

				</div>

			</main>
	</div>
{% endblock %}
