
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% from "govuk/components/input/macro.njk" import govukInput %}
                        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "sign-in"
}) }}
                        <h1>Other problems signing in page</h1>

					<p class="govuk-body">If you have forgotten your password, you can <a href="forgot-password">reset it</a>.</p>
					<p class="govuk-body">For any other problems signing in, please <a href="#">contact us</a>.</p>
					<a class="govuk-link">Go back to sign in</a>
				</div>

			</main>
	</div>
{% endblock %}
