{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#passport-issued-day">Ofsted number must be XYZ</a>
                </li>
                
              </ul>
            </div>
          </div>
        
          <h1 class="govuk-heading-l">
       About your setting
          </h1>
         

          <div class="govuk-form-group">
            
        
            <label class="govuk-label" for="national-insurance-number">
              Enter a password
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
            <p class="govuk-hint">If you have multiple locations, enter the one where you work most often.</p>
          </div>


          <div class="govuk-form-group govuk-form-group--error">
            <p id="national-insurance-number-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Ofsted number must be correct length
            </p>
            <label class="govuk-label" for="event-name">
              Enter your settings' Ofsted number
            </label>
            <p class="govuk-hint">This might start with EY followed by 6 numbers, or it might be an 8 letter number.</p>
            <input class="govuk-input" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint national-insurance-number-error">
          </div>
         
          <a class="govuk-button " data-module="govuk-button" href="manage-account-success">Continue</a> <br>
      
        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
