{% extends "layout.html" %}

{% set milestone = 'sprint-16' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 4 of 18</span>
          <h1 class="govuk-heading-l">
            Strategies to help children develop language and communication skills
          </h1>
          <img src="/public/images/reading.jpg" alt="A practitioner outdoors with a toddler, smiling as the toddler plays with an outdoor playset" class="govuk-!-margin-bottom-2">

          <p class="govuk-body">There are a variety of ways that you can model the correct use of language for children and develop their vocabulary.

          </p>


          <h2 class="govuk-heading-m">Using commentary</h2>
          <p class="govuk-body">Commentary is where you add a verbal explanation to the things you see, hear and do. There are different kinds of commentary.

          </p>
          <h3 class="govuk-heading-s">Parallel talk</h2>
            <p class="govuk-body">You can provide a commentary of what you or the child is doing. For example you may say to a child “you are playing with the pink teddy” or “you are pushing the car - is the car going fast?"</p>
            <p class="govuk-body">This is known as parallel talk, because your commentary runs in parallel with the child’s actions. This helps them to associate the language with the action.</p>


            <h3 class="govuk-heading-s">Emotional age</h2>
              <p class="govuk-body">You can can also add commentary to your own actions. For example, you could say “I am putting the books away in the bookcase, can you see all the books?” or “I am washing my hands so they are clean. The soap is pink.”</p>
              <p class="govuk-body">This is also known as self-talk. While it can sometimes feel unnatural, it is extremely beneficial to children. When you add this commentary, a child is hearing a constant stream of new vocabulary. It also helps them to understand instructions. For example, they will understand that ‘washing your hands’ means using soap and water to clean them. So, when you ask them to wash their hands, they will understand the action required.</p>
              <p class="govuk-body">Sharing commentary will support children to name everyday items and understand routine tasks.</p>
              <p class="govuk-body">Routine tasks such as nappy changing and mealtimes are also ideal opportunities to engage children in commentary and conversation. For younger children this will be an opportunity to identify objects, foods and colours. These are also good times to ask questions, such as whether the children are enjoying their food or what they can see around the changing mat.</p>
              <p class="govuk-body">Even when you are not expecting a response, this is a chance to show children the importance of turn taking in conversation. You should acknowledge any attempt to respond positively, to reinforce further attempts. Older children may take these opportunities to discuss related topics, or to have a general discussion they are keen to share.</p>

             
          <h2 class="govuk-heading-m">Expansion</h2>
          <p class="govuk-body">Another strategy for modelling language is expansion, where you expand on what the child is saying. For example if a child says “bear”, you could respond by saying “Yes, it’s a bear and it’s wearing a lovely blue shirt”. This will help the child to learn a wider range of vocabulary.</p>
 
          <h2 class="govuk-heading-m">Reasoning</h2>
          <p class="govuk-body">Reasoning is where you help children to make sense of the things around them. You provide activities that encourage investigation and exploration, and encourage children to talk about why they think something is behaving in a certain way. For example, why ice melts or why a car needs round wheels to move. You can also help children to understand why their actions can result in certain feelings, such as how not sharing toys could make their friends feel sad.
          </p>

          <h2 class="govuk-heading-m">Positive feedback</h2>
          <p class="govuk-body">It is important to offer positive feedback when children communicate. This can be verbal feedback accompanied by facial expressions and gestures. For example, a smile or thumbs up. Children will seek this positive feedback, which will encourage them to practise and build their language skills.</p>
          
          <h2 class="govuk-heading-m">Singing and reading</h2>
          <img src="/public/images/reading-fox.jpg" alt="A practitioner outdoors with a toddler, smiling as the toddler plays with an outdoor playset" class="govuk-!-margin-bottom-2">
          <p class="govuk-body">You should use both planned and unplanned opportunities to share books and sing songs and rhymes with children whenever you can. When children hear repeated songs, such as familiar nursery rhymes or your daily welcome song, they have the opportunity to perfect their language.</p>
          <p class="govuk-body">When you introduce new songs, children will experience new vocabulary. You can use songs that have actions to reinforce the language they are singing. For example, you could encourage children to touch their head, shoulders, knees and toes whilst singing. This will provide a visual cue that reinforces their understanding.</p>

          <h2 class="govuk-heading-m">Use of children’s interests</h2>
          <p class="govuk-body">You can incorporate a child’s interests into all areas of the environment. For example, if a child likes dinosaurs, you can offer dinosaur books, role play, clothes and sand pit toys.</p>
          <p class="govuk-body">You can also use their interest in dinosaurs to develop communication and mathematics skills. One way to do this is by using toy dinosaurs to discuss colour, size and number. You could also encourage children to describe the dinosaur, where they live and what they eat.</p>
          <p class="govuk-body">This has many benefits including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>increased confidence, as children feel more knowledgeable and valued </li>
            <li>motivation to learn more </li>
       

          </ul>

          <h2 class="govuk-heading-m">Promoting choice</h2>
          <p class="govuk-body">Encouraging a child to make choices will promote confidence and independence. As well as this, it will often also create a situation where discussion can take place. In turn, this can lead to opportunities to expand children’s ideas, such as by talking about the reasons for their choices.</p>
          <p class="govuk-body">For example you could ask a child to choose:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>what they would like to eat or drink </li>
            <li>which songs to sing </li>
            <li>which book to read</li>
            <li>creative materials, for example which colour of paint to use</li>

          </ul>



         


         
			

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="start-4">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="4-3-1-2a-video2">Next </a>
        </div>
      </div>
    </main>
  </div>

  {{ super() }}
{% endblock %}
