{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

</br>	<!-- START MAST -->
<div class="full-BGstrip" style="background-color:	#f3f2f1;">
        <div class="govuk-width-container">
                <main class="govuk-main-wrapper">
                        <div class="govuk-grid-row">

                                <!-- START INTRO -->
                                <div class="govuk-grid-column-two-thirds  ">
                                        <h1 class="govuk-heading-l ">Brain development in the early years</h1>
                                        <p class="govuk-caption-m">Neuroscience research has shown us that early childhood is a time of tremendous brain development. </p>
                                        <p class="govuk-caption-m">This course, written by paediatric research scientist Dr Jane Reed and nursery manager Kate Smith, describes how a child’s brain develops from birth to age 5 and gives advice and tips for early years educators. </p>

                                    

                      {# {{ govukCheckboxes({
                        idPrefix: "",
                        name: "",
                        classes: "govuk-checkboxes--small ss-input",
                        fieldset: {
                    
                        },
                        items: [
                          {
             
                      } | decorateAttributes(data, "data.searchFilter.jobRole")) }} #}

                           

                        </div>
                </main>
        </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
        <div class="govuk-grid-row">
        </br>
            {{govukTag({
                text: "5 modules",
                classes: "govuk-tag--green"
            })}}

                    {{govukTag({
                text: "15 topics",
                classes: "govuk-tag--green"
            })}}

            {{govukTag({
                text: "3 hours",
                classes: "govuk-tag--green"
            })}}

        </div>
</div>

<div class="govuk-width-container">
    
        <main class="govuk-main-wrapper">
            
                <div class="govuk-grid-row">

                    <h1 class="govuk-heading-m ">Module 1: The science of brain development in the early years</h1>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        </thead>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Brain development before birth
                              </dt>
                              <dd class="govuk-summary-list__value">
                                100%
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/brain-development-start1">
                                  View<span class="govuk-visually-hidden"> name</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Rapid changes in young children
                              </dt>
                              <dd class="govuk-summary-list__value">
                                50%
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                  Continue<span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                How the brain develops
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Not started
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                 Begin <span class="govuk-visually-hidden"> address</span>
                                </a>
                              </dd>
                            </div>
                     
                          </dl>
                      </table>      

                      <h1 class="govuk-heading-m ">Module 2: How children learn</h1>
                      <table class="govuk-table">
                          <thead class="govuk-table__head">
                          </thead>
                          <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  How brain development affects learning
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Not started
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="/brain-development-start1">
                                    <span class="govuk-visually-hidden"> name</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  The role of early years education
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Not started
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    <span class="govuk-visually-hidden"> date of birth</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Setting positive and realistic expectations
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Not started
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    <span class="govuk-visually-hidden"> address</span>
                                  </a>
                                </dd>
                              </div>
                       
                            </dl>
                        </table>      

                        <h1 class="govuk-heading-m ">Module 3: Emotional and social skill</h1>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            </thead>
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    How emotional and social skills develop
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Not started
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="/brain-development-start1">
                                      <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    How emotional development affects behaviour
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Not started
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                      <span class="govuk-visually-hidden"> date of birth</span>
                                    </a>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Helping children develop emotional and social skills
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Not started
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                      <span class="govuk-visually-hidden"> address</span>
                                    </a>
                                  </dd>
                                </div>
                         
                              </dl>
                          </table>  

                          <h1 class="govuk-heading-m ">Module 4: Secure relationships</h1>
                          <table class="govuk-table">
                              <thead class="govuk-table__head">
                              </thead>
                              <dl class="govuk-summary-list">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      How secure relationships affect behaviour and learning
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Not started
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="/brain-development-start1">
                                        <span class="govuk-visually-hidden"> name</span>
                                      </a>
                                    </dd>
                                  </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Introduction to attachment theory
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Not started
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">
                                        <span class="govuk-visually-hidden"> date of birth</span>
                                      </a>
                                    </dd>
                                  </div>
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Helping children develop secure relationships
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Not started
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">
                                        <span class="govuk-visually-hidden"> address</span>
                                      </a>
                                    </dd>
                                  </div>
                           
                                </dl>
                            </table>  

                            <h1 class="govuk-heading-m ">Module 5: Self-regulation</h1>
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                </thead>
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        Why self-regulation is important
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Not started
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/brain-development-start1">
                                          <span class="govuk-visually-hidden"> name</span>
                                        </a>
                                      </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        How emotional development affects behaviour
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Not started
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                          <span class="govuk-visually-hidden"> date of birth</span>
                                        </a>
                                      </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                      <dt class="govuk-summary-list__key">
                                        Tips for supporting self-regulation
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Not started
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                          <span class="govuk-visually-hidden"> address</span>
                                        </a>
                                      </dd>
                                    </div>
                             
                                  </dl>
                              </table>  
                </div>
        </div>
</div>          

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}