{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

</br>	<!-- START MAST -->
<div class="full-BGstrip" style="background-color:#e0dfdf;">
        <div class="govuk-width-container">
                <main class="govuk-main-wrapper">
                        <div class="govuk-grid-row">

                                <!-- START INTRO -->
                                <div class="govuk-grid-column-two-thirds start-search">
                                        <h1 class="govuk-heading-l">Supporting physical development in the early years</h1>
                                        <p class="govuk-caption-m">On this course you’ll learn about the importance of physical activity for young children’s overall development.  </p>
                                        <p class="govuk-caption-m">This course, written by paediatric research scientist Dr Ben Roberts and nursery manager Kate Smith, describes how a child develops physically from birth to age 5 and gives advice and tips for early years educators.  </p>


                                </div>

                                <!-- END INTRO -->

                                <!-- START ASIDE -->
                                <div class="govuk-grid-column-one-third">
                                        <div class="ss-signin">
                                                <h2 class="govuk-heading-m ">About this training</h2>

                                                <ul class="govuk-list govuk-list--bullet ">
                                                <li>online course</li>
                                                <li>free for early years practitioners</li>
                                                <li>no previous knowledge required</li>
                                                <li>certificate on completion</li>
                                                </br>
                                                <a href="#" class="govuk-link">share this course</a>
                                                </ul>
                                        </br>

                                                <a class="govuk-button govuk-button__start-icon govuk-!-margin-bottom-0" style="color:	#ffffff !important" href="/sign-in1">Enrol now</a>
                                        </div>
                                </div>
                                <!-- END ASIDE -->



                        </div>
                </main>
        </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
        <div class="govuk-grid-row">
        </br>
            {{govukTag({
                text: "AGE 0 TO 5",
                classes: "govuk-tag--green"
            })}}

                    {{govukTag({
                text: "TIME 1 HOUR 45 minutes",
                classes: "govuk-tag--green"
            })}}

        </div>
</div>

<div class="govuk-width-container">
        <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-s">Learning outcomes:</h3>
                        <p class="govuk-body">On completing this course, you will be able to:</p>

                        <ul class="govuk-list govuk-list--bullet">
                        <li>describe the body systems and their relationship to moving and learning </li>
                        <li>explain the importance of movement skills to the overall health, wellbeing and development of young children </li>
                        <li>identify the appropriate physical and movement activities for each age and stage of development from 0 to 5 years </li>
                        <li>the importance of secure relationships in the early years</li>
                        <li>explore how parents and practitioners can work together to suppose the physical development of all children</li>
                        </li>
                </br>
                        <h3 class="govuk-heading-s">About this training course</h3>
                        <li>takes around 1 hour 45 minutes to complete</li>
                        <li>pause and restart as much as you like</li>
                        <li>includes interactive exercises, videos and case studies</li>
                        <li>download a personalised certificate when you finish the course</li>
                </div>
                <div class="govuk-grid-column-one-third">
                        <aside class="app-related-items" role="complementary">
                                <h2 class="govuk-heading-m" id="subsection-title">
                         Related content
                                </h2>
                                <nav role="navigation" aria-labelledby="subsection-title">
                                  <ul class="govuk-list govuk-!-font-size-16">
                                    <li>
                                      <a class="govuk-link" href="#">
                                        Help for early years providers
                                      </a>
                                    </li>
                                    <li>
                                      <a class="govuk-link" href="#">
                                        Early years foundation stage (EYFS)
                                      </a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="#">
                                            Development Matters
                                        </a>
                                      </li>
                                  </ul>
                                </nav>
                              </aside>

                      </div>
                </div>
        </br>

        <h3 class="govuk-heading-s">The experts</h3>
                <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                                <img src="/public/images/home/2.png" alt="" style="width:90px;height:90px;>

                </div>

                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body">Dr Ben Roberts</p>
                    <p class="govuk-body">Dr Ben Roberts is a lecturer in Early Childhood at the University of Halifax. His research focuses on the importance of physical development in a child’s overall development and learning. </p>
                 </div>

                 <div class="govuk-grid-column-one-half">
                        <img src="/public/images/home/1.png" alt="" style="width:90px;height:90px;>
                </div>
        </div>

        <div class="govuk-grid-column-one-half">
            <p class="govuk-body">Kate Smith</p>
            <p class="govuk-body">Kate Smith has worked in early years education since 1998. She currently manages 5 nurseries and has previously worked as a childminder. </p>
         </div>

        </div>


</div>



  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
