{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Supporting physical development in the early years overview</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Course start</a>
    </li>
  </ol>
</div>
</div>

</br>	<!-- START MAST -->
<div class="full-BGstrip" style="background-color:	#f3f2f1;">
        <div class="govuk-width-container">
                <main class="govuk-main-wrapper">
                        <div class="govuk-grid-row">

                                <!-- START INTRO -->
                                <div class="govuk-grid-column-two-thirds  ">
                                        <h1 class="govuk-heading-l ">Supporting physical development in the early years</h1>
                                        <p class="govuk-caption-m">On this course you’ll learn about the importance of physical activity for young children’s overall development. </p>
                                        <p class="govuk-caption-m">This course, written by paediatric research scientist Dr Ben Roberts, and nursery manager Kate Smith, describes how a child develops physically from birth to age 5 and gives advice and tips for early years educators. </p>

                                      	{{ govukButton({
                                          "text": "Start course",
                                          href: "/brain-development-start"
                                        }) }}
                        </div>
                </main>
        </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
        <div class="govuk-grid-row">
        </br>
            {{govukTag({
                text: "4 modules",
                classes: "govuk-tag--green"
            })}}

                    {{govukTag({
                text: "12 topics",
                classes: "govuk-tag--green"
            })}}

            {{govukTag({
                text: "1 HOUR 45 minutes",
                classes: "govuk-tag--green"
            })}}

        </div>
</div>

<div class="govuk-width-container">
    
        <main class="govuk-main-wrapper">
            
                <div class="govuk-grid-row">
                  {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

                  {{ govukAccordion({
                    id: "accordion-with-summary-sections",
                    items: [
                      {
                        heading: {
                          text: "Introduction"
                        },
                        summary: {
                          text: "Introductions about course"
                        },
                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Intro</a>
                              </li>
                     
                          </ul>'
                        }
                      },
                          {
                        heading: {
                          text: "Module 1:  Body systems and physical development"
                        },
                        summary: {
                          text: "Summary text"
                        },
                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Respiratory system</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Nervous system</a>
                              </li>

                              <li>
                                <a class="govuk-link" href="#">Circulatory system </a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Musculoskeletal system</a>
                              </li>
      
                          </ul>'
                        }
                      },
                              {
                        heading: {
                          text: "Module 2: Movement and learning"
                        },
                        summary: {
                          text: "Summary text."
                        },
                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>
     
                          </ul>'
                        }
                      },
                      {
                        heading: {
                          text: "Module 3: Developing movement"
                        },
                        summary: {
                          text: "Summary text."
                        },
                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>
     
                          </ul>'
                        }
                      },
                      {
                        heading: {
                          text: "Module 4: The role of the practitioner in supporting physical development"
                        },
                        summary: {
                          text: "Summary text."
                        },
                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>
     
                          </ul>'
                        }
                      },
                                  {
                        heading: {
                          text: "Summary and next steps"
                        },
                        summary: {
                          text: "Summary text"
                        },
                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="/recap">Course recap                                 Not started</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="feedback">Course feedback</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="certificate">Download your certificate</a>
                              </li>
                         
                          </ul>'
                        }
                      }

                      
                    ]
                  }) }}
    
                          
                     

                     
                </div>
        </div>
</div>          

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}