{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<!-- START MAST -->
<div class="full-BGstrip">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="app-search-form-container govuk-!-margin-bottom-6">
            <h1 class="govuk-heading-l">Child development training for early years providers</h1>
            <p class="govuk-body">This free, online training provides an overview of child development and gives
              practical advice for supporting the development of children in your early years setting. </p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">About the training </h2>
          <p class="govuk-body">Each training course on this site covers an important area of child development and has
            been written by an early years expert, working with the Department for Education and Ofsted.</p>
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Why should I take this training?</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>free training for childminders and nurseries</li>
            <li>combination of theory and practical tips</li>
            <li>includes activity ideas you can do in your setting</li>
            <li>links to additional resources</li>
            <li>download a certificate of completion</li>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

      <h2 class="govuk-heading-m">Sign in </h2>
      <p class="govuk-body"><a class="govuk-link" href="brain-development/sign-in-existing">Sign in</a>  to see your personal training page with courses you have started and course that are complete.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Modules</h2>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <div class="app-card-container">
            <div>
              <div class="app-image-card">
                <a href="introduction/introduction-overview-start" class="govuk-body govuk-link govuk-!-font-weight-bold">
                  <img src="/public/images/home/image1.jpg" alt="">
                  <div class="app-image-card__content">

                    <h3 class="govuk-heading-s govuk-link">Understanding child development and the EYFS</h3>
                  </div>
                </a>
              </div>
            </div>
            <div>
              <div class="app-image-card">
                <a href="/brain-development/brain-development-overview-existing" class="govuk-body govuk-link govuk-!-font-weight-bold">
                  <img src="/public/images/home/image2.jpg" alt="">
                  <div class="app-image-card__content">

                    <h3 class="govuk-heading-s govuk-link">Brain development in the early years</h3>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
      <h2 class="govuk-heading-m">Future modules</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="module-intro.html">Understanding child development</a>
        </li>
        <li>
            <a class="govuk-link" href="module-intro.html">Brain development in the early years</a>
          </li>
          <li>
            <a class="govuk-link" href="module-intro.html">Supporting language development in the early years </a>
          </li>
          <li>
            <a class="govuk-link" href="module-intro.html">Supporting holistic development</a>
          </li>

    </main>

  </div>

</div>

<!--Feedback Section-->
<div id="feedback" class="govuk-width-container govuk-!-padding-top-4" role="dialog" aria-label="feedback">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-left-9 govuk-!-padding-right-9">
      <div class="gem-c-feedback">
        <div class="gem-c-feedback__prompt">
          <div class="gem-c-feedback__prompt-questions">
            <h2 class="govuk-heading-s gem-c-feedback__prompt-question">Sign up to be alerted when we release new modules</h2>
            <button class="govuk-button gem-c-feedback__prompt-link">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Feedback Section-->
<!-- END BESPOKE MAST -->

{# pulls in default gov uk template #}

{% endblock %}
