
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        Prototype your service using GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Prototype versions</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="./sprint-24/training-overview.html">Sprint 24</a></li>
        <li><a href="./sprint-25/training-overview.html">Sprint 25</a></li>
        <li><a href="./sprint-26/training-overview.html">Sprint 26</a></li>

      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Notes on prototyping</h2>
      <p classs="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Add links to the list as new sections are prototyped so it's easy for everyone to find them</li>
      </ul>
    </div>
  </div>
{% endblock %}
