
{% extends "layout.html" %}

{% block pageTitle %}
    Early Years Provider- Prototypes
{% endblock %}

{% block main %}

<div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Prototype sections</h2>
            <p class="govuk-body">The sections of Early Years Provider that have functional prototypes.</p>

       
        
          
            <h2 class="govuk-heading-m">Scenarios</h2>
            <ul class="govuk-list">
              <li>
                <a href="/home-existing" class="govuk-link">Existing user and they have already started the course via my training page - Fail</a>
              </li>
       
      

            </ul>
  
            </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Notes on prototyping</h2>
            <p classs="govuk-body"></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Add links to the list as new sections are prototyped so it's easy for everyone to find them</li>
            </ul>
          </div>
        </div>
    </div>
</div>
{% endblock %}
