{# 1 #} {% from alphaHeader import header %} {# 2 #} {% extends
"govuk-prototype-kit/layouts/govuk-branded.njk" %} {# 3 #} {% block header %} {{
header({ "showNav": "true", "showSearch": "false", "showHeaderActionLinks": "true", "showUserName": "false",
"userName": "", "userNameURL": "", "selectedNav": pageNav, "logoPath":
"public/images", "homeHref": "/", "service": { "name": serviceName },
"headerActionLinks": [
      {
        "url"  : "#",
        "label" : "My Account"
      },
      {
        "url"  : "/june-23/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
      {
        "url"  : "/june-23/",
        "label" : "Home"
      },
      {
        "url"  : "/june-23/my-modules/",
        "label" : "My modules"
      },
      {
        "url"  : "#",
        "label" : "Learning log"
      }
    ] }) }} {% endblock %} {# 4 #} {%
block scripts %} {{ super() }}
<script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}
