{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Supporting physical development in the early years overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Course start</a>
      </li>
    </ol>
  </div>
  </div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          {{ govukAccordion({
              id: "accordion-with-summary-sections",
              items: [
                {
                  heading: {
                    text: "Introduction"
                  },

                  content: {
                    html:
                    '<ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Intro</a></li>
                    </ul>'
                  }
                },
                    {
                  heading: {
                    text: "Module 1:  Body systems and physical development"
                  },

                  content: {
                    html:
                    '<ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Respiratory system</a></li>
                        <li><a class="govuk-link" href="#">Nervous system</a></li>
                        <li><a class="govuk-link" href="#">Circulatory system </a></li>
                        <li><a class="govuk-link" href="#">Musculoskeletal system</a></li>
                    </ul>'
                  }
                },
                {
                  heading: {
                    text: "Module 2: Movement and learning"
                  },

                  content: {
                    html:
                    '<ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Text 1</a></li>
                        <li><a class="govuk-link" href="#">Text 2</a></li>
                    </ul>'
                  }
                },
                {
                  heading: {
                    text: "Module 3: Developing movement"
                  },

                  content: {
                    html:
                    '<ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Text 1</a></li>
                        <li><a class="govuk-link" href="#">Text 2</a></li>
                    </ul>'
                  }
                },
                {
                  heading: {
                    text: "Module 4: The role of the practitioner in supporting physical development"
                  },

                  content: {
                    html:
                    '<ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Text 1</a></li>
                        <li><a class="govuk-link" href="#">Text 2</a></li>
                    </ul>'
                  }
                },
                            {
                  heading: {
                    text: "Summary and next steps"
                  },

                  content: {
                    html:
                    '<ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Course recap</a></li>
                        <li><a class="govuk-link" href="#">Course feedback</a></li>
                        <li><a class="govuk-link" href="#">Download your certificate</a></li>
                    </ul>'
                  }
                }
              ]
            }) }}
        </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Recap and further reading</h2>
          <p class="govuk-body">You have reached the end of this course.  </p>

          <p class="govuk-body govuk-!-font-weight-bold">What you’ve learned</p>

          <p class="govuk-body">You’ve learned:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the respiratory, circulatory, nervous and muscoloskeletal systems are the 4 key body systems related to children’s physical development</li>
            <li>that physical development is interlinked with all other areas of a child’s development</li>
            <li>that there is a typical sequence of movements and milestones from 0 to 5 years old, but all children are unique and develop in their own time</li>
            <li>different approaches to working with parents to promote physical development and activity </li>
          </ul>

          <p class="govuk-body">You can return to the materials in this course at any time to refresh your knowledge without needing to retake the whole course. </p>

          <p class="govuk-body govuk-!-font-weight-bold">Further reading</p>

          <p class="govuk-body">You can read more about <a class="govuk-link" href="sign-up">physical development as part of the EYFS </a> on the
            Department for Education’s Help for early years providers website. The website also includes information
            about <a class="govuk-link" href="sign-up"> core strength and co-ordination,</a>  <a class="govuk-link" href="sign-up"> gross motor skills </a> and <a class="govuk-link" href="sign-up">  fine motor skills</a>. Each area includes an explanation of how the EYFS can be put into practice and ideas for activities you can do with early years children.  </p>

            <p class="govuk-body govuk-!-font-weight-bold">Course feedback</p>

            <p class="govuk-body">Next, you can tell us what you thought about this course.</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <button class="govuk-button govuk-button--secondary"  data-module="govuk-button">Previous</button>
            <a class="govuk-button align-right" data-module="govuk-button" href="/feedback">Next</a >
        </div>
      </div>
    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
