
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% from "govuk/components/input/macro.njk" import govukInput %}
                        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

                        {{ govukBackLink({
                        text: "Back",
                        href: "sign-up2"
                        }) }}

                        {% call govukFieldset({
                          legend: {
                            text: "Confirm your setting details",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}

                        <p class="govuk-body">Your training progress won’t be shared with anyone without your permission</p>    

                        <div class="govuk-grid-row">
                            
                            <div class="govuk-grid-column-one-third">
                                
                                <div class="govuk-form-group">

          
                                </div>
                       
                            </div>
                        
                          </div>
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="national-insurance-number">
                                Setting name
                            </label>
                        <div id="national-insurance-number-hint" class="govuk-hint">
                            Little Stars Childminders
                        </div>
                          <div class="govuk-form-group">              
                            <label class="govuk-label" for="national-insurance-number">
                                Address
                            </label>
                        <div id="national-insurance-number-hint" class="govuk-hint">
                            21 High Street, Banbury, Oxfordshire, OX12 9PB
                        </div>
                          <div class="govuk-form-group">     
                              
                            <label class="govuk-label" for="national-insurance-number">
                                Ofsted number
                            </label>
                        <div id="national-insurance-number-hint" class="govuk-hint">
                            EY498934
                        </div>
                     </div>

                 </div>
                
                    <div class="govuk-form-group">
                            <label class="govuk-label" for="national-insurance-number">
                                Ofsted rating
                            </label>
                        <div id="national-insurance-number-hint" class="govuk-hint">
                             Good
                        </div>
                     </div>

      
                 </div>

                 <div class="govuk-form-group">
                    <label class="govuk-label" for="national-insurance-number">
                        Setting type
                    </label>
                <div id="national-insurance-number-hint" class="govuk-hint">
                    Childminder
                </div>
             </div>
            

     
                           
                                         
                          
                          {{ govukButton({
                            "text": "Continue",
                            href: "/sign-up4"
                        }) }}

                        {% endcall %}

					</div>



				</div>

			</main>
	</div>
{% endblock %}
