{% extends "layout-dfe-blank.html" %}

{% set loggedIn = false %}
{% set milestone = 'sprint-6' %}

{% block main %}

	<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-margin-bottom-8">

				<div class="govuk-grid-row">

					<div class="govuk-grid-column-two-thirds-from-desktop">

                        {% call govukFieldset({
                          legend: {
                            text: "Choose a new password",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                          }
                        }) %}

                        <p class="govuk-body">Thank you, your email address is now verified. Please choose a new password.</p>    

                        <div class="govuk-form-group">
                          <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                            New password
                            </label>
                          </h3>
                          <div id="event-name-hint" class="govuk-hint">
                            Requires upper and lower case letters, a number and at least 8 characters. 
                          </div>
                          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
                        </div>

                        <div class="govuk-form-group">
                          <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                         Confirm password
                            </label>
                          </h3>
                        
                          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
                        </div>

                       
                                 
                        <a class="govuk-button" data-module="govuk-button" href="password-changed">Reset password</a>
                        

                        {% endcall %}

					</div>



				</div>

			</main>
	</div>
{% endblock %}
