{% extends "sprint-2/brain-development/topic-intro.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development in the early years",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "End of module test",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block navigation %}
<a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="submodule-intro">Previous</a>
<a class="govuk-button align-right" data-module="govuk-button" href="brain-parts">Save and continue</a>
{% endblock %}
