{% extends "layout.html" %}
{% from "partials/pagination.html" import pagination %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
  items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "My training",
        href: "#"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">My training</h1>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
             <h2 class="govuk-heading-m">Complete</h2>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child development and the EYFS
            </dt>
            <dd class="govuk-summary-list__value">
              10 May 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Brain development in the early years
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">12 May 2022</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                View certificate
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}