{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set displayPrimaryNav = true %}

{% block main %}

  <!-- START MAST -->
  <div class="full-BGstrip">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <h2 class="govuk-heading-l">My learning</h2>
        <h2 class="govuk-heading-m">In progress</h2>

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-full">
            <div class="app-card-container">

              <div class="app-image-card">
                <a href="#" class="govuk-body govuk-link govuk-!-font-weight-bold">
                  <img src="/public/images/home/image4.jpg" alt="">

                  <div class="app-image-card__content">

                    <h3 class="govuk-heading-s govuk-link">Module 2 : Brain development and how children learn</h3>

                    {{ govukButton({
                      "text": "Continue module",
                      href: "brain-development-overview-existing"
                    }) }}

                  </div>
                </a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- END BESPOKE MAST -->

    {# pulls in default gov uk template #}
    {{super()}}
  </div>

{% endblock %}