{% extends "sprint-4/brain-development/test-1-q3.html" %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development and how children learn",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "End of module test",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

{% block question %}
{{ govukRadios({
  idPrefix: "piaget",
  name: "quiz-result",
  fieldset: {
    legend: {
      text: "According to Piaget, around what age do babies usually develop their understanding of object permanence?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "incorrect",
      text: "3 to 4 months",
      checked: true if wrong
    },
    {
      value: "incorrect",
      text: "6 to 7 months"
    },
    {
      value: "correct",
      text: "9 to 10 months",
      checked: true if right
    },
    {
      value: "incorrect",
      text: "1 year"
    }
  ]
}) }}
{% endblock %}

{% block buttons %}
  <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="test-1-q2">Previous</a>
  <button class="govuk-button align-right" data-module="govuk-button" type="submit">Finish test</button>
{% endblock %}
