
{% extends "layout.html" %}
{% set removePrototypeBanner = true %}
{% set removeAllLinks = true %}


{% block main %}
<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container">
<h1 class="govuk-heading-l">Activate your account to access early years training</h1>

<p class="govuk-body">You are receiving this email because you asked to set up an early years training account on GOV.UK.</p>
<p class="govuk-body">To verify your email address, you need to <a href="/sprint-7/brain-development/sign-up/sign-in">activate your account</a>.</p>
<p class="govuk-body">If you did not ask to set up an early years training account on GOV.UK, please ignore this email.</p>
<p class="govuk-body govuk-!-margin-bottom-8">Kind regards <br>The Department for Education</p>
</div>
</div>
</div>
{% endblock %}

