{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Understanding child development and the EYFS",
        href: "1"
      },
      {
        text: "An informed approach to care and education",
        href: "1-1"
      },
      {
        text: "The importance of understanding child development",
        href: "1-1-1"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Page 9 of 21</span>
          <h1 class="govuk-heading-l">
            How improved child development knowledge supports outstanding practice: behaviour management
          </h1>

          <p class="govuk-body">Children can display challenging behaviour for a broad variety of reasons including:  </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>being hungry </li>
            <li>feeling unwell </li>
            <li>feeling tired </li>
            <li>learning difficulties or disabilities</li>
            <li>not knowing the unspoken rules of friendly, respectful behaviour</li>
          </ul>

          <p class="govuk-body">The learning environment can also offer potential triggers for unwanted behaviour. Your knowledge of child development will help you to avoid, minimise and resolve such incidents.    </p>

          <h2 class="govuk-heading-m">Communication issues </h2>

          <p class="govuk-body">If instructions, activities and experiences are not tailored to a child’s needs or communication level, they may become frustrated. You can use your knowledge of child development to apply suitable strategies to avoid such frustrations and reduce lost learning time. </p>

          <h2 class="govuk-heading-m">Unsuitable activities and experiences </h2>

          <p class="govuk-body">If a child is not challenged by their environment, or feels a task is too difficult, they may want to avoid it and involve themselves in an alternative task. This may be unproductive or disruptive to others. You should provide a stage appropriate environment with managed risk and calculated challenge.  </p>

          <h2 class="govuk-heading-m">Inconsistency </h2>

          <p class="govuk-body">For effective learning to take place children need to experience consistency regarding boundaries, routines and key people. These strategies need to be deployed to meet the child’s level of communication and cognitive skills to reap maximum benefits. A child who feels secure and understood will be free to explore and learn.  </p>

          <p class="govuk-body">Furthering your understanding of  how patterns of development can influence building relationships, developing confidence and  children’s response to strategies will ensure you are able to effectively support children by minimising opportunities for unwanted behaviour and promoting successful learning environments. </p>




            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="1-1-1-5">Previous</a>
            <a class="govuk-button align-right" data-module="govuk-button" href="1-1-1-7">Save and continue</a>




        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

