
{% extends "layout.html" %}
{% set removePrototypeBanner = true %}
{% set removeAllLinks = true %}


{% block main %}
<div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container">
<h1 class="govuk-heading-l">Sorry, this service is unavailable</h1>

<p class="govuk-body">The prototype version of Child development training is no longer available. It has been replaced with a more complete version of the service. </p>
<p class="govuk-body">We’ve sent instructions on how to access the updated training course to the email address you used to sign up for the prototype service.</p>
<p class="govuk-body">If you have not received this emai, you can use this link to <a href="/sprint-7/brain-development/sign-up/sign-in">access the more complete Child development course</a>.</p>

</div>
</div>
</div>
{% endblock %}

