{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}


{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">

          <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Brain development and how children learn</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">The developing brain</a>
              </li>
            </ol>
          </div>
        </ol>
      </div>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter"></div>
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Page 10 of 13</span>
        <h1 class="govuk-heading-l">
          A healthy diet
        </h1>

        <!-- 
          <img src="/public/images/brain-diagram.jpg"  alt="Parts of the brain">
          </br>
          </br>
        -->

        <p class="govuk-body">It is critical that children receive a balanced diet to support the rapid development
          taking place.</p>

        <p class="govuk-body">A lack of iron in this crucial period could impact negatively on development. In the long
          term, a lack of iron can also lead to iron deficiency anaemia. As a result, a child may suffer from a lack of
          energy, making it difficult for them to concentrate or have the energy to practice new skills. </p>

        <p class="govuk-body">Babies and young children need the opportunity to eat at regular intervals so they can
          concentrate and engage. Have you ever noticed that children can become disengaged very easily just before
          lunch?</p>

        <p class="govuk-body">Children who are worried about when their next meal or snack is coming will not be able to
          learn effectively. Routines that include consistent snack and mealtimes will ensure that children do not
          become hungry. They can concentrate without worrying about their next meal. </p>

        <div class="govuk-inset-text prompt govuk-!-padding-bottom-6">
          <h2 class="govuk-heading-m">Practitioner prompt</h2>

          <p class="govuk-body">How does your setting promote healthy eating?</p>

          <p class="govuk-body">Do you carry out activities to develop the children’s understanding of the importance of
            healthy eating?</p>

          <p class="govuk-body">How did you use this opportunity to develop the children’s language and communication
            skills?</p>

        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="quiz-2.html">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="video-content">Save and continue</a>

      </div>
    </div>

  </main>
</div>
{{super()}}
{% endblock %}
