{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
</div>

</br> <!-- START MAST -->
<div class="full-BGstrip BGstrip-grey">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <!-- START INTRO -->
        <div class="govuk-grid-column-two-thirds  ">
          <h1 class="govuk-heading-l ">Brain development and how children learn</h1>
          <p class="govuk-caption-m">The rapid changes that happen in the brain in a child’s first years lay critical
            foundations for later childhood and adult life. </p>
          <p class="govuk-caption-m">As an early years practitioner you can play a significant role in encouraging and
            supporting brain development.</p>

          <p class="govuk-caption-m">This module will reinforce your understanding of how the brain develops and how to
            consider factors affecting brain development when planning for your setting. </p>

          {{ govukButton({
          "text": "Start",
          href: "/introduction/about-interrupt"
          }) }}
        </div>
    </main>
  </div>
</div>
<!-- END BESPOKE MAST -->

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    </br>


    {{govukTag({
    text: "20 topics",
    classes: "govuk-tag--green"
    })}}

    {{govukTag({
    text: "2 hours",
    classes: "govuk-tag--green"
    })}}

  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

      {{ govukAccordion({
        id: "accordion-with-summary-sections",
        items: [
          {
            heading: {
              text: "Introduction"
            },
            summary: {
              text: "Introduction to the brain development and how children learn module"
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="module-intro.html">Introduction to the brain development and how children learn module</a>
                    
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

              </ul>'
            }
          },
              {
            heading: {
              text: "The developing brain"
            },
            summary: {
              text: "Introduction must be completed before you begin this section  "
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Introduction to the developing brain</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Brain development before birth</a>
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

                  <li>
                    <a class="govuk-link" href="#">Brain development from 0-5</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Factors affecting brain development</a>
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

              </ul>'
            }
          },
                  {
            heading: {
              text: "How children learn"
            },
            summary: {
              text: "Supporting self-regulation must be completed before you begin this section"
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Introduction to how children learn</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">How brain development affects learning</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Theories of learning</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">The role of the early years practitioner</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>


              </ul>'
            }
          },
          {
            heading: {
              text: "Development of social and emotional skills"
            },
            summary: {
              text: "Supporting self-regulation must be completed before you begin this section"
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Introduction to the development of social and emotional skills</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">How social and emotional skills develop</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Supporting skill development </a>
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">How social and emotional skills affect learning and behaviour</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

              </ul>'
            }
          },
          {
            heading: {
              text: "Building positive relationships"
            },
            summary: {
              text: "Supporting self-regulation must be completed before you begin this section"
            },
            content: {
              html:
              '<ul class="govuk-list">

                  <li>
                    <a class="govuk-link" href="#">Introduction to attachment theory</a>  
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Supporting children to develop positive relationships</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">How positive relationships affect learning and behaviour</a>    
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

              </ul>'
            }
          },

          {
            heading: {
              text: "Supporting self-regulation"
            },
            summary: {
              text: "Building positive relationships must be completed before you begin this section"
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Introduction to supporting self-regulation</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Why self-regulation is important</a>   
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">How self-regulation affects learning and behaviour</a> 
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Strategies for supporting self-regulation</a>   
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

              </ul>'
            }
          },
                      {
            heading: {
              text: "Summary and next steps"
            },
            summary: {
              text: "Supporting self-regulation must be completed before you begin this section"
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="/recap">Recap and further reading</a>  

                    <strong class="govuk-tag align-right">
                      Not started
                    </strong>

                  </li>
                  <li>
                    <a class="govuk-link" href="feedback">End of module assessment</a>     
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="feedback">Confidence check</a>     
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>
                  <li>
                    <a class="govuk-link" href="certificate">Download your certificate</a>  
                    <strong class="govuk-tag align-right">
                      Not started
                      </strong>
                  </li>

              </ul>'
            }
          }


        ]
      }) }}
    </div>
  </div>
</div>

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}
