{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Brain development in the early years",
          href: "#"
        }
      ]
    }) }}
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Get your certificate</h1>
  
          <p class="govuk-body">Congratulations! You have now completed this module. </p>
  
          <p class="govuk-body">You can now <a class="govuk-link" href="#">download a PDF certificate</a> to share or
            print yourself. </p>
  
          <p class="govuk-body">If the name or setting on your certificate is not what you expect, you can update them in
            your profile settings. </p>
  
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <img src="/public/images/dfe-logo.png" alt="Department for Education logo">
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-s govuk-!-margin-top-3">Certificate of achievement</h2>
          <p style="font-size:36px;">Amira Hussain</p>
          <p class="govuk-body">has completed the following module:</p>
          <p style="font-size:32px;">Brain development and how children learn</p>
          <p class="govuk-body">
            <span class="visually-hidden">Date completed: </span>4 May 2022
          </p>
          <p class="govuk-body">This module covered how to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              establish and explore the stages of children's brain development
            </li>
            <li>
              explore the impact of brain development on children's holistic development
            </li>
            <li>
              examine the connection between brain development and children's learning
            </li>
            <li>
              define and evaluate the importance of effective relationships
            </li>
  
            <li>
              explore a range of theories underpinning best practice
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
  
          <img src="/public/images/signature.png" alt="Debbie Parry's signature" width="80" height="120">
        </div>
      </div>
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-8">
            <span class="visually-hidden">Signed by: </span>Debbie Parry <br>on behalf of the Department for Education
          </p>
          <a class="govuk-link govuk-body govuk-!-margin-bottom-4" href="#">Print certificate</a>
          <br>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">
  
          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="feedback">Previous</a>
          <a class="govuk-button align-right" data-module="govuk-button" href="my-training-completed">Finish</a>
  
        </div>
      </div>
    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}{% endblock %}