{% extends "layout.html" %}

{% set milestone = 'sprint-6' %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}



{% block main %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development and how children learn",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "End of module test",
        href: "#"
      }
    ]
  }) }}
</div>
{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Page 3 of 11</span>
        <h1 class="govuk-heading-l">
          Brain development before birth
        </h1>
        <p class="govuk-body">Over the following pages we will identify and explain the expected patterns of brain and early language development 
          and then consider the influences that may impact on a child’s brain development even before they are born. </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="submodule-intro">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="brain-parts">Save and continue</a>

      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}
