{% extends "layout.html" %}

{% set loggedIn = true %}
{% set milestone = 'sprint-7' %}
{% block main %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Brain development and how children learn",
        href: "#"
      },
      {
        text: "The developing brain",
        href: "#"
      },
      {
        text: "Understanding the world",
        href: "#"
      }
    ]
  }) }}
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Page 11 of 13</span>
        <h1 class="govuk-heading-l">Understanding the world</h1>
        <p class="govuk-body">In this video, an early years expert explains the importance of the diverse world in the early years foundation stage framework. There are also some tips on how to support children in this area.</p>
        <div class="app-search-form-container govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m">Video: Understanding a diverse world</h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JQVWWjTFca8" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
          <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Transcript
              </span>
            </summary>
            <div class="govuk-details__text" style="background-color:white; border-left:none !important;">
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Transcript</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-visually-hidden">Timestamp</th>
                    <th scope="col" class="govuk-table__header govuk-visually-hidden">Commentary</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border:none;">00:03</th>
                    <td class="govuk-table__cell" style="border:none;">The world is diverse and every child’s experience
                      of it is unique. Diversity can mean difference</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border:none;">00:12</th>
                    <td class="govuk-table__cell" style="border:none;">in age, gender, sexual orientation, ethnicity,
                      heritage, appearance, religion, spoken languages</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border:none;">00:23</th>
                    <td class="govuk-table__cell" style="border:none;">and capabilities. As children develop socially
                      and culturally, they will experience greater</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border:none;">00:41</th>
                      <td class="govuk-table__cell" style="border:none;">diversity as their worlds expand. Children
                        experience diversity in their developing understanding</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border:none;">00:50</th>
                      <td class="govuk-table__cell" style="border:none;">of ecology and technology, looking at and
                        describing differences and similarities in the made, built and natural worlds.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border:none;">00:55</th>
                      <td class="govuk-table__cell" style="border:none;">So, we’re here today to think about understanding
                        the world and first of all we’re going to focus on our diverse world, which is, I think,
                        a vast topic.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border:none;">01:03</th>
                      <td class="govuk-table__cell" style="border:none;">So, we’re going to think about how we unpick that for children. So first
                        of all, we’re going to think about the child coming into the setting and the role that
                        different languages play in that.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border:none;">01:20</th>
                      <td class="govuk-table__cell" style="border:none;">We know that in society very many languages are spoken.
                        So, what I’m very interested in is how do you approach that in your setting?</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </details>
        
        </div>
        <hr>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="a-healthy-diet">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="individual-potential">Save and continue</a>



        </div>
        </div>
        </main>
        </div>
        {% endblock %}