{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Supporting physical development in the early years overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Course start</a>
      </li>
    </ol>
  </div>
  </div>

<div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukAccordion({
                    id: "accordion-with-summary-sections",
                    items: [
                      {
                        heading: {
                          text: "Introduction"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Intro</a>
                              </li>

                          </ul>'
                        }
                      },
                          {
                        heading: {
                          text: "Module 1:  Body systems and physical development"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Respiratory system</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Nervous system</a>
                              </li>

                              <li>
                                <a class="govuk-link" href="#">Circulatory system </a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Musculoskeletal system</a>
                              </li>

                          </ul>'
                        }
                      },
                              {
                        heading: {
                          text: "Module 2: Movement and learning"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>

                          </ul>'
                        }
                      },
                      {
                        heading: {
                          text: "Module 3: Developing movement"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>

                          </ul>'
                        }
                      },
                      {
                        heading: {
                          text: "Module 4: The role of the practitioner in supporting physical development"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Text 1</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Text 2</a>
                              </li>

                          </ul>'
                        }
                      },
                                  {
                        heading: {
                          text: "Summary and next steps"
                        },

                        content: {
                          html:
                          '<ul class="govuk-list">
                              <li>
                                <a class="govuk-link" href="#">Course recap</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Course feedback</a>
                              </li>
                              <li>
                                <a class="govuk-link" href="#">Download your certificate</a>
                              </li>

                          </ul>'
                        }
                      }


                    ]
                  }) }}


            </div>

          </div>

        </div>

        <div class="govuk-grid-column-two-thirds">



          <h2 class="govuk-heading-m">Recent updates to Piaget's theories</h2>

          <p class="govuk-body">Large numbers of studies and experiments were carried out to support Piaget’s work and positively reinforced his findings.</p>

          <p class="govuk-body">However, more recent research also shows some criticisms and questions regarding Piaget’s work.</p>

          <p class="govuk-body">Examples have been documented of babies having the ability to show surprise and look for things that have disappeared from their environment, suggesting that they can have the expectation that an object continues to exist even though they can no longer see it. </p>

          <p class="govuk-body">This would suggest that babies and young children have some ability to form abstract thoughts which is contradictory to Piaget’s previous thoughts.</p>

          <p class="govuk-body">Piaget’s research was also criticised for not taking into account a wide variety of socio-economic factors within the environment as much of his research was conducted with children of well educated professionals.   </p>

          <p class="govuk-body">Current research believes that babies and young children learn through a combination of sensorimotor activities like using their senses to explore their environment and the opportunity to build upon previous experiences and opportunities. </p>





            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

            <button class="govuk-button govuk-button--secondary"  data-module="govuk-button">Previous</button > </br>

              {{ govukButton({
                "text": "Next",
                href: "/feedback"
              }) }}


              {{ govukCheckboxes({
                idPrefix: "waste",
                name: "waste",
                fieldset: {
                  legend: {

                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {

                },
                items: [
                  {
                    value: "carcasses",
                    text: "Mark as complete"
                  },

                  {

                  }
                ]
              }) }}



        </div>
      </div>

    </main>
  </div>

  {{super()}}
{% endblock %}

{% block content %}

{% endblock %}
