{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

{% block breadcrumbs %}
<div class="govuk-width-container">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Supporting physical development in the early years overview",
        href: "#"
      },
      {
        text: "Course start",
        href: "#"
      }
    ]
  }) }}
  {% endblock %}

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% include "partials/accordion-no-summary-text.html" %}
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Recap and further reading</h2>
        <p class="govuk-body">You have reached the end of this course.  </p>

        <p class="govuk-body govuk-!-font-weight-bold">What you’ve learned</p>

        <p class="govuk-body">You’ve learned:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the respiratory, circulatory, nervous and muscoloskeletal systems are the 4 key body systems related to children’s physical development</li>
          <li>that physical development is interlinked with all other areas of a child’s development</li>
          <li>that there is a typical sequence of movements and milestones from 0 to 5 years old, but all children are unique and develop in their own time</li>
          <li>different approaches to working with parents to promote physical development and activity </li>
        </ul>
      
        <p class="govuk-body">You can return to the materials in this course at any time to refresh your knowledge without needing to retake the whole course. </p>
        
        <p class="govuk-body govuk-!-font-weight-bold">Further reading</p>

        <p class="govuk-body">You can read more about <a class="govuk-link" href="sign-up">physical development as part of the
          EYFS </a> on the Department for Education’s Help for early years providers website. The website also includes information 
          about <a class="govuk-link" href="sign-up"> core strength and co-ordination,</a> <a class="govuk-link" href="sign-up">
          gross motor skills </a> and <a class="govuk-link" href="sign-up"> fine motor skills</a>. Each area includes an
          explanation of how the EYFS can be put into practice and ideas for activities you can do with early years children.
        </p>

          <p class="govuk-body govuk-!-font-weight-bold">Course feedback</p>
    
          <p class="govuk-body">Next, you can tell us what you thought about this course.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

          {% block navigation %}
            <button class="govuk-button govuk-button--secondary"  data-module="govuk-button">Previous</button > </br>
            {{ govukButton({
              "text": "Next",
              href: "./feedback"
            }) }}
          {% endblock %}
      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}
